{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle}</H1>

    <FORM class="form-inline" METHOD="POST" NAME="page" action="?m=messagelist">
        <INPUT type="submit" class="hiddenbtn">
        <INPUT class="form-control form-control-sm" type="text" name="search" value="{$listdata.search}" placeholder="{trans("Enter value of searching data and select category")}">
        <SELECT class="form-control form-control-sm" name="cat">
            <OPTION value=""{if $listdata.cat == ""} SELECTED{/if}>{trans("- select filter category -")}</OPTION>
            <OPTION value="subject"{if $listdata.cat == "subject"} SELECTED{/if}>{trans("subject")}</OPTION>
            <OPTION value="name"{if $listdata.cat == "name"} SELECTED{/if}>{trans("customer name")}</OPTION>
            <OPTION value="customerid"{if $listdata.cat == "customerid"} SELECTED{/if}>{trans("customer ID")}</OPTION>
            <OPTION value="username"{if $listdata.cat == "username"} SELECTED{/if}>{trans("user name")}</OPTION>
            <OPTION value="userid"{if $listdata.cat == "userid"} SELECTED{/if}>{trans("user ID")}</OPTION>
            <OPTION value="destination"{if $listdata.cat == "destination"} SELECTED{/if}>{trans("destination number/email")}</OPTION>
        </SELECT>
        {trans("Type:")}
        <SELECT class="form-control form-control-sm" name="type">
            <OPTION value="0"{if !$listdata.type} SELECTED{/if}>{trans("- all types -")}</OPTION>
            <OPTION value="{$smarty.const.MSG_MAIL}"{if $listdata.type == $smarty.const.MSG_MAIL} SELECTED{/if}>{trans("email")}</OPTION>
            <OPTION value="{$smarty.const.MSG_SMS}"{if $listdata.type == $smarty.const.MSG_SMS} SELECTED{/if}>{trans("sms")}</OPTION>
            <OPTION value="{$smarty.const.MSG_ANYSMS}"{if $listdata.type == $smarty.const.MSG_ANYSMS} SELECTED{/if}>{trans("any sms")}</OPTION>
            <OPTION value="{$smarty.const.MSG_WWW}"{if $listdata.type == $smarty.const.MSG_WWW} SELECTED{/if}>{trans("www")}</OPTION>
            <OPTION value="{$smarty.const.MSG_USERPANEL}"{if $listdata.type == $smarty.const.MSG_USERPANEL} SELECTED{/if}>{trans("userpanel")}</OPTION>
            <OPTION value="{$smarty.const.MSG_USERPANEL_URGENT}"{if $listdata.type == $smarty.const.MSG_USERPANEL_URGENT} SELECTED{/if}>{trans("userpanel urgent")}</OPTION>
        </SELECT>
        {trans("Status:")}
        <SELECT class="form-control form-control-sm" name="status">
            <OPTION value=""{if !$listdata.status} SELECTED{/if}>{trans("- all statuses -")}</OPTION>
            <OPTION value="{$smarty.const.MSG_NEW}"{if $listdata.status == $smarty.const.MSG_NEW} SELECTED{/if}>{trans("waiting<!plural>")}</OPTION>
                {*
                <OPTION value="{$smarty.const.MSG_DRAFT}"{if $listdata.status == $smarty.const.MSG_DRAFT} SELECTED{/if}>{trans("drafts")}</OPTION>
                *}
            <OPTION value="{$smarty.const.MSG_SENT}"{if $listdata.status == $smarty.const.MSG_SENT} SELECTED{/if}>{trans("sent<!plural>")}</OPTION>
            <OPTION value="{$smarty.const.MSG_ERROR}"{if $listdata.status == $smarty.const.MSG_ERROR} SELECTED{/if}>{trans("errornous<!plural>")}</OPTION>
            <OPTION value="{$smarty.const.MSG_DELIVERED}"{if $listdata.status == $smarty.const.MSG_DELIVERED} SELECTED{/if}>{trans("delivered<!plural>")}</OPTION>
        </SELECT>
        <A class="btn btn-sm btn-primary" href="javascript: document.page.submit();">{trans("search")}</A>
    </FORM>

    {if $listdata.total != 0}
        {include file="scroller.html" loop=$messagelist scrollerno=1}
    {/if}

    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-inverse">
            <TR>
                <th><A href="?m=messagelist&amp;o=cdate{if $listdata.direction == "asc" && $listdata.order == "cdate"},desc{/if}">{trans("Date:")}</A> {if $listdata.order == "cdate"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}</th>
                <th></th>
                <th><A href="?m=messagelist&amp;o=subject{if $listdata.direction == "asc" && $listdata.order == "number"},desc{/if}">{trans("Subject:")}</A> {if $listdata.order == "subject"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}</th>
                <th><A href="?m=messagelist&amp;o=cnt{if $listdata.direction == "asc" && $listdata.order == "cnt"},desc{/if}">{trans("Recipients:")}</A> {if $listdata.order == "cnt"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}</th>
                <th>{t a=$listdata.total}Total: $a{/t}</th>
            </TR>
        </THEAD>
        <TBODY>
            {section name=messagelist loop=$messagelist start=$start max=$pagelimit}
                {assign var=message value=$messagelist[messagelist]}
                <TR class="{if $message.error > 0} text-danger{elseif $message.error} text-warning{elseif $message.delivered == $message.cnt} text-success{elseif $message.sent == $message.cnt} text-muted{/if}">
                    <TD>
                        {$message.cdate|date_format:"%Y/%m/%d %H:%M"}
                    </TD>
                    <TD>
                        {if $message.type == $smarty.const.MSG_MAIL}
                            <span class="label label-primary">{trans("email")}</span>
                        {elseif $message.type == $smarty.const.MSG_WWW}
                            <span class="label label-warning">{trans("www")}</span>
                        {elseif $message.type == $smarty.const.MSG_USERPANEL || $message.type == $smarty.const.MSG_USERPANEL_URGENT}
                            <span class="label label-info">{trans("userpanel")}</span>
                        {else}
                            <span class="label label-danger">{trans("sms")}</span>
                        {/if}
                    </TD>
                    <TD>
                        <a href="?m=messageinfo&amp;id={$message.id}">{$message.subject}</a>
                    </TD>
                    <TD>
                        {$message.cnt|default:0}
                    </TD>
                    <TD>
                        <A class="btn btn-sm btn-danger" onclick="return confirmLink(this, '{trans("Are you sure, you want to delete that message?")}')" href="?m=messagedel&amp;id={$message.id}" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                    </TD>
                </TR>
            {sectionelse}
                <TR>
                    <TD colspan="5">
                        {trans("No such messages in database.")}
                    </TD>
                </TR>
            {/section}
        </TBODY>
    </TABLE>

    {t a=$listdata.total}Total: $a{/t}

    {if $listdata.total != 0}
        {include file="scroller.html" loop=$messagelist scrollerno=2}
    {/if}
{/block}
