{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <h1>{$layout.pagetitle}</h1>
    <form class="form-inline" method="post" name="nodegroupadd" action="?m=nodegroupadd">
        <input type="submit" class="hiddenbtn">
        <div class="card">
            <div class="card-header">
                {trans("Name")}:
                <input class="form-control form-control-sm" type="text" name="nodegroupadd[name]" value="{$nodegroupadd.name}" required {tip trigger="name" bold=1}>
            </div>
            <div class="card-block">
                {trans("Description")}:<br>
                <textarea class="form-control form-control-sm" name="nodegroupadd[description]" cols="50" rows="5" {tip text="Enter additional information (optional)"}>{$nodegroupadd.description}</textarea>
                <hr>
                <a class="btn btn-sm btn-danger" href="javascript:document.nodegroupadd.submit();" accesskey="s">{trans("Submit")}</a>
                <a class="btn btn-sm btn-secondary" href="?m=nodegrouplist">{trans("Cancel")}</a>

                <label for="reuse" class="btn btn-info pull-md-right">
                    {trans("Display this form again, when this group is saved")}
                    <INPUT type="checkbox" name="nodegroupadd[reuse]" id="reuse" value="ON" {if $nodegroupadd.reuse}checked{/if}>
                </label>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        document.forms['nodegroupadd'].elements['nodegroupadd[name]'].focus();
    </script>
{/block}

