{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    {include file="calendar_js.html"}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle}</H1>
    <script type="text/javascript">
        <!--
            function filter() {
            document.page.action = "?m=nodesessionlist";
            document.page.target = "";
            document.page.submit();
        }

        {if ConfigHelper::checkConfig('phpui.short_pagescroller')}
        function pagechange1() {
            document.page.action = "?m=nodesessionlist&page=" + document.forms['page'].elements['page1'].value;
            document.page.target = "";
            document.page.submit();
        }

        function pagechange2() {
            document.page.action = "?m=nodesessionlist&page=" + document.forms['page'].elements['page2'].value;
            document.page.target = "";
            document.page.submit();
        }
        {/if}
        //-->
    </script>
    <FORM class="form-inline" METHOD="POST" NAME="page">
        <INPUT type="submit" class="hiddenbtn">

        <label>
            <SELECT class="form-control form-contol-sm" name="filtertype">
                <OPTION value="">{trans("- none -")}</OPTION>
                <OPTION value="ip"{if $filtertype == 'ip'} selected{/if}>{trans("IP Address:")}</OPTION>
                <OPTION value="mac"{if $filtertype == 'mac'} selected{/if}>{trans("MAC:")}</OPTION>
                <OPTION value="customer"{if $filtertype == 'customer'} selected{/if}>{trans("Customer:")}</OPTION>
                <OPTION value="nodeid"{if $filtertype == 'nodeid'} selected{/if}>{trans("Node ID:")}</OPTION>
            </SELECT>
            <input class="form-control form-contol-sm" type="text" maxlength="32" name="filtervalue" value="{$filtervalue}">
        </label>


        <label>
            {trans("Type:")}
            <SELECT class="form-control form-contol-sm" name="type">
                <OPTION value="0">{trans("- all -")}</OPTION>
                    {foreach $_SESSIONTYPES as $typeidx => $typeval}
                    <OPTION value="{$typeidx}"{if $type == $typeidx} selected{/if}>{$typeval.label}</OPTION>
                    {/foreach}
            </SELECT>
        </label>


        {trans("Started:")} <INPUT class="form-control form-contol-sm" type="text" name="datefrom" maxlength="20" value="{$datefrom}" {tip class="calendar-time" text="Enter date in 'yyyy/mm/dd hh:mm' format (empty field means current date) or click to choose date from calendar"}>


        {trans("Finished:")} <INPUT class="form-control form-contol-sm" type="text" name="dateto" maxlength="20" value="{$dateto}" {tip class="calendar-time" text="Enter date in 'yyyy/mm/dd hh:mm' format (empty field means current date) or click to choose date from calendar"}>


        <a class="btn btn-sm btn-primary" href="javascript:filter();">{trans("Filter")}</a>


        <TABLE class="table table-sm table-striped table-bordered table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>{trans("IP Address:")}</th>
                    <th>{trans("Customer:")}</th>
                    <th>{trans("MAC:")}</th>
                    <th>{trans("Type:")}</th>
                    <th>{trans("Started:")}</th>
                    <th>{trans("Finished:")}</th>
                    <th>{trans("Time Duration:")}</th>
                    <th>{trans("Terminate Cause:")}</th>
                    <th>{trans("Downloaded:")}</th>
                    <th>{trans("Uploaded:")}</th>
                </tr>
                {if $listdata.total != 0}
                    <TR>
                        <TD COLSPAN="10">
                            {include file="scroller.html" loop=$nodesessions scrollerno=1}
                        </TD>
                    </TR>
                {/if}
            </thead>
            <tfoot>
                {if $listdata.total != 0}
                    <TR>
                        <TD COLSPAN="10">
                            {include file="scroller.html" loop=$nodesessions scrollerno=2}
                        </TD>
                    </TR>
                {/if}
            </tfoot>
            <tbody>
                {section name=nodesession loop=$nodesessions start=$start max=$pagelimit}
                    {assign var=session value=$nodesessions[nodesession]}
                    <tr>
                        <td>
                            {if $session.nodeid}
                                <a href="?m=nodeinfo&id={$session.nodeid}">
                                {/if}
                                {long2ip($session.ipaddr)}
                                {if $session.nodeid}
                                </a>
                            {/if}
                        </td>
                        <td>
                            {if $session.customerid}
                                <a href="?m=customerinfo&id={$session.customerid}">{$session.lastname} {$session.name}</a>
                            {else}
                                -
                            {/if}
                        </td>
                        <td>{$session.mac}</td>
                        <td>
                            {$unknowntype=1}{$firsttype=1}
                            {foreach $_SESSIONTYPES as $sessiontypeid => $sessiontype}
                                {if ($session.type & $sessiontypeid) == $sessiontypeid}
                                    {if !$firsttype}
                                        , 
                                    {/if}
                                    {$sessiontype.label}
                                    {$firsttype=0}
                                    {$unknowntype=0}
                                {/if}
                            {/foreach}
                            {if $unknowntype}
                                -
                            {/if}
                        </td>
                        <td>
                            <span class="bold">{$session.start|date_format:"%Y.%m.%d"}</span> {$session.start|date_format:"%H:%M:%S"}
                        </td>
                        <td>
                            {if $session.stop}
                                <span class="bold">{$session.stop|date_format:"%Y.%m.%d"}</span> {$session.stop|date_format:"%H:%M:%S"}
                            {else}
                                -
                            {/if}
                        </td>
                        <TD>{$session.duration}</TD>
                        <TD>{$session.terminatecause}</TD>
                        <TD>{$session.download}</TD>
                        <TD>{$session.upload}</TD>
                    </tr>
                {sectionelse}
                    <tr>
                        <td colspan="10">
                            {trans("There are no sessions matching defined filter.")}
                        </td>
                    </tr>
                {/section}
            </tbody>
        </table>
    </form>
{/block}
