{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    {$xajax}
    <script type="text/javascript" src="img/tinymce3/tiny_mce.js"></script>
    <SCRIPT TYPE="text/javascript">
        <!--
            function SelectAllNodes()
        {
            if (document.setwarnings.nodes.checked)
                for (var i = 0; i < document.getElementById('nodeslist').length; i++)
                    document.getElementById('nodeslist').options[i].selected = true;
            else
                for (var i = 0; i < document.getElementById('nodeslist').length; i++)
                    document.getElementById('nodeslist').options[i].selected = false;
        }

        function SelectAllNodes2()
        {
            document.setwarnings.nodes.checked = !document.setwarnings.nodes.checked;
            SelectAllNodes();
        }

        function switchbox(id)
        {
            if ((id.name == 'setwarnings[warnon]') && id.checked)
                document.setwarnings.elements['setwarnings[warnoff]'].checked = false;
            if ((id.name == 'setwarnings[warnoff]') && id.checked)
                document.setwarnings.elements['setwarnings[warnon]'].checked = false;
        }

        function switchbox1()
        {
            document.setwarnings.elements['setwarnings[warnon]'].checked = !document.setwarnings.elements['setwarnings[warnon]'].checked;
            switchbox(document.setwarnings.elements['setwarnings[warnon]']);
        }

        function switchbox2()
        {
            document.setwarnings.elements['setwarnings[warnoff]'].checked = !document.setwarnings.elements['setwarnings[warnoff]'].checked;
            switchbox(document.setwarnings.elements['setwarnings[warnoff]']);
        }

        function change_message_template(tmplid) {
            if (tmplid) {
                xjx.$('msgtmplid').disabled = true;
                xajax_getMessageTemplate(tmplid);
            }
        }

        function messageTemplateReceived(message) {
            if (tinyMCE.get('message') != undefined) {
                tinyMCE.get('message').setContent(message);
                xjx.$('message').value = message;
            } else
                xjx.$('message').value = message;
            xjx.$('msgtmplid').disabled = false;
        }
        //-->
    </SCRIPT>
    <H1>{$layout.pagetitle}</H1>
    <FORM class="form-inline" NAME="setwarnings" METHOD="POST" ACTION="?m=nodewarn" id="setwarnings">
        <INPUT type="submit" class="hiddenbtn">

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">{trans("Nodes")}</div>
                    <div class="card-block">
                        <SELECT size="30" name="setwarnings[mnodeid][]" id="nodeslist" multiple {tip text="Select nodes"}>
                            {section name=nodelist loop=$nodelist}
                                <OPTION value="{$nodelist[nodelist].id}" {if $nodelist[nodelist].warning}CLASS="red"{/if}>{$nodelist[nodelist].name|truncate:40:"...":true} / {$nodelist[nodelist].ip} ({$nodelist[nodelist].id|string_format:"%04d"})</OPTION>
                                {/section}
                        </SELECT>

                        <br><br>

                        <label><A href="javascript:SelectAllNodes2()">{trans("Select All<!nodes>")}</A></label>
                        <INPUT class="from-control form-control-sm" type="checkbox" name="nodes" OnClick="javascript:SelectAllNodes()">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        {trans("Notice content")}
                        <label class="btn btn-sm btn-secondary" for="message_label">{trans("visual editor")}
                            <input class="form-control form-control-sm" type="checkbox" id="message_label" onClick="javascript:toggle_visual_editor('message');"{if ConfigHelper::getConfig('phpui.default_editor') == 'wysiwyg'} checked{/if}>
                        </label>
                    </div>
                    <div class="card-block">

                        <label for="msgtmplid">{trans("Message template:")}</label>
                        <select class="form-control form-control-sm" name="setwarnings[tmplid]" id="msgtmplid" {tip trigger="msgtmplid" text="Select message template"} onChange="javascript:change_message_template(this.options[this.selectedIndex].value);">
                            <option value="0">{trans("- none -")}</option>
                            {foreach $messagetemplates as $msgtmpl}
                                <option value="{$msgtmpl.id}">{$msgtmpl.name}</option>
                            {/foreach}
                        </select>                        

                        <br>

                        <label>{trans("Node notice content")}</label><br>
                        <textarea class="form-control form-control-sm" name="setwarnings[message]" id="message" rows="20" cols="75">
                            {$warnmessage}
                        </textarea>                        

                        <br>

                        <div class="radio">
                            <label for="msgtmplradionone">
                                <input class="form-control form-control-sm" type="radio" name="setwarnings[tmploper]" id="msgtmplradionone" value="1" onClick="javascript:document.getElementById('msgtmplname').style.display = 'none';" checked>
                                {trans("no operation on message template")}
                            </label>
                        </div>

                        <br>

                        <div class="radio">
                            <label for="msgtmplradioupdate">
                                <input class="form-control form-control-sm" type="radio" name="setwarnings[tmploper]" id="msgtmplradioupdate" value="2" onClick="javascript:document.getElementById('msgtmplname').style.display = 'none';">
                                {trans("message template update")}
                            </label>
                        </div>

                        <br>

                        <div class="radio">
                            <label for="msgtmplradionew">
                                <input class="form-control form-control-sm" type="radio" name="setwarnings[tmploper]" id="msgtmplradionew" value="3" onClick="javascript:document.getElementById('msgtmplname').style.display = '';">
                                {trans("message template creation")}
                                <input class="form-control form-control-sm" type="text" name="setwarnings[tmplname]" id="msgtmplname" style="display: none;" placeholder="{trans('Enter name of the new message template')}">
                            </label>
                        </div><br>

                        <br>


                        <INPUT TYPE="checkbox" NAME="setwarnings[warnon]" ID="warnon" OnClick="switchbox(this);"{if $warnon}CHECKED{/if}><A HREF="javascript:switchbox1()">{trans("Enable")}</A>
                        / <INPUT TYPE="checkbox" NAME="setwarnings[warnoff]" ID="warnoff" OnClick="switchbox(this);" {if $warnoff}CHECKED{/if}><A HREF="javascript:switchbox2()">{trans("Disable")}</A>

                        <hr>

                        <A class="btn btn-sm btn-danger" href="javascript:document.setwarnings.submit()" accesskey="s">{trans("Submit")}</A>
                    </div>
                </div>
            </div>
        </div>

    </FORM>

    <SCRIPT type="text/javascript">
        <!--//
                                    document.forms['setwarnings'].elements['setwarnings[message]'].focus();

        tinymce_init('{$_ui_language}');
        {if ConfigHelper::getConfig('phpui.default_editor') == 'wysiwyg'}
        toggle_visual_editor('message');
        {/if}
        //-->
    </SCRIPT>

{/block}
