<!--// $Id$ //-->
{$xajax}
<script src="img/clipboard.min.js"></script>
<SCRIPT type="text/javascript">
<!--
    new Clipboard('.CopyIp');

    function chkmac_change()
    {
        if (xjx.$('chkmac').checked)
            location.href = '?m=nodeedit&id={$nodeinfo.id}&action=chkmac&chkmac=1';
        else
            location.href = '?m=nodeedit&id={$nodeinfo.id}&action=chkmac&chkmac=0';
    }

    function duplex_change()
    {
        if (xjx.$('duplex').checked)
            location.href = '?m=nodeedit&id={$nodeinfo.id}&action=duplex&duplex=1';
        else
            location.href = '?m=nodeedit&id={$nodeinfo.id}&action=duplex&duplex=0';
    }

    function change_authtype() {
        var authtype = 0;
    {foreach $_SESSIONTYPES as $idx => $sessiontype}
        authtype |= (xjx.$('authtype{$idx}').checked == true) * {$idx};
    {/foreach}
        location.href = '?m=nodeedit&id={$nodeinfo.id}&action=authtype&authtype=' + authtype;
    }

    function change_netdevice(id) {
        if (xjx.$('linktype').value == 1) {
            xjx.$('linktype').disabled = true;
            xjx.$('radiosector').disabled = true;
            xjx.$('linktechnology').disabled = true;
            xjx.$('linkspeed').disabled = true;
            xajax_getRadioSectors(id, xjx.$('linktechnology').value);
        }
    }

    function change_linktype(linktype) {
        linktype = parseInt(linktype);
        var options = xjx.$('linktechnology').options;
        while (options.length)
            options.remove(0);
        options.add(new Option('{trans("- unknown -")}', 0));
        switch (linktype) {
            case 0:
    {foreach $_LINKTECHNOLOGIES[0] as $linktechnologyidx => $linktechnology}
                options.add(new Option('{$linktechnology}', {$linktechnologyidx}));
    {/foreach}
                break;
            case 1:
    {foreach $_LINKTECHNOLOGIES[1] as $linktechnologyidx => $linktechnology}
                options.add(new Option('{$linktechnology}', {$linktechnologyidx}));
    {/foreach}
                break;
            case 2:
    {foreach $_LINKTECHNOLOGIES[2] as $linktechnologyidx => $linktechnology}
                options.add(new Option('{$linktechnology}', {$linktechnologyidx}));
    {/foreach}
                break;
        }
        xjx.$('radiosector').style.display = (linktype == 1 ? '' : 'none');

        if (linktype == 1) {
            var selected = xjx.$('netdev').selectedIndex;
            if (selected) {
                netdev = xjx.$('netdev').options[selected].value;
                xjx.$('radiosector').disabled = true;
                xajax_getRadioSectors(netdev);
            }
        }
    }

    function change_linktechnology(technology) {
        technology = parseInt(technology);
        var linktype = xjx.$('linktype').options[xjx.$('linktype').selectedIndex].value;
        if (linktype != 1)
            return;
        var netdev = xjx.$('netdev').options[xjx.$('netdev').selectedIndex].value;
        if (netdev !== undefined) {
            xjx.$('radiosector').disabled = true;
            xajax_getRadioSectors(netdev, technology);
        }
    }

    function radio_sectors_received(radiosectors) {
        var options = xjx.$('radiosector').options;
        var oldvalue = options[xjx.$('radiosector').selectedIndex].value;
        while (options.length)
            options.remove(0);
        options.add(new Option('- {trans("none")} -', 0));
        if (radiosectors !== null) {
            radiosectors.forEach(function (elem) {
                var option = new Option(elem.name, elem.id);
                if (elem.id == oldvalue)
                    option.selected = true;
                options.add(option);
            });
        }
        xjx.$('linktype').disabled = false;
        xjx.$('radiosector').disabled = false;
        xjx.$('linktechnology').disabled = false;
        xjx.$('linkspeed').disabled = false;
    }

    xajax_getRadioSectors({$nodeinfo.netdev}, {$nodeinfo.linktechnology});
//-->
</SCRIPT>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                {$nodeinfo.name} ({$nodeinfo.id|string_format:"%04d"})
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-6">

                        {block name="nodeinfobox-leftcolumn"}
                            <ul>
                                <li>
                                    {trans("Network")}: <a href="?m=netinfo&amp;id={$nodeinfo.netid}">{$nodeinfo.netname}</a>
                                </li>

                                <li>
                                    {trans("IP address")}: <a href="javascript:ping_popup('{$nodeinfo.ip}')">{$nodeinfo.ip}</a> <span class="label label-default CopyIp" data-clipboard-text="{$nodeinfo.ip}">{trans("copy this")}</span>
                                </li>

                                {if $nodeinfo.ip_pub != "0.0.0.0"}
                                    <li>
                                        {trans("Pub. IP address")}: <a href="javascript:ping_popup('{$nodeinfo.ip_pub}')">{$nodeinfo.ip_pub}</a><span class="label label-default CopyIp" data-clipboard-text="{$nodeinfo.ip_pub}">{trans("copy this")}</span>
                                    </li>
                                {/if}

                                <li>
                                    {assign var="counter" value=0}
                                    {foreach from=$nodeinfo.macs item=item}
                                        {trans("MAC address:")}
                                        <span id="mac{$counter}">{$item.mac}</span> {if $item.producer}({$item.producer}){/if} <a class="label label-default" href="javascript:changeMacFormat('mac{$counter}')">{trans("change MAC adress display format")}</a>
                                        {math equation="x+1" x=$counter assign="counter"}
                                    {/foreach}
                                </li>

                                {if $nodeinfo.passwd}
                                    <li>
                                        {trans("Password:")}
                                        {$nodeinfo.passwd}
                                    </li>
                                {/if}

                                {if $nodeinfo.location}
                                    <li>
                                        {trans("Location:")}
                                        {$nodeinfo.location}{if $nodeinfo.borough_name} ({$nodeinfo.state_name} / {$nodeinfo.district_name} / {$_BOROUGHTYPES[$nodeinfo.borough_type]} {$nodeinfo.borough_name}){/if}
                                    </li>
                                {/if}
                                <li>
                                    {trans("Investment project")}:
                                    {$nodeinfo.projectname}
                                </li>
                            </ul>

                            <label class="btn btn-sm btn-secondary" for="chkmac">{trans("MAC checking")}:
                                <INPUT TYPE="checkbox" NAME="chkmac" ID="chkmac" VALUE="1" {if $nodeinfo.chkmac} checked{/if} onchange="chkmac_change();">
                            </label>

                            <label class="btn btn-sm btn-secondary" for="duplex">{trans("Half duplex")}:
                                <INPUT TYPE="checkbox" NAME="duplex" ID="duplex" VALUE="1" {if $nodeinfo.halfduplex} checked{/if} onchange="duplex_change();">
                            </label>

                            {foreach $_SESSIONTYPES as $idx => $sessiontype}
                                <label class="btn btn-sm btn-secondary">{$sessiontype.label}:
                                    <INPUT TYPE="checkbox" NAME="authtype[{$idx}]" value="{$idx}" id="authtype{$idx}" {tip text="`$sessiontype.tip`" trigger="authtype`$idx`"} onchange="change_authtype()"{if ($nodeinfo.authtype & $idx) == $idx} checked{/if}>
                                </label>
                            {/foreach}


                            {if $nodeinfo.netdev || $netdevices}
                                <div class="card">
                                    <div class="card-header">{trans("Net device")}</div>
                                    <div class="card-block">

                                        {if !$nodeinfo.netdev && $netdevices}
                                            <FORM class="form-inline" METHOD="GET" ACTION="?m=nodeedit" NAME="nodelink">
                                                <INPUT TYPE="HIDDEN" NAME="m" VALUE="nodeedit">
                                                <INPUT TYPE="HIDDEN" NAME="id" VALUE="{$nodeinfo.id}">
                                                <INPUT TYPE="HIDDEN" NAME="action" VALUE="link">
                                                <INPUT type="submit" class="hiddenbtn">
                                            {/if}

                                            {if $nodeinfo.netdev}
                                                <A HREF="?m=netdevinfo&amp;id={$netdevices.id}">{$netdevices.name} {$netdevices.producer}{if $netdevices.location} / {$netdevices.location}{/if}</A>
                                                    {if $nodeinfo.port}
                                                    [{$nodeinfo.port}]
                                                {/if}
                                                <IMG src="img/{if $nodeinfo.linktype == 1}wireless.gif{elseif $nodeinfo.linktype == 2}netdev_takenports.gif{else}netdev_takenports.gif{/if}" alt="{$_LINKTYPES[$nodeinfo.linktype]}" {tip text="{if $nodeinfo.linktechnology}{$_LINKTECHNOLOGIES[$nodeinfo.linktype][$nodeinfo.linktechnology]} / {/if}{if $nodeinfo.linkradiosector}{$nodeinfo.linkradiosectorname} / {/if}{$_LINKSPEEDS[$nodeinfo.linkspeed]}"}>
                                            {else}
                                                {if $netdevices}
                                                    <label><a href="javascript: void(0);" onclick="return netDevChooseWin(document.nodelink.elements['devid']);">{trans("Search device")}</A>: </label>
                                                    <SELECT class="form-control form-control-sm" NAME="devid" id="netdev" {tip trigger="netdev"} onchange="change_netdevice(this.options[this.selectedIndex].value)">
                                                        <OPTION VALUE="0" {if !$netdevice}SELECTED{/if}>- {trans("no device")} -</OPTION>
                                                            {section name=netdev loop=$netdevices}
                                                                {assign var=netdevname value=$netdevices[netdev].name}
                                                            {if $netdevices[netdev].producer}{assign var=netdevname value=$netdevname|cat:" / "|cat:$netdevices[netdev].producer}{/if}
                                                        {if $netdevices[netdev].location}{assign var=netdevname value=$netdevname|cat:" ("|cat:$netdevices[netdev].location|cat:")"}{/if}
                                                    <OPTION VALUE="{$netdevices[netdev].id}" {if $netdevices[netdev].id==$netdevice}SELECTED{/if}>{$netdevname|truncate:120:"...":true}</OPTION>
                                                    {/section}
                                            </SELECT>

                                            <a href="javascript: void(0);" onClick="return netdevfrommapchoosewin(document.nodelink.elements['devid']);" {tip text="Click to select network device from map"}><i class="fa fa-fw fa-lg fa-globe"></i></A>

                                            <label>{trans("Enter port number in device (optional)")}: </label>
                                            <INPUT class="form-control form-control-sm" type="number" name="port" value="{if $nodeinfo.port}{$nodeinfo.port}{/if}">

                                            <br>

                                            <label>{trans("Select link type")}: </label>
                                            <SELECT class="form-control form-control-sm" name="linktype" id="linktype" onchange="change_linktype(this.options[this.selectedIndex].value)">
                                                {foreach from=$_LINKTYPES item=item key=key}
                                                    <OPTION VAlUE="{$key}">{$item}</OPTION>
                                                    {/foreach}
                                            </SELECT>

                                            <br>

                                            <label>{trans("Select radio sector")}: </label>
                                            <SELECT class="form-control form-control-sm" NAME="radiosector" id="radiosector" style="display: none;">
                                                <OPTION value="0">- {trans("none")} -</OPTION>
                                            </SELECT>

                                            <br>

                                            <label>{trans("Select link technology")}: </label>
                                            <SELECT class="form-control form-control-sm" NAME="linktechnology" id="linktechnology" onchange="change_linktechnology(this.options[this.selectedIndex].value)">
                                                <OPTION value="0">{trans("- unknown -")}</OPTION>
                                                    {foreach $_LINKTECHNOLOGIES[0] as $linktechnologyidx => $linktechnology}
                                                    <OPTION value="{$linktechnologyidx}">{$linktechnology}</OPTION>
                                                    {/foreach}
                                            </SELECT>

                                            <br>

                                            <label>{trans("Select link speed")}: </label>
                                            <SElECT class="form-control form-control-sm" name="linkspeed" id="linkspeed">
                                                {foreach from=$_LINKSPEEDS item=item key=key}
                                                    <OPTION VALUE="{$key}"{if $key==100000} selected{/if}>{$item}</OPTION>
                                                    {/foreach}
                                            </SELECT>

                                            <br>

                                            <A class="btn btn-sm btn-danger" HREF="javascript:document.nodelink.submit(); ">{trans("Connect")}</A>

                                        {/if}
                                    {/if}

                                    {if !$nodeinfo.netdev && $netdevices}
                                    </FORM>
                                {/if}
                            </div>
                        </div>
                    {/if}

                {/block}

            </div><!-- left-column -->
            <div class="col-md-6">

                {block name="nodeinfobox-rightcolumn"}

                    <A class="btn btn-sm btn-{if $nodeinfo.access}success{else}danger{/if}" HREF="?m=nodeset&amp;id={$nodeinfo.id}">
                        {if $nodeinfo.access}
                            {trans("connected<!singular>")}
                        {else}
                            {trans("disconnected<!singular>")}
                        {/if}
                    </A>

                    <A class="btn btn-sm btn-{if $nodeinfo.warning}warning{else}secondary{/if}" HREF="?m=nodewarn&amp;id={$nodeinfo.id}">
                        {if $nodeinfo.warning}
                            {trans("notice enabled")}
                        {else}
                            {trans("notice disabled")}
                        {/if}
                    </A>

                    {if $nodeinfo.info}
                        <div class="card m-t-1">
                            <div class="card-header">{trans("Description")}</div>
                            <div class="card-block">
                                {$nodeinfo.info|replace:"\n":"<BR>"}
                            </div>
                        </div>
                    {/if}

                    {if $nodeinfo.longitude || $nodeinfo.latitude}
                        <TR>
                            <TD style="width: 1%;">
                                <IMG SRC="img/home.gif" ALT="{trans("GPS coordinates:")}">
                            </TD>
                            <TD style="width: 1%; white-space: nowrap;">
                                <span class="bold">{trans("GPS longitude:")}</span>
                            </TD>
                            <TD style="width: 98%; white-space: nowrap;">
                        {if $nodeinfo.longitude}{$nodeinfo.longitude}{else}{/if}
                        <INPUT TYPE="hidden" ID="longitude" NAME="longitude" VALUE="{$nodeinfo.longitude}">
                    </TD>
                </TR>
                <TR>
                    <TD style="width: 1%;">
                        <IMG SRC="img/home.gif" ALT="{trans("GPS coordinates:")}">
                    </TD>
                    <TD style="width: 1%; white-space: nowrap;">
                        <span class="bold">{trans("GPS latitude:")}</span>
                    </TD>
                    <TD style="width: 98%; white-space: nowrap;">
                {if $nodeinfo.latitude}{$nodeinfo.latitude}{else}{/if}
                <INPUT TYPE="hidden" ID="latitude" NAME="latitude" VALUE="{$nodeinfo.latitude}">
            </TD>
        </TR>
        <TR>
            <TD style="width: 2%;" COLSPAN="2">
            </TD>
            <TD style="width: 98%;">
                <a HREF="?m=netdevmap&nodeid={$nodeinfo.id}"><img src="img/network.gif" alt=""> {trans("Show on map")} &raquo;&raquo;&raquo;</a>
            </TD>
        </TR>
    {/if}

    <TR>
        <TD style="width: 1%;">
            <IMG SRC="img/time.gif" ALT="">
        </TD>
        <TD style="width: 1%; white-space: nowrap;">
            <span class="bold">{trans("last online:")}</span>
        </TD>
        <TD style="width: 98%;">
        {if $nodeinfo.lastonline}{$nodeinfo.lastonlinedate}{else}-{/if}
    </TD>
</TR>
<TR>
    <TD style="width: 1%;">
        <IMG SRC="img/users.gif" ALT="">
    </TD>
    <TD style="width: 1%;">
        <span class="bold">{trans("Created:")}<BR>
            {trans("Modified:")}</span>
    </TD>
    <TD style="width: 98%;">
        {$nodeinfo.createdby}, {$nodeinfo.creationdateh}<BR>
        {if $nodeinfo.moddate}{$nodeinfo.modifiedby}, {$nodeinfo.moddateh}{else}-{/if}
    </TD>
</TR>
{/block}

</div><!-- right-column -->
</div>

<div class="row">
    <div class="col-md-12">

    </div>
</div>
</div>
</div>
</div>
</div>


<TABLE class="lmsbox">
    <THEAD>
        <TR>
            <TD style="width: 1%;">
                <IMG SRC="img/node.gif" ALT="">
            </TD>
            <TD style="width: 99%;" COLSPAN="2">
                <span class="bold">{$nodeinfo.name} ({$nodeinfo.id|string_format:"%04d"})</span>
            </TD>
        </TR>
    </THEAD>
    <TBODY>
        <TR>
            <TD style="width: 100%;" COLSPAN="3" CLASS="container">
                <TABLE style="width: 100%;" CELLPADDING="0">
                    <TR>
                        <TD style="width: 50%; vertical-align: top;">
                            <TABLE style="width: 100%" CELLPADDING="3">
                                {block name="nodeinfobox-leftcolumn"}


                                {/block}
                            </TABLE>
                        </TD>
                        <TD style="width: 50%; vertical-align: top;">
                            <TABLE style="width: 100%;" CELLPADDING="3" id="nodeinfo">
                                {block name="nodeinfobox-rightcolumn"}
                                    {if $nodeinfo.info}
                                        <TR>
                                            <TD style="width: 1%;">
                                                <IMG SRC="img/info1.gif" ALT="{trans("Description:")}">
                                            </TD>
                                            <TD style="width: 99%;" COLSPAN="2">
                                                <TABLE style="width; 100%;" cellpadding="5">
                                                    <TR>
                                                        <TD class="fall superlight">
                                                            {$nodeinfo.info|replace:"\n":"<BR>"}
                                                        </TD>
                                                    </TR>
                                                </TABLE>
                                            </TD>
                                        </TR>
                                    {/if}
                                    {if $nodeinfo.longitude || $nodeinfo.latitude}
                                        <TR>
                                            <TD style="width: 1%;">
                                                <IMG SRC="img/home.gif" ALT="{trans("GPS coordinates:")}">
                                            </TD>
                                            <TD style="width: 1%; white-space: nowrap;">
                                                <span class="bold">{trans("GPS longitude:")}</span>
                                            </TD>
                                            <TD style="width: 98%; white-space: nowrap;">
                                        {if $nodeinfo.longitude}{$nodeinfo.longitude}{else}{/if}
                                        <INPUT TYPE="hidden" ID="longitude" NAME="longitude" VALUE="{$nodeinfo.longitude}">
                                    </TD>
                                </TR>
                                <TR>
                                    <TD style="width: 1%;">
                                        <IMG SRC="img/home.gif" ALT="{trans("GPS coordinates:")}">
                                    </TD>
                                    <TD style="width: 1%; white-space: nowrap;">
                                        <span class="bold">{trans("GPS latitude:")}</span>
                                    </TD>
                                    <TD style="width: 98%; white-space: nowrap;">
                                {if $nodeinfo.latitude}{$nodeinfo.latitude}{else}{/if}
                                <INPUT TYPE="hidden" ID="latitude" NAME="latitude" VALUE="{$nodeinfo.latitude}">
                            </TD>
                        </TR>
                        <TR>
                            <TD style="width: 2%;" COLSPAN="2">
                            </TD>
                            <TD style="width: 98%;">
                                <a HREF="?m=netdevmap&nodeid={$nodeinfo.id}"><img src="img/network.gif" alt=""> {trans("Show on map")} &raquo;&raquo;&raquo;</a>
                            </TD>
                        </TR>
                    {/if}
                    <TR>
                        <TD style="width: 1%;">
                            <A HREF="?m=nodeset&amp;id={$nodeinfo.id}"><IMG SRC="img/{if ! $nodeinfo.access}no{/if}access.gif" ALT=""></A>
                        </TD>
                        <TD style="width: 99%;" COLSPAN="2">
                            <span class="bold">{if $nodeinfo.access}{trans("connected<!singular>")}{else}{trans("disconnected<!singular>")}{/if}</span>
                        </TD>
                    </TR>
                    <TR>
                        <TD style="width: 1%;">
                            <A HREF="?m=nodewarn&amp;id={$nodeinfo.id}"><IMG SRC="img/warning{if ! $nodeinfo.warning}off{else}on{/if}.gif" ALT=""></A>
                        </TD>
                        <TD style="width: 99%;" COLSPAN="2">
                            <span class="bold">{if $nodeinfo.warning}{trans("notice enabled")}{else}{trans("notice disabled")}{/if}</span>
                        </TD>
                    </TR>
                    <TR>
                        <TD style="width: 1%;">
                            <IMG SRC="img/time.gif" ALT="">
                        </TD>
                        <TD style="width: 1%; white-space: nowrap;">
                            <span class="bold">{trans("last online:")}</span>
                        </TD>
                        <TD style="width: 98%;">
                        {if $nodeinfo.lastonline}{$nodeinfo.lastonlinedate}{else}-{/if}
                    </TD>
                </TR>
                <TR>
                    <TD style="width: 1%;">
                        <IMG SRC="img/users.gif" ALT="">
                    </TD>
                    <TD style="width: 1%;">
                        <span class="bold">{trans("Created:")}<BR>
                            {trans("Modified:")}</span>
                    </TD>
                    <TD style="width: 98%;">
                        {$nodeinfo.createdby}, {$nodeinfo.creationdateh}<BR>
                        {if $nodeinfo.moddate}{$nodeinfo.modifiedby}, {$nodeinfo.moddateh}{else}-{/if}
                    </TD>
                </TR>
            {/block}
        </TABLE>
    </TD>
</TR>
</TABLE>
</TD>
</TR>
<TR>
    <TD style="width: 100%; text-align: right;" COLSPAN="3">
        {block name="nodeinfobox-buttons"}
            <A HREF="?m=nodeedit&amp;id={$nodeinfo.id}" ACCESSKEY="E">{trans("Edit")} <IMG SRC="img/edit.gif" ALT=""></A>
            <A HREF="?m=nodedel&amp;id={$nodeinfo.id}" onClick="return confirmLink(this, '{t a=$nodeinfo.name}Are you sure, you want to remove node \'$a\' from database?{/t}')">{trans("Delete")} <IMG SRC="img/delete.gif" ALT=""></A>
            {/block}
    </TD>
</TR>
</TBODY>
</TABLE>
<script type="text/javascript">
<!--
    xajax_getNodeStats({$nodeinfo.id});
//-->
</script>
