{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle}</H1>
    <FORM name="tmove" method="POST" action="">
        <INPUT type="submit" class="hiddenbtn">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-inverse">
                <TR>
                    <th>
                        {trans("Name:")} / {trans("ID:")} / {trans("Description:")}
                    </th>
                    <th>
                        {trans("Members:")}
                    </th>
                    <th>
                        {trans("From")}
                    </th>
                    <th>
                        {trans("To")}
                    </th>
                    <th>
                        {t a=$listdata.total|default:"0"}Total: $a{/t}
                    </th>
                </TR>
            </THEAD>
            <TFOOT>
                <TR>
                    <TD colspan="6">
                        {trans("Total:")}
                        {$listdata.nodestotal|default:"0"}
                    </TD>
                </TR>
            </TFOOT>
            <TBODY>
                {section name=nodegroups loop=$nodegrouplist}
                    <tr>
                        <td>
                            <a href="?m=nodegroupinfo&amp;id={$nodegrouplist[nodegroups].id}">{$nodegrouplist[nodegroups].name}</a> <span class="text-muted">({$nodegrouplist[nodegroups].id|string_format:"%04d"})</span><br>
                            <br>
                        {if $nodegrouplist[nodegroups].description}{$nodegrouplist[nodegroups].description}{/if}
                    </td>
                    <td>
                        {$nodegrouplist[nodegroups].nodescount}
                    </TD>
                    <td>
                        <INPUT class="form-control from-control-sm" type="radio" name="from" id="from{$nodegrouplist[nodegroups].id}" value="{$nodegrouplist[nodegroups].id}"{if $selectednodegroupid==$nodegrouplist[nodegroups].id} checked{/if}>
                    </td>
                    <td>
                        <INPUT class="form-control from-control-sm" type="radio" name="to" id="to{$nodegrouplist[nodegroups].id}" value="{$nodegrouplist[nodegroups].id}" onClick="javascript:document.tmove.submit();">
                    </td>
                    <TD>
                        {if $nodegrouplist[nodegroups].nodescount}
                            <A class="btn btn-sm btn-danger" href="javascript:alert('{trans("Group with members cannot be deleted!")}');"><i class="fa fa-fw fa-trash-o"></i></A>
                            {else}
                            <A class="btn btn-sm btn-danger" href="?m=nodegroupdel&amp;id={$nodegrouplist[nodegroups].id}" onClick="return confirmLink(this, '{trans("Are you sure, you want to remove this group?")}');"><i class="fa fa-fw fa-trash-o"></i></A>
                            {/if}

                        <A class="btn btn-sm btn-primary" href="?m=nodegroupedit&amp;id={$nodegrouplist[nodegroups].id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                        <A class="btn btn-sm btn-info" href="?m=nodegroupinfo&amp;id={$nodegrouplist[nodegroups].id}" title="{trans("Info")}"><i class="fa fa-fw fa-info"></i></A>
                    </td>
                </TR>
            {sectionelse}
                <TR>
                    <TD colspan="6">
                        {trans("There are no such groups in database.")}
                    </TD>
                </TR>
            {/section}
        </TBODY>
    </TABLE>
</FORM>
{/block}
