{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!-- $Id$ -->
    <H1>{$layout.pagetitle} <a class="btn btn-success" href="?m=promotionadd"><i class="fa fa-fw fa-plus-circle"></i> {trans("Add promotion")}</a></h1>

    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-inverse">
            <TR>
                <th>{trans("Name:")} / {trans("ID:")} / {trans("Description:")}</th>
                <th>{trans("Schemas:")}</th>
                <th>{trans("Tariffs:")}</th>
                <th>&nbsp;</th>
            </TR>
        </THEAD>
        <TBODY>
            {foreach from=$promotionlist item=promo}
                <TR class="{if $promo.disabled} text-muted{/if}">
                    <TD>
                        <a href="?m=promotioninfo&amp;id={$promo.id}">{$promo.name}</a> ({$promo.id|string_format:"%04d"})<br>
                        {$promo.description}
                    </TD>
                    <TD>
                        {$promo.scs|default:"-"}
                    </TD>
                    <TD>
                        {$promo.tariffs|default:"-"}
                    </TD>
                    <TD>
                        {if $promo.disabled}
                            <A class="btn btn-sm btn-warning" href="?m=promotionset&amp;id={$promo.id}&amp;access={$promo.disabled}" title="{trans("Enable")}"><i class="fa fa-fw fa-toggle-off"></i></A>
                            {else}
                            <A class="btn btn-sm btn-success" href="?m=promotionset&amp;id={$promo.id}&amp;access={$promo.disabled}" title="{trans("Disable")}"><i class="fa fa-fw fa-toggle-on"></i></A>
                            {/if}
                        <A class="btn btn-sm btn-danger" HREF="?m=promotiondel&amp;id={$promo.id}" OnClick="return confirmLink(this, '{t a=$promo.name}Are you sure, you want to remove promotion \'$a\'?{/t}');" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                        <A class="btn btn-sm btn-secondary" HREF="?m=promotionclone&id={$promo.id}" title="{trans("Clone")}"><i class="fa fa-fw fa-clone"></i></A>
                        <A class="btn btn-sm btn-primary" HREF="?m=promotionedit&amp;id={$promo.id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                    </TD>
                </TR>
            {foreachelse}
                <TR>
                    <TD colspan="4">
                        {trans("There are no promotions in database.")}
                    </TD>
                </TR>
            {/foreach}
        </TBODY>
    </TABLE>
    <B>{trans("Total:")} {$listdata.total|default:"0"}</B>
    {/block}
