{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <style>
        [data-toggle='on'] {
            display:block;
        }

        [data-toggle='off'] {
            display:none;
        }
    </style>
    <script>
        document.addEventListener('click', function (e) {
            var button = e.target;

            if (button.getAttribute('data-reset') === 'true') {
                // Reset the filters
                var filter = button.getAttribute('data-filter');
                resetFilter(filter);
            } else {
                // Filter the tag
                var filter = button.getAttribute('data-filter');
                var tag = button.getAttribute('data-filter-tag');
                filterTag(filter, tag);
            }
        });

        // Filter tag
        function filterTag(filter, tag) {
            var items = document.querySelectorAll('.' + filter + ' > tr');

            for (var i = 0; i < items.length; i++) {
                var itemTags = items[i].getAttribute('data-tags');

                // Catch case with no tags
                if (itemTags != null) {
                    if (itemTags.indexOf(tag) < 0) {
                        items[i].setAttribute('data-toggle', 'off');
                    }
                }
            }
        }

        // Reset filters
        function resetFilter(filter) {
            var items = document.querySelectorAll('.' + filter + ' > li');

            for (var i = 0; i < items.length; i++) {
                items[i].setAttribute('data-toggle', 'on');
            }
        }
    </script>    
    <H1>{$layout.pagetitle}</H1>

    <fieldset class="form-group">
        <form class="form-inline" METHOD="GET" ACTION="?m={$layout.module}" NAME="choosefilter">
            <INPUT type="submit" class="hiddenbtn">
            <INPUT TYPE="HIDDEN" NAME="m" VALUE="tarifflist">
            {*<INPUT TYPE="HIDDEN" NAME="page" VALUE="1">*}

            {trans("Type:")}
            <SELECT class="form-control form-control-sm" NAME="t" ONCHANGE="document.choosefilter.submit();">
                <OPTION value="0"{if !$listdata.type} SELECTED{/if}>{trans("- all -")}</OPTION>
                    {foreach from=$_TARIFFTYPES item=item key=key}
                    <OPTION value="{$key}" {if $listdata.type == $key} SELECTED {/if}>{$item}</OPTION>
                    {/foreach}
            </SELECT>
            {trans("Promotion:")}
            <SELECT class="form-control form-control-sm" NAME="p" ONCHANGE="document.choosefilter.submit();">
                <OPTION value="0"{if !$listdata.promotionid} SELECTED{/if}>{trans("- all -")}</OPTION>
                    {section name=promotions loop=$promotions}
                    <OPTION value="{$promotions[promotions].id}" {if $listdata.promotionid == $promotions[promotions].id} SELECTED {/if}>{$promotions[promotions].name|truncate:50:"...":true}</OPTION>
                    {/section}
            </SELECT>
            {trans("Status:")}
            <SELECT class="form-control form-control-sm" NAME="s" ONCHANGE="document.choosefilter.submit();">
                <OPTION value=""{if !$listdata.state} SELECTED{/if}>{trans("- all -")}</OPTION>
                <OPTION value="1"{if $listdata.state == 1} SELECTED{/if}>{trans("enabled")}</OPTION>
                <OPTION value="2"{if $listdata.state == 2} SELECTED{/if}>{trans("disabled")}</OPTION>
            </SELECT>
            {trans("Group:")}
            <SELECT class="form-control form-control-sm" NAME="g" ONCHANGE="document.choosefilter.submit();">
                <OPTION value="0"{if !$listdata.customergroupid} SELECTED{/if}>{trans("- all -")}</OPTION>
                    {section name=customergroups loop=$customergroups}
                    <OPTION value="{$customergroups[customergroups].id}" {if $listdata.customergroupid == $customergroups[customergroups].id} SELECTED {/if}>{$customergroups[customergroups].name|truncate:50:"...":true}</OPTION>
                    {/section}
            </SELECT>
            <button class="btn btn-sm btn-secondary" data-filter="ping" data-reset="true">{trans("Reset tags")}</button>            
        </FORM>
    </fieldset>

    <div class="table-responsive">
        <TABLE class="table table-striped table-hover table-sm table-bordered">
            <THEAD class="thead-inverse">
                <TR {tip text="Click on column name to change sorting order"}>
                    <th>
                        <A href="?m=tarifflist&amp;o=name{if $listdata.direction == "asc" && $listdata.order == "name"},desc{/if}"><B>{trans("Name:")}</B></A> {if $listdata.order == "name"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if} /
                        <A href="?m=tarifflist&amp;o=id{if $listdata.direction == "asc" && $listdata.order == "id"},desc{/if}">{trans("ID:")}</A> {if $listdata.order == "id"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if} /
                        <A href="?m=tarifflist&amp;o=description{if $listdata.direction == "asc" && $listdata.order == "description"},desc{/if}">{trans("Description:")}</A> {if $listdata.order == "description"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                    </th>
                    <th>
                        <A href="?m=tarifflist&amp;o=downrate{if $listdata.direction == "asc" && $listdata.order == "downrate"},desc{/if}">{trans("Downrate:")}</A> {if $listdata.order == "downrate"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if} /
                        <A href="?m=tarifflist&amp;o=downceil{if $listdata.direction == "asc" && $listdata.order == "downceil"},desc{/if}">{trans("Downceil:")}</A> {if $listdata.order == "downceil"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                    </th>
                    <th>
                        <A href="?m=tarifflist&amp;o=uprate{if $listdata.direction == "asc" && $listdata.order == "uprate"},desc{/if}">{trans("Uprate")}:</A> {if $listdata.order == "uprate"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if} /
                        <A href="?m=tarifflist&amp;o=upceil{if $listdata.direction == "asc" && $listdata.order == "upceil"},desc{/if}">{trans("Upceil:")}</A> {if $listdata.order == "upceil"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                    </th>
                    <th>
                        <A href="?m=tarifflist&amp;o=value{if $listdata.direction == "asc" && $listdata.order == "value"},desc{/if}"><B>{trans("Value:")}</B></A> {if $listdata.order == "value"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
                                {trans("Tax:")}
                    </th>
                    <th>
                        <A href="?m=tarifflist&amp;o=count{if $listdata.direction == "asc" && $listdata.order == "count"},desc{/if}">{trans("Assigned:")}</A> {if $listdata.order == "count"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                    </th>
                    <th>
                        {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_summaries')}
                            <A href="?m=tarifflist&amp;o=income{if $listdata.direction == "asc" && $listdata.order == "income"},desc{/if}">{trans("Avg. monthly income:")}</A> {if $listdata.order == "income"}<IMG SRC="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                            {/if}
                    </th>
                    <th>
                        <B>{t a=$listdata.total}Total: $a{/t}</B>
                    </th>
                </TR>
            </THEAD>
            <TBODY class="ping">
                {section name=tariffs loop=$tarifflist}
                    <TR data-tags="{foreach $tarifftaglist as $item}{if $tarifflist[tariffs].id == $item.tariff_id}{if $item.tag_name}{$item.tag_name} {/if}{/if}{/foreach}" class="highlight {cycle}{if $tarifflist[tariffs].disabled == 1 && !$listdata.state} blend{/if}">
                        <TD>
                            <a href="?m=tariffinfo&amp;id={$tarifflist[tariffs].id}"><strong>{$tarifflist[tariffs].name}</strong></a> <span class="text-muted">({$tarifflist[tariffs].id|string_format:"%04d"})</span>
                                    {if $tarifflist[tariffs].description}
                                <br>{$tarifflist[tariffs].description}
                            {/if}
                            <br/>
                            {foreach $tarifftaglist as $item}
                                {if $tarifflist[tariffs].id == $item.tariff_id}
                                    {if $item.tag_name}
                                        <span class="label label-default" data-filter="ping" data-filter-tag="{$item.tag_name}">{$item.tag_name}</span>
                                    {/if}
                                {/if}
                            {/foreach}                            
                        </TD>
                        <TD onClick="return self.location.href = '?m=tariffinfo&amp;id={$tarifflist[tariffs].id}';" class="nobr">
                        {if $tarifflist[tariffs].downrate}{$tarifflist[tariffs].downrate}{else}-{/if}
                        {if $tarifflist[tariffs].downrate_n}({$tarifflist[tariffs].downrate_n}){/if} 
                        ({if $tarifflist[tariffs].downceil}{$tarifflist[tariffs].downceil}{else}-{/if}
                        {if $tarifflist[tariffs].downceil_n}({$tarifflist[tariffs].downceil_n}){/if})
                    </TD>
                    <TD onClick="return self.location.href = '?m=tariffinfo&amp;id={$tarifflist[tariffs].id}';" class="nobr">

                    {if $tarifflist[tariffs].uprate}{$tarifflist[tariffs].uprate}{else}-{/if}
                    {if $tarifflist[tariffs].uprate_n}({$tarifflist[tariffs].uprate_n}){/if} 
                    ({if $tarifflist[tariffs].upceil}{$tarifflist[tariffs].upceil}{else}-{/if}
                    {if $tarifflist[tariffs].upceil_n}({$tarifflist[tariffs].upceil_n}){/if})
                </TD>
                <TD onClick="return self.location.href = '?m=tariffinfo&amp;id={$tarifflist[tariffs].id}';" class="nobr">
                    <B>{$tarifflist[tariffs].value|money_format}</B><BR>
                        {$tarifflist[tariffs].tax}
                </TD>
                <TD onClick="return self.location.href = '?m=tariffinfo&amp;id={$tarifflist[tariffs].id}';" NOWRAP>
                    {$tarifflist[tariffs].customerscount|default:0}
                    ({$tarifflist[tariffs].count|default:0},{$tarifflist[tariffs].activecount|default:0})
                </TD>
                <TD onClick="return self.location.href = '?m=tariffinfo&amp;id={$tarifflist[tariffs].id}';">
                    {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_summaries')}
                        {$tarifflist[tariffs].income|money_format}
                    {/if}
                </TD>
                <TD>
                    <a class="btn btn-sm btn-{if $tarifflist[tariffs].disabled == 0}success{else}secondary{/if}" href="?m=tariffedit&amp;set&amp;id={$tarifflist[tariffs].id}">
                        {if ! $nodelist[nodelist].access}
                            <i class="fa fa-toggle-on fa-fw fa-lg" aria-hidden="true" title="{trans("Connect")}"></i>
                        {else}
                            <i class="fa fa-toggle-on fa-fw fa-lg" aria-hidden="true" title="{trans("Disconnect")}"></i>
                        {/if}
                    </A>

                    {if $tarifflist[tariffs].customers}
                        <a class="btn btn-sm btn-danger" href="javascript:alert('{trans("Subscription with assigned customers cannot be deleted!")}');" title="{trans("Delete")}" onClick="return confirmLink(this, '{trans("Are you sure, you want to delete that tariff?")}');">
                            <i class="fa fa-fw fa-trash-o"></i>
                        </a>                             
                    {else}
                        <a class="btn btn-sm btn-danger" href="?m=tariffdel&amp;id={$tarifflist[tariffs].id}" title="{trans("Delete")}" onClick="return confirmLink(this, '{trans("Are you sure, you want to delete that tariff?")}');">
                            <i class="fa fa-fw fa-trash-o"></i>
                        </a>                                  
                    {/if}

                    <a class="btn btn-sm btn-secondary" href="?m=tariffedit&amp;id={$tarifflist[tariffs].id}" title="{trans("Edit")}">
                        <i class="fa fa-fw fa-edit"></i>
                    </a>  
                    <a class="btn btn-sm btn-warning" href="?m=tariffadd&amp;id={$tarifflist[tariffs].id}" title="{trans("Clone")}">
                        <i class="fa fa-fw fa-clone"></i>
                    </a>  
                    <a class="btn btn-sm btn-info" href="?m=tariffinfo&amp;id={$tarifflist[tariffs].id}" title="{trans("Info")}">
                        <i class="fa fa-fw fa-info"></i>
                    </a>                                        
                </TD>
            </TR>
        {sectionelse}
            <TR>
                <TD COLSPAN="8" class="empty-table">
                    <p>{trans("No such subscriptions in database.")}</p>
                </TD>
            </TR>
        {/section}
    </TBODY>
</TABLE>

</div>
<B>{trans("Total:")}</B>

<B>{$listdata.totalcustomerscount}({$listdata.totalcount},{$listdata.totalactivecount})</B>

{if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_summaries')}
    <B>{$listdata.totalincome|money_format}</B>
    {/if}


{/block}
