{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle}</H1>
    <script type="text/javascript">
        <!--
            function getText(index)
        {
        {section name=lt loop=$tariffs}
            if (index == {$tariffs[lt].id})
                return '{$tariffs[lt].name|escape} ({$tariffs[lt].value|money_format})';
        {/section}
        }

        function changeNetwork()
        {
            document.tinfo.submit();
        }
        //-->
    </script>
    <div class="card">
        <div class="card-header">
            {$tariff.name} ({$tariff.id|string_format:"%04d"})
        </div>
        <div class="card-block">
            {if $tariff.description}
                <p><strong>{trans("Description")}:</strong> {$tariff.description|replace:"\n":"<BR>"}</p>
            {/if}
            {if $tariff.promotions}
                <p><strong>{trans("Promotions")}:</strong>
                    {foreach from=$tariff.promotions item=promo}
                        <A class="btn btn-sm btn-secondary" href="?m=promotioninfo&id={$promo.id}">{$promo.name}</A>
                        {/foreach}
                </p>
            {/if}
            <table class="table table-striped table-hover table-sm table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th>{trans("Value:")}</th>
                        <th>{trans("Tax:")}</th>
                        <th>{trans("Type:")}</th>
                        <th>{trans("Numbering Plan:")}</th>
                        <th>{trans("Product ID:")}</th>
                        <th>{trans("Number of customers:")}</th>
                        <th>{trans("Avg. monthly income:")}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {$tariff.value|money_format}
                            {if $tariff.period}{assign var=tperiod value=$tariff.period}({$_PERIODS.$tperiod})
                            {else}<font class="blend">({trans("period undefined")})</font>{/if}
                        </td>
                        <TD>{$tariff.tax}</TD>
                        <TD>{assign var=typeid value=$tariff.type}{$_TARIFFTYPES.$typeid}</TD>
                        <TD>
                            {if isset($tariff.numberplan)}
                                {$tariff.numberplan.template} ({$_NUM_PERIODS[$tariff.numberplan.period]})
                            {/if}
                        </TD>
                        <TD>
                            {$tariff.prodid}
                        </TD>
                        <td>
                            {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_summaries')}
                                {$tariff.customerscount|default:0} ({$tariff.count|default:0},{$tariff.activecount|default:0})
                            {/if}
                        </TD>
                        <TD>
                            {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_summaries')}
                                {$tariff.totalval|money_format}
                            {/if}
                        </TD>
                </tbody>
            </TABLE>

            <div class="row">
                <div class="col-md-6">

                    <table class="table table-striped table-hover table-sm table-bordered">
                        <TR>
                            <TD><B>{trans("Upload rate:")}</B></TD>
                            <TD>
                            {if $tariff.uprate}{$tariff.uprate} kbit/s{else}{trans("no limits")}{/if}
                            ({trans("night:")} {if $tariff.uprate_n}{$tariff.uprate_n|default:0} kbit/s{else}{trans("not defined")}{/if})
                        </TD>
                    </TR>
                    <TR>
                        <TD><B>{trans("Upload ceil:")}</B></TD>
                        <TD>
                        {if $tariff.upceil}{$tariff.upceil} kbit/s{else}{trans("no limits")}{/if}
                        ({trans("night:")} {if $tariff.upceil_n}{$tariff.upceil_n|default:0} kbit/s{else}{trans("not defined")}{/if})
                    </TD>
                </TR>
                <TR>
                    <TD><B>{trans("Download rate:")}</B></TD>
                    <TD>
                    {if $tariff.downrate}{$tariff.downrate} kbit/s{else}{trans("no limits")}{/if}
                    ({trans("night:")} {if $tariff.downrate_n}{$tariff.downrate_n|default:0} kbit/s{else}{trans("not defined")}{/if})
                </TD>
            </TR>
            <tr>
                <TD><B>{trans("Download ceil:")}</B></TD>
                <TD>
                {if $tariff.downceil}{$tariff.downceil} kbit/s{else}{trans("no limits")}{/if}
                ({trans("night:")} {if $tariff.downceil_n}{$tariff.downceil_n|default:0} kbit/s{else}{trans("not defined")}{/if})
            </TD>
        </TR>
        <TR>
            <TD><B>{trans("Connection limit:")}</B></TD>
            <TD>
        {if $tariff.climit}{$tariff.climit}{else}{trans("no limits")}{/if}
        ({trans("night:")} {if $tariff.climit_n}{$tariff.climit_n|default:0}{else}{trans("not defined")}{/if})
    </TD>
</TR>
<TR>
    <TD><B>{trans("Packet limit:")}</B></TD>
    <TD>
{if $tariff.plimit}{$tariff.plimit}{else}{trans("no limits")}{/if}
({trans("night:")} {if $tariff.climit_n}{$tariff.climit_n|default:0}{else}{trans("not defined")}{/if})
</TD>
</TR>
<TR>
    <TD><B>{trans("Data limit:")}</B></TD>
    <TD>
{if $tariff.dlimit}{$tariff.dlimit}{else}{trans("no limits")}{/if}
</TD>
</TR>
</TABLE>

</div>
<div class="col-md-6">

    <table class="table table-striped table-hover table-sm table-bordered">
        <TR>
            <TD>{trans("Limit of domains:")}</TD>
            <TD>{if $tariff.domain_limit===NULL}{trans("no limit")}{else}{$tariff.domain_limit}{/if}</TD>
        </TR>
        <TR>
            <TD>{trans("Limit of account aliases:")}</TD>
            <TD>{if $tariff.alias_limit===NULL}{trans("no limit")}{else}{$tariff.alias_limit}{/if}</TD>
        </TR>
        <TR>
            <TD>{trans("Limit of e-mail accounts:")}</TD>
            <TD>{if $tariff.mail_limit===NULL}{trans("no limit")}{else}{$tariff.mail_limit}{/if}</TD>
        </TR>
        <TR>
            <TD>{trans("Limit of shell accounts:")}</TD>
            <TD>{if $tariff.sh_limit===NULL}{trans("no limit")}{else}{$tariff.sh_limit}{/if}</TD>
        </TR>
        <TR>
            <TD>{trans("Limit of www accounts:")}</TD>
            <TD>{if $tariff.www_limit===NULL}{trans("no limit")}{else}{$tariff.www_limit}{/if}</TD>
        </TR>
        <TR>
            <TD>{trans("Limit of ftp accounts:")}</TD>
            <TD>{if $tariff.ftp_limit===NULL}{trans("no limit")}{else}{$tariff.ftp_limit}{/if}</TD>
        </TR>
        <TR>
            <TD>{trans("Limit of sql accounts:")}</TD>
            <TD>{if $tariff.sql_limit===NULL}{trans("no limit")}{else}{$tariff.sql_limit}{/if}</TD>
        </TR>
        <TR>
            <TD>{trans("Quota limit of e-mail account:")}</TD>
            <TD>{if $tariff.quota_mail_limit===NULL}{trans("no limit")}{else}{$tariff.quota_mail_limit}{/if}</TD>
        </TR>
        <TR>
            <TD>{trans("Quota limit of shell account:")}</TD>
            <TD>{if $tariff.quota_sh_limit===NULL}{trans("no limit")}{else}{$tariff.quota_sh_limit}{/if}</TD>
        </TR>
        <TR>
            <TD>{trans("Quota limit of www account:")}</TD>
            <TD>{if $tariff.quota_www_limit===NULL}{trans("no limit")}{else}{$tariff.quota_www_limit}{/if}</TD>
        </TR>
        <TR>
            <TD>{trans("Quota limit of ftp account:")}</TD>
            <TD>{if $tariff.quota_ftp_limit===NULL}{trans("no limit")}{else}{$tariff.quota_ftp_limit}{/if}</TD>
        </TR>
        <TR>
            <TD>{trans("Quota limit of sql account:")}</TD>
            <Td>{if $tariff.quota_sql_limit===NULL}{trans("no limit")}{else}{$tariff.quota_sql_limit}{/if}</TD>
        </TR>
    </TABLE>

</div>
</div>

<A class="btn btn-sm btn-primary" HREF="?m=tariffedit&id={$tariff.id}" ACCESSKEY="E">{trans("Edit")}</A>
    {if $tariff.count == 0}
    <A class="btn btn-sm btn-danger" HREF="?m=tariffdel&id={$tariff.id}" onclick="return confirmLink(this, '{trans("Are you sure, you want to delete that tariff?")}');">{trans("Delete")}</A>
    {/if}


<TABLE class="table table-sm table-striped">
    <thead class="thead-inverse">
        <TR>
            <th colspan="2">
                {trans("Customers in Subscription:")}
            </th>
        </TR>
    </THEAD>
    <TBODY>
        <tr>
            <td>
                <FORM class="form-inline" NAME="tinfo" METHOD="GET" ACTION="?m=tariffinfo">
                    <INPUT type="submit" class="hiddenbtn">
                    <INPUT TYPE="hidden" VALUE="tariffinfo" NAME="m">
                    <INPUT TYPE="hidden" VALUE="{$tariff.id}" NAME="id">
                    {trans("Network:")}

                    <SELECT class="form-control form-contol-sm" NAME="netid" ONCHANGE="javascript:changeNetwork();">
                        <OPTION value="0" {if !$netid}SELECTED{/if}>{trans("- all networks -")}</OPTION>
                            {section name=networks loop=$networks}
                            <OPTION value="{$networks[networks].id}" {if $networks[networks].id == $netid}SELECTED{/if}>{$networks[networks].name|truncate:30:"...":true}</OPTION>
                            {/section}
                    </SELECT>
                </FORM>
            </td>
            <td>
                <FORM class="form-inline" NAME="tmove" METHOD="GET" ACTION="?m=tariffmove">
                    <INPUT type="submit" class="hiddenbtn">
                    <INPUT TYPE="hidden" VALUE="tariffmove" NAME="m">
                    <INPUT TYPE="hidden" VALUE="{$tariff.id}" NAME="from">
                    <INPUT TYPE="hidden" VALUE="{if !$netid}0{else}{$netid}{/if}" NAME="netid">
                    <input type="hidden" name="is_sure" VALUE="0">
                    <A HREF="javascript:document.tmove.submit();" onClick="return confirmForm(document.tmove.elements['is_sure'], '{trans("Are you sure, you want to move customers to selected tariff?")}', '1');">{trans("Move customers to subscription:")}</A>
                    <SELECT class="form-control form-contol-sm" NAME="to">
                        {section name=lt loop=$tariffs}
                            {if $tariffs[lt].id != $tariff.id}<OPTION VALUE="{$tariffs[lt].id}">{$tariffs[lt].name} ({$tariffs[lt].value|money_format} )</OPTION>{/if}
                            {/section}
                    </SELECT>
                </FORM> 
            </td>
        </tr>
        {section name=l loop=$tariff.customers}
            <TR>
                <td colspan="2">
                    <A HREF="?m=customerinfo&id={$tariff.customers[l].id}">
                        ({$tariff.customers[l].id|string_format:"%04d"})
                        {$tariff.customers[l].customername|truncate:50:" ..."}
                        {if $tariff.customers[l].cnt > 1}
                            ({$tariff.customers[l].cnt})
                        {/if}
                    </A>
                </TD>
            </TR>
        {sectionelse}
            <TR>
                <TD>
                    {trans("No such customers with that subscription.")}
                </TD>
            </TR>
        {/section}
    </TBODY>
</TABLE>




{/block}
