{include file="header.html"}
{include file="module:header_inne.html"}
<div class="container">
{include file="module:nav.html"}
<div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6">
    <div class="panel panel-danger">
	<div class="panel-heading">
	    <h3 class="panel-title text-center">Doładowanie nie jest możliwe</h3>
	</div>
	<div class="panel-body">
	    Posiadasz nieuregulowane płatności uniemożliwiające doładowanie.<br />
	    Przejdź do zakładki <a href="?m=finances">Finanse</a> aby zobaczyć swoje saldo i faktury.
	</div>
    </div>
   <div class="col-md-3"></div>
   </div>
</div>    

{include file="footer.html"}
