<link rel="stylesheet" href="modules/voip/style/billing/jquery-ui.css">
<link rel="stylesheet" href="modules/voip/style/billing/jquery-ui.structure.css">
<link rel="stylesheet" href="modules/voip/style/billing/style.css">
<link rel="stylesheet" href="modules/voip/style/billing/jquery.validation.css">

<link rel="stylesheet" type="text/css" href="modules/voip/style/bootstrap/css/bootstrap.min.css">
<link href="modules/voip/style/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="modules/voip/style/billing/jquery.confirmon.css" rel="stylesheet" type="text/css" />
<link href="modules/voip/style/billing/formValidation.css" rel="stylesheet" type="text/css" />
<!-- JS dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="modules/voip/style/bootstrap/js/bootstrap.min.js"></script>
<!-- bootbox code -->
<script src="modules/voip/js/bootbox.js"></script>
<script src="modules/voip/js/jquery.validation.js"></script>
