{include file="clearheader.html"}
<!--// $Id$ //-->
<p><strong>{$layout.pagetitle}</strong> ({$smarty.now|date_format:"%A, %x"})</p>


            <th>{trans("No.")}</th>
            <th>{trans("ID")}</th>
            <th><b>{trans("First/last name")} / {trans("Name")}</b> # {trans("Address")} # {trans("Phone")}</th>
            <th>
                {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_finances')}{trans("Subscription")} # {/if}
                {trans("E-mail")} # {trans("TEN/SSN")}
            </th>
            {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_finances')}
                <th>{trans("Balance")}</th>
                {/if}
        </tr>
    </thead>
    {section name=customerlist loop=$customerlist}{if $customerlist[customerlist].id}
            <tr>{assign var=cid value=$customerlist[customerlist].id}
                <td>
                    {counter}.
                </td>
                <td>
                    {$customerlist[customerlist].id|string_format:"%04d"}
                </td>
                <td>
                    <B>{$customerlist[customerlist].customername}</B><BR>
                    {$customerlist[customerlist].zip} {$customerlist[customerlist].city}{if $customerlist[customerlist].city != ""},{/if} {$customerlist[customerlist].address}<BR>
            {if $contactlist.$cid.type}{trans("mobile")}{else}{trans("phone<!plural>")}{/if} {$contactlist.$cid.phone}
        </td>
        <td>
            {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_finances')}{$customerlist[customerlist].tariffvalue|money_format}<BR>{/if}
            {if $customerlist[customerlist].email}{$customerlist[customerlist].email}<BR>{/if}
            {if $customerlist[customerlist].ten}{trans("TEN:")} {$customerlist[customerlist].ten}{elseif $customerlist[customerlist].ssn}{trans("SSN:")} {$customerlist[customerlist].ssn}{/if}
        </td>
        {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_finances')}
            <td>
                {$customerlist[customerlist].balance|money_format}
            </td>
        {/if}
    </tr>
{/if}
{/section}
</TABLE>
{if ConfigHelper::checkConfig('privileges.superuser') || (!ConfigHelper::checkConfig('privileges.hide_finances') && !ConfigHelper::checkConfig('privileges.hide_summaries'))}
    <p>{trans("Total:")} 
        {sum array=$customerlist column="tariffvalue" string_format=$LANGDEFS.$_language.money_format}
        {sum array=$customerlist column="balance" string_format=$LANGDEFS.$_language.money_format}
    </p>
{/if}
{include file="clearfooter.html"}
