{include file="clearheader.html"}
<!--// $Id$ //-->
<p><strong>{$layout.pagetitle}</strong> ({$smarty.now|date_format:"%A, %x"})</p>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>
                {trans("No.")}
            </th>
            <th>
                {trans("Date")}
            </th>
            <th>
                {trans("Liability")}
            </th>
            <th>
                {trans("Income")}
            </th>
            <th>
                {trans("Expense")}
                </td>
            <td>
                {trans("After")}
            </td>
            <td>
                {trans("Description")}
            </td>
        </tr>
    </thead>
    {section name=balancelist loop=$balancelist.id}
        <tr>
            <td>
                {counter}.
            </td>
            <td>
                {$balancelist.date[balancelist]}
            </td>
            <td>
                {if !$balancelist.type[balancelist]}
                    {($balancelist.value[balancelist]*-1)|money_format}
                {else}
                    -
                {/if}
            </td>
            <td>
                {if $balancelist.type[balancelist] && $balancelist.value[balancelist] > 0}
                    {$balancelist.value[balancelist]|money_format}
                {else}
                    -
                {/if}
            </td>
            <td>
            {if $balancelist.type[balancelist] && $balancelist.value[balancelist] < 0}
            {($balancelist.value[balancelist]*-1)|money_format}
            {else}
                -
            {/if}
        </td>
        <td>
            {$balancelist.after[balancelist]|money_format}
        </td>
        <td>
            {$balancelist.comment[balancelist]|wordwrap:60:"<br />\n"}
        </td>
    </tr>
{sectionelse}
    <TR>
        <TD COLSPAN="7" class="empty-table">
            <p>{trans("No such transactions")}</p>
        </TD>
    </TR>
{/section}
<TR>
    <td COLSPAN="2">
        <B>{trans("Total:")}</B>
    </td>
    <td>
        <B>{$balancelist.liability|money_format}</B>
    </td>
    <td>
        <B>{$balancelist.income|money_format}</B>
    </TD>
    <TD CLASS="HEADGREY" ALIGN="right" nowrap>
        <B>{$balancelist.expense|money_format}</B>
    </TD>
    <TD CLASS="HEADGREY" COLSPAN="2" ALIGN="right">
        <B>{trans("Balance:")} {$balancelist.summary|money_format}</B>
    </TD>
</TR>
</TABLE>
{include file="clearfooter.html"}
