{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle} <a class="btn btn-success" href="?m=taxrateadd"><i class="fa fa-fw fa-plus-circle"></i> {trans("Add tax rate")}</a></h1>
        {if $listdata.total != 0}
            {include file="scroller.html" loop=$taxratelist}
        {/if}
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-inverse">
            <TR>
                <th><A href="?m=taxratelist&amp;o=label{if $listdata.direction == "asc" && $listdata.order == "label"},desc{/if}"><B>{trans("Label:")}</B></A> {if $listdata.order == "label"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}</th>
                <th><A href="?m=taxratelist&amp;o=id{if $listdata.direction == "asc" && $listdata.order == "id"},desc{/if}">{trans("ID:")}</A> {if $listdata.order == "id"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}</th>
                <th><A href="?m=taxratelist&amp;o=value{if $listdata.direction == "asc" && $listdata.order == "value"},desc{/if}">{trans("Value:")}</A> {if $listdata.order == "value"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}</th>
                <th>{trans("Taxing:")}</th>
                <th>{trans("Binds from date:")}</th>
                <th>{trans("Binds to date:")}</th>
                <th></th>
            </TR>
        </THEAD>
        <TBODY>
            {section name=taxratelist loop=$taxratelist start=$start max=$pagelimit}
                <TR class="{if ($taxratelist[taxratelist].validfrom !=0 && $taxratelist[taxratelist].validfrom > $smarty.now) || ($taxratelist[taxratelist].validto !=0 && $taxratelist[taxratelist].validto < $smarty.now)} blend{/if}"  >
                    <TD>
                        <a href="?m=taxrateedit&amp;id={$taxratelist[taxratelist].id}">{$taxratelist[taxratelist].label}</a>
                    </TD>
                    <TD>
                        ({$taxratelist[taxratelist].id|string_format:"%04d"})
                    </TD>
                    <TD>
                        {$taxratelist[taxratelist].value|string_format:"%.2f"} %
                    </TD>
                    <td>
                        {if $taxratelist[taxratelist].taxed}
                            <i class="fa fa-fw fa-plus text-success font-weight-bold"></i>
                        {else}
                            <i class="fa fa-fw fa-minus text-muted font-weight-bold"></i>
                        {/if}
                    </td>
                    <td>
                    {if $taxratelist[taxratelist].validfrom}{$taxratelist[taxratelist].validfrom|date_format:"%x"}{/if}
                </TD>
                <td>
                    {if $taxratelist[taxratelist].validto}
                        {$taxratelist[taxratelist].validto|date_format:"%x"}
                    {/if}
                </TD>
                <TD>
                    <A class="btn btn-sm btn-danger" href="?m=taxratedel&amp;id={$taxratelist[taxratelist].id}" OnClick="return confirmLink(this, '{t a=$taxratelist[taxratelist].label}Are you sure, you want to delete taxrate \'$a\'?{/t}')" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                    <A class="btn btn-sm btn-primary" href="?m=taxrateedit&amp;id={$taxratelist[taxratelist].id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                </TD>
            </TR>
        {sectionelse}
            <TR>
                <TD colspan="7">
                    {trans("No such tax rates in database.")}
                </TD>
            </TR>
        {/section}
    </TBODY>
</TABLE>
{if $listdata.total != 0}
    {include file="scroller.html" loop=$taxratelist}
{/if}
{/block}
