<!DOCTYPE html>
<html>
    <head>
        <title>Cennik telewizja JAMBOX</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen,print">
        <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen,print">
        <style>
            body {
                font-size: 9px;
            }
            @page
            {
                size: auto;   /* auto is the initial value */
                /* this affects the margin in the printer settings */
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Alfa-System: Cennik telewizja JAMBOX z dnia 26.01.2016r.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p style="border-bottom: 1px solid #000;"><strong>Opłaty za pakiety dodatkowe (nie dotyczy Mini HD)</strong></p>
                    <table class="table table-bordered table-condensed">
                        <tr><td>Pakiet nHD</td><td>6,99 zł</td></tr>
                        <tr><td>nSport HD</td><td>5,99 zł</td></tr>
                        <tr><td>Polsat Sport HD</td><td>7,99 zł</td></tr>
                        <tr><td>Pakiet Filmbox</td><td>14,99 zł</td></tr>
                        <tr><td>Pakiet Cinemax</td><td>14,99 zł</td></tr>
                        <tr><td>Pakiet HBO HD</td><td>29,99 zł</td></tr>
                        <tr><td>Pakiet HBO HD + OD + GO</td><td>36,99 zł</td></tr>
                        <tr><td>Discovery Channel HD</td><td>5,99 zł</td></tr>
                        <tr><td>National Geographic HD</td><td>5,99 zł</td></tr>
                        <tr><td>Nat Geo Wild HD</td><td>5,99 zł</td></tr>
                        <tr><td>Animal Planet HD</td><td>5,99 zł</td></tr>
                        <tr><td>Więcej Bajek</td><td>5,99 zł</td></tr>
                        <tr><td>Więcej Discovery HD</td><td>5,99 zł</td></tr>
                        <tr><td>Więcej Filmów HD</td><td>9,99 zł</td></tr>
                        <tr><td>Więcej Muzyki HD</td><td>3,99 zł</td></tr>
                        <tr><td>Więcej Nauki HD</td><td>6,99 zł</td></tr>
                        <tr><td>Więcej Seriali HD</td><td>9,99 zł</td></tr>
                        <tr><td>Więcej Sportu HD</td><td>7,99 zł</td></tr>
                        <tr><td>Więcej Luzu HD</td><td>7,99 zł</td></tr>
                        <tr><td>Więcej Świata</td><td>1,99 zł</td></tr>
                        <tr><td>Pakiet CANAL+ Select</td><td>62,99 zł</td></tr>
                        <tr><td>Pakiet CANAL+ Prestige</td><td>68,99 zł</td></tr>
                        <tr><td>MEZZO Live HD</td><td>5,99 zł</td></tr>
                        <tr><td>MTV Live HD</td><td>8,99 zł</td></tr>
                        <tr><td>TVP HD</td><td>5,99 zł</td></tr>
                        <tr><td>TV Republika</td><td>4,99 zł</td></tr>
                    </table>
                    <p style="border-bottom: 1px solid #000;"><strong>Promocje na pakiety dodatkowe</strong></p>
                    <table class="table table-bordered table-condensed">
                        <tr><td>Promocja Pakiet CANAL+ Prestige na 12 miesięcy</td><td>49,90 zł</td></tr>
                        <tr><td>Promocja Pakiet CANAL+ Select na 12 miesięcy</td><td>44,90 zł</td></tr>
                        <tr><td>Promocja Pakiet HBO HD na 12 miesięcy</td><td>24,90 zł</td></tr>
                        <tr><td>Promocja Pakiet HBO HD+OD+GO na 12 miesięcy</td><td>29,90 zł</td></tr>
                    </table>
                </div>
                <div class="col-xs-6">
                    <p style="border-bottom: 1px solid #000;"><strong>Opłaty jednorazowe (bezzwrotne)</strong></p>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th>Model SetTopBox</th>
                            <td>MAG&nbsp;250&nbsp;HD</td>
                        </tr>
                        <tr>
                            <th>Zakup STB</th>
                            <td>270 zł</td>
                        </tr>
                        <tr>
                            <th>Aktywacja STB</th>
                            <td>49 zł</td>
                        </tr>
                        <tr>
                            <th>Instalacja (naliczana w przypadku braku usługi dostępu do Internetu z firmy Alfa-System)</th>
                            <td>150 zł</td>
                        </tr>
                    </table>
                    <p style="border-bottom: 1px solid #000;"><strong>Opłaty abonamentowe</strong></p>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th>Pakiet Mini HD</th>
                            <td>39,90 zł</td>
                        </tr>
                        <tr>
                            <th>Pakiet Wielotematyczny HD</th>
                            <td>54,90 zł</td>
                        </tr>
                        <tr>
                            <th>Pakiet Wielotematyczny Super HD</th>
                            <td>74,90 zł</td>
                        </tr>
                        <tr>
                            <th>Jambox Online (wymaga pakietu Wielotematycznego)</th>
                            <td>2,46 zł</td>
                        </tr>
                        <tr>
                            <th>Multiroom (opłata za dodatkowy STB)</th>
                            <td>14,90 zł</td>
                        </tr>
                    </table>
                    <p style="border-bottom: 1px solid #000;"><strong>Ceny związane z dodatkowymi akcesoriami oraz odszkodowanie z nimi związane *</strong></p>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th>Pilot do obsługi STB</th>
                            <td>50 zł</td>
                        </tr>
                        <tr>
                            <th>Zasilacz</th>
                            <td>40 zł</td>
                        </tr>
                        <tr>
                            <th>Kabel: zasilający, ethernet, SCART, HDMI</th>
                            <td>20 zł każdy</td>
                        </tr>
                    </table>
                    <p style="border-bottom: 1px solid #000;"><strong>Inne opłaty*</strong></p>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th>Odszkodowanie związane z przeterminowym rozwiązaniem Umowy Abonenckiej zawartej na czas określony</th>
                            <td>Opłata w wysokości udzielonej ulgi zgodnie z Regulaminem Promocji</td>
                        </tr>
                        <tr>
                            <th>Opłata za nieterminowe zwrócenie STB stanowiącego własność Operatora</th>
                            <td>Odsetki ustawowe liczone od wartości danego STB, naliczane od dnia następującego po dniu, w którym STB miał zostać zwrócony</td>
                        </tr>
                        <tr>
                            <th>Odszkodowanie za zgubienie albo zwrócenie zniszczonego STB z winy Abonenta*</th>
                            <td>270 zł</td>
                        </tr>
                        <tr>
                            <th>Wydanie nowego ** lub naprawa w przypadku uszkodzenia/zniszczenia STB z winy Abonenta</th>
                            <td>270 zł</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    Cennik aktualnych promocji oraz informacje o kanałach telewizyjnych i innych Usługach wchodzących w skład Pakietów, dostępne są na stronie www.alfa-system.pl. Wszystkie ceny są cenami brutto (zawierają wynikający z przepisów prawa podatek od towarów i usług VAT). Cennik dotyczy sprzedaży usług przez SGT S.A.
                    <strong>*</strong> Odszkodowanie zostanie pomniejszone proporcjonalnie o stopieńzu życia sprzętu. <strong>**</strong> Naliczone zostanąrzeczywiste koszty naprawy. W przypadku, gdyby naprawa była nieuzasadniona ekonomicznie lub niewykonalna, naliczony zostanie koszt zakupu nowego urządzenia.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed">
                        <tr><td>
                                <p style="margin-top:50px; border-bottom: 1px solid #000;"></p>
                                <p>Data i podpis uprawnionego Przestawiciela Operatora</p>
                            </td><td>
                                <p style="margin-top:50px; border-bottom: 1px solid #000;"></p>
                                <p>Data i podpis Abonenta</p>
                            </td></tr>
                    </table>
                </div>
            </div>
            <!-- <div class="pull-right"><p class="text-muted">ID:{$sha1}</p></div> -->
        </div>
    </body>
</html>