adminer.php
assets/*
templates_c/*
userpanel/*
userpanel/templates_c/*
userpanel_twbs/templates_c/*
lib/Smarty/*
nbproject/private
lms.ini
backups/*
documents/*
!documents/templates
cache/*
contrib/LMS2Nagios-php/generated/*
lib/teryt/*
wyciagi/*

# Temporary files
*~
*.swp
*.swo

/vendor/
