{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle} <a class="btn btn-success" href="?m=stateadd"><i class="fa fa-fw fa-plus-circle"></i> {trans("Add state")}</a></h1>
        {if $listdata.total != 0}
            {include file="scroller.html" loop=$statelist}
        {/if}
    
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-inverse">
            <TR>
                <th>{trans("Name:")}</th>
                <th>{trans("ID:")}</th>
                <th>{trans("Description:")}</th>
                <th></th>
            </TR>

        </THEAD>
        <TBODY>
            {cycle values="light,lucid" print=false}
            {section name=statelist loop=$statelist}
                <TR>
                    <TD>
                        <a href="?m=stateedit&id={$statelist[statelist].id}">{$statelist[statelist].name}</a>
                    </TD>
                    <TD>
                        ({$statelist[statelist].id|string_format:"%04d"})
                    </TD>
                    <TD>
                        {$statelist[statelist].description|replace:"\n":"<BR>"}
                    </TD>
                    <TD>
                        <A class="btn btn-sm btn-danger" href="?m=statedel&id={$statelist[statelist].id}" OnClick="return confirmLink(this, '{t a=$statelist[statelist].name}Are you sure, you want to delete state \'$a\'?{/t}')" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                        <A class="btn btn-sm btn-primary" href="?m=stateedit&id={$statelist[statelist].id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                    </TD>
                </TR>
            {sectionelse}
                <TR>
                    <TD colspan="4">
                        {trans("No such states in database.")}
                    </TD>
                </TR>
            {/section}
        </TBODY>
    </TABLE>
    {if $listdata.total != 0}
        {include file="scroller.html" loop=$statelist}
    {/if}
{/block}
