<div class="card">
    <div class="card-header">
        <strong>
            {$userinfo.login}
        </strong>
        &nbsp;
        ({$userinfo.id|string_format:"%04d"})
    </div>
    <div class="card-block">
        <ul class="list-unstyled">
            <li>
                {trans("First/last name")}:
                <strong>{$userinfo.name}</strong>
            </li>
            {if $userinfo.position}
                <li>
                    {trans("Position")}:
                    <strong>{$userinfo.position}</strong>
                </li>
            {/if}
            {if $userinfo.email}
                <li>
                    {trans("E-mail")}:
                    <a href="mailto:{$userinfo.email}"><strong>{$userinfo.email}</strong></a>
                </li>
            {/if}
            {if $userinfo.phone}
                <li>
                    {trans("Phone")}:
                    <strong>{$userinfo.phone}</strong>
                </li>
            {/if}
            {if $userinfo.swekey_id}
                <li>
                    {trans("Swekey")}:
                    <strong>{$userinfo.swekey_id}</strong>
                </li>
            {/if}
            {if $userinfo.notification}
                <li>
                    {trans("Notification")}:
                    <strong>{if !$userinfo.ntype}{trans("none")}{else}{$userinfo.ntype}{/if}</strong>
                </li>
            {/if}
            <li>
                {trans("Account active")}:
                <strong>{if !$userinfo.access}{trans("no")}{else}{trans("yes")}{/if}</strong>
            </li>
            {if $userinfo.accessfrom || $userinfo.accessto}
                <li>
                    {trans("Account active")}:
                    <strong>
                        {if $userinfo.accessfrom}<span class="bold">{trans("from")}:</span> {$userinfo.accessfrom}{/if}
                        {if $userinfo.accessto}<span class="bold"> {trans("to")}:</span> {$userinfo.accessto}{/if}
                    </strong>
                </li>
            {/if}
            <li>
                {trans("Allowed hosts")}:
                <strong>{if $userinfo.hosts}{$userinfo.hosts}{else}{trans("all")}{/if}</strong>
            </li>
            <li>
                {trans("Password expiration")}:
                <strong>{$_PASSWDEXPIRATIONS[$userinfo.passwdexpiration]}</strong>
            </li>
            <li>
                {trans("Last password change")}:
                <strong>{$userinfo.passwdlastchange}</strong>
            </li>
            <li>
                {trans("Access rights")}:
                <ul>
                    {foreach $accesslist as $access}
                        {if $access.enabled}
                            <li>{$access.name}</li>
                            {/if}
                        {/foreach}
                </ul>
            </li>
            <li>
                {trans("Excluded groups")}:
                {foreach from=$excludedgroups item=item}
                    {if $item@first}
                        <ul>
                        {/if}
                        <li class="acl"><a href="?m=customergroupinfo&id={$item.id}">{$item.name}</a></li>
                            {if $item@last}
                        </ul>
                    {/if}
                {foreachelse}
                    -
                {/foreach}
            </li>
            <li>
                {trans("Last login")}:
                {$userinfo.lastlogin}, {$userinfo.lastloginip} {if $userinfo.lastloginip != $userinfo.lastloginhost}({$userinfo.lastloginhost}){/if}
            </li>
            <li>
                {trans("Last failed login")}:
                {$userinfo.faillogin}, {$userinfo.failedloginip} {if $userinfo.failedloginip != $userinfo.failedloginhost}({$userinfo.failedloginhost}){/if}
            </li>
        </ul>
        {block name="other-information"}
        {/block}
        {if $layout.logid ne $userinfo.id}
            {if !$userinfo.access}
                <a class="btn btn-secondary btn-sm" href="?m=useraccess&amp;id={$userinfo.id}&amp;access=1">{trans("Connect")}</a>
            {else}
                <a class="btn btn-success btn-sm" href="?m=useraccess&amp;id={$userinfo.id}&amp;access=0">{trans("Disconnect")}</a>
            {/if}
        {/if}
        <A class="btn btn-primary btn-sm" href="?m=useredit&amp;id={$userinfo.id}" accesskey="E">{trans("Edit")}</A>
        <A class="btn btn-danger btn-sm" href="?m=userdel&amp;id={$userinfo.id}" onClick="return confirmLink(this, '{trans("Are you sure, you want to irreversibly delete that user account?")}');">{trans("Delete")}</A>
        <A class="btn btn-warning btn-sm" href="?m=userpasswd&amp;id={$userinfo.id}">{trans("Change password")}</A>
        <a class="btn btn-secondary btn-sm" href="?m=userlist">{trans("User list")}</a>
    </div>
</div>
