{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <h1>{$layout.pagetitle} ({$listdata.total|default:"0"}) <a class="btn btn-sm btn-success" href="?m=usergroupadd"><i class="fa fa-fw fa-plus-circle"></i> {trans("Add new group")}</a></h1>
    <table class="table table-sm table-bordered table-striped table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>
                    {trans("Name")} / {trans("ID")} / {trans("Description")}
                </th>
                <th>{trans("Members")}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {section name=usergroups loop=$usergrouplist}
                <tr>
                    <td>
                        <a href="?m=usergroupinfo&amp;id={$usergrouplist[usergroups].id}">{$usergrouplist[usergroups].name}</a> <span class="text-muted">({$usergrouplist[usergroups].id|string_format:"%04d"})</span><br>
                    {if $usergrouplist[usergroups].description}{$usergrouplist[usergroups].description}{/if}
                </td>
                <td>
                    {$usergrouplist[usergroups].userscount} 
                </td>
                <td>
                    {if $usergrouplist[usergroups].userscount}
                        <a class="btn btn-sm btn-secondary disabled" href="javascript:alert('{trans("Group with members cannot be deleted!")}');" title="{trans("Delete")}"><i class="fa fa-fw fa-trash" title="{trans('Group with members cannot be deleted!')}"></i></a>
                        {else}
                        <a class="btn btn-sm btn-danger" href="?m=usergroupdel&amp;id={$usergrouplist[usergroups].id}" onClick="return confirmLink(this, '{trans("Are you sure, you want to remove this group?")}');" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></a>
                        {/if}
                    <a class="btn btn-sm btn-primary" href="?m=usergroupedit&amp;id={$usergrouplist[usergroups].id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></a>
                </td>
            </tr>
        {sectionelse}
            <tr>
                <td colspan="3">
                    {trans("There are no such groups in database.")}
                </td>
            </tr>
        {/section}
    </tbody>
</table>
{/block}
