{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <h1>{$layout.pagetitle}</h1>
    <table class="table table-bordered table-hover table-striped table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>{trans("Last and first name")}<br>({trans("Login name")})</th>
                <th>{trans("Active from")}<br>{trans("Active to")}</th>
                <th>{trans("Last login")}<br>{trans("IP")} ({trans("Hostname")})</th>
                <th class="text-right">{trans("Total:")} {$userslist.total}</th>
            </tr>
        </thead>
        <tbody>
            {section name=userslist loop=$userslist}
                {if $userslist[userslist].id}
                    <tr{if !$userslist[userslist].access} class="text-muted"{/if}>
                        <td onClick="return self.location.href = '?m=userinfo&amp;id={$userslist[userslist].id}';">
                            {$userslist[userslist].name}<br><span class="text-muted">({$userslist[userslist].login})</span> 
                        </td>
                        <td onclick="return self.location.href = '?m=userinfo&amp;id={$userslist[userslist].id}';">
                            {$userslist[userslist].accessfrom}
                            <br>
                            {$userslist[userslist].accessto}
                        </td>
                        <td onClick="return self.location.href = '?m=userinfo&amp;id={$userslist[userslist].id}';">
                            {$userslist[userslist].lastlogin}
                            <br>
                            {$userslist[userslist].lastloginip}
                            {if $userslist[userslist].lastloginip != $userslist[userslist].lastloginhost}
                                <span class="text-muted">({$userslist[userslist].lastloginhost})</span>
                            {/if}
                        </td>
                        <td>
                            {if $userslist[userslist].swekey_id}
                                <i class="fa fa-key fa-lg fa-fw" aria-hidden="true" title="{trans("Use Swekey")}"></i>
                            {/if}
                            {if $layout.logid ne $userslist[userslist].id}
                                {if !$userslist[userslist].access}
                                    <a class="btn btn-sm btn-secondary" href="?m=useraccess&amp;id={$userslist[userslist].id}&amp;access=1">{trans('Activate')}</a>
                                    {else}
                                    <a class="btn btn-sm btn-success" href="?m=useraccess&amp;id={$userslist[userslist].id}&amp;access=0">{trans('Deactivate')}</a>
                                    {/if}
                                {/if}
                            <a class="btn btn-sm btn-warning" href="?m=userpasswd&amp;id={$userslist[userslist].id}">{trans("Change password")}</a>
                            {if $userslist[userslist].id != $layout.logid}<a class="btn btn-sm btn-danger" href="?m=userdel&amp;id={$userslist[userslist].id}" onClick="return confirmLink(this, '{trans("Are you sure, you want to irreversibly delete that user account?")}');">{trans("Delete")}</a>{/if}
                            <a class="btn btn-sm btn-primary" href="?m=useredit&amp;id={$userslist[userslist].id}">{trans("Edit")}</a>
                        </td>
                    </tr>
                {/if}
            {/section}
        </tbody>
    </table>
{/block}
