{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!-- $Id$ -->
    <H1>{$layout.pagetitle} <a class="btn btn-success" href="?m=cashregadd"><i class="fa fa-fw fa-plus-circle"></i> {trans("Add registry")}</a></h1>


    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-inverse">
            <TR>
                <TH> {trans("Name:")}
                </TH>
                <TH>{trans("ID:")}
                </TH>
                <TH>
                    {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_summaries')}
                        {trans("Cash state:")}
                    {/if}
                </TH>
                <TH>
                    {trans("Cash-in receipt numbering plan:")}<BR>
                    {trans("Cash-out receipt numbering plan:")}
                </TH>
                <TH>
                    {trans("Description:")}
                </TH>
                <TH>

                </TH>
            </TR>
        </THEAD>
        <TBODY>
            {foreach from=$reglist item=reg}
                <TR class="{if $reg.disabled} text-muted{/if}">
                    <TD>
                        <a href="?m=receiptlist&amp;regid={$reg.id}"> {$reg.name}</a>
                    </TD>
                    <TD>
                        ({$reg.id|string_format:"%04d"})
                    </TD>
                    <TD class="nobr text-right{if $reg.balance < 0} alert{/if}" onClick="return self.location.href = '?m=receiptlist&amp;regid={$reg.id}';">
                        {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_summaries')}
                            {$reg.balance|money_format}
                        {/if}
                    </TD>
                    <TD>
                        {$reg.in_template|default:"%N/LMS/%Y"}<BR>
                        {$reg.out_template|default:"%N/LMS/%Y"}
                    </TD>
                    <TD>
                        {$reg.description}
                    </TD>
                    <TD>
                        <A class="btn btn-sm btn-danger" HREF="?m=cashregdel&amp;id={$reg.id}" OnClick="return confirmLink(this, '{t a=$reg.name}Are you sure, you want to remove registry \'$a\' and all assigned receipts?{/t}');" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                        <A class="btn btn-sm btn-primary" HREF="?m=cashregedit&amp;id={$reg.id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                        <A class="btn btn-sm btn-info" HREF="?m=cashreginfo&amp;id={$reg.id}" title="{trans("Edit")}"><i class="fa fa-fw fa-info"></i></A>
                    </TD>
                </TR>
            {foreachelse}
                <TR>
                    <TD colspan="6">
                        {trans("There are no cash registries.")}
                    </TD>
                </TR>
            {/foreach}
        </TBODY>
    </TABLE>

    {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_summaries')}
        {trans("Total:")} {$listdata.sum|money_format}
    {/if}

{/block}
