{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!-- $Id$ -->
    <H1>{$layout.pagetitle} <a class="btn btn-success" href="?m=cashsourceadd"><i class="fa fa-fw fa-plus-circle"></i> {trans("Add source")}</a></h1>

        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-inverse">
                <TR>
                    <TH>{trans("Name:")}</TH>
                    <TH>{trans("ID:")}</TH>
                    <TH>{trans("Description:")}</TH>
                    <TH></TH>
                </TR>
            </THEAD>
            <TBODY>
                {foreach from=$sourcelist item=source}
                    <TR class="{if $source.deleted == 1} text-muted{/if}">
                        <TD>
                            <a href="?m=cashsourceedit&id={$source.id}">{$source.name}</a>
                        </TD>
                        <TD>
                            ({$source.id|string_format:"%04d"})
                        </TD>
                        <TD>
                            {$source.description}
                        </TD>
                        <TD>
                            {if $source.deleted == 1}
                                <a class="btn btn-sm btn-warning" href="?m=cashsourcelist&action=enable&id={$source.id}" title="{trans("Enable")}"><i class="fa fa-fw fa-toggle-off"></i></A>
                                {else}
                                <a class="btn btn-sm btn-success" href="?m=cashsourcelist&action=disable&id={$source.id}" title="{trans("Disable")}"><i class="fa fa-fw fa-toggle-off"></i></A>
                                {/if}
                            <A class="btn btn-sm btn-danger" HREF="?m=cashsourcedel&id={$source.id}" OnClick="return confirmLink(this, '{t a=$source.name}Are you sure, you want to remove source \'$a\'?{/t}');" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                            <A class="btn btn-sm btn-primary" HREF="?m=cashsourceedit&id={$source.id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                        </TD>
                    </TR>
                {foreachelse}
                    <TR>
                        <TD colspan="4">
                            {trans("There are no sources in database.")}
                        </TD>
                    </TR>
                {/foreach}
            </TBODY>
        </TABLE>
    {/block}
