{if $errors neq ''}
<pre>{$errors|@var_export:true|nl2br}</pre> 
{else}

<h1>UWAGA! Przed wystawieniem aneksu należy najpierw zmienić dane na koncie Klienta!</h1>
<TABLE cellpadding="3" WIDTH="100%">
    <TR class="light">
        <TD width="1%" class="fbt" NOWRAP>
            <B>Umowa, do której odnosi się rezygnacja</B> 
        </TD>
        <TD width="98%" class="frightu" NOWRAP>
            <SELECT size="1" name="document[contract]">
                {foreach from=$contracts item=contract}
                {assign var=item value="|"|explode:$contract}
                <OPTION value="{$contract}">{$item[0]} z dnia {$item[1]}</OPTION>
                {/foreach}
            </select>            
            <!-- <input name="" type="text" value=""> {trans("Contract number")} -->
        </TD>
    </TR>    
    <TR class="light">
        <TD width="1%" class="fbt" NOWRAP>
            <B>Data wyłączenia usługi</B> 
        </TD>
        <TD width="98%" class="frightu" NOWRAP>   
            Dzień: 
            <SELECT size="1" name="document[contractendday]">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>                
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>     
            &nbsp;
            Miesiąc:
            <SELECT size="1" name="document[contractendmonth]">
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>                
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>   
            &nbsp;
            Rok: 
            <SELECT size="1" name="document[contractendyear]">
                <option value="{$smarty.now|date_format:'%Y'}">{$current_year}</option>
                <option value="{$smarty.now|date_format:'%Y'}">{$next_year}</option>                
            </select> 
        </TD>
    </TR>   
    <TR class="light">
        <TD width="1%" class="fbt" NOWRAP>
            <B>Powód rezygnacji: </B> 
        </TD>    
        <TD width="98%" class="frightu" NOWRAP>
            <SELECT size="1" name="document[powod_rezygnacji_lista]">     
                <OPTION value=""></OPTION>
                <OPTION value="wyprowadzka poza obszar działania Alfa-System">wyprowadzka poza obszar działania Alfa-System</OPTION>
                <OPTION value="zmiana operatora na">zmiana operatora na</OPTION>
                <OPTION value="za wysoki koszt abonamentu">za wysoki koszt abonamentu</OPTION>
                <OPTION value="niski poziom świadczonych usług">niski poziom świadczonych usług</OPTION>
                <OPTION value="brak odbiorców usługi">brak odbiorców usługi</OPTION>
            </select>

            Wpisz inny powód: <input name="document[powod_rezygnacji]" type="input">
        
        </TD>
    </TR>  
</TABLE>
{/if}