<!DOCTYPE html>
<html>
    <head>
        <title>Rezygnacja</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!-- TWITTER BOOTSTRAP RESPONSIVE -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- TWITTER BOOTSTRAP CSS -->
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen,print">
        <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen,print">
        <style>
            body {
                padding: 1em;
                margin: 1em;
                font-size: 10px;
                line-height: 10px;
            }
            small {
                font-size: 10px
            }
            ol li {
                line-height:10px
            }
            @page  
            { 
                size: auto;   /* auto is the initial value */ 

                /* this affects the margin in the printer settings */ 
                margin-left: 5mm;  
                margin-right: 5mm;  
                margin-top: 10mm;  
                margin-bottom: 10mm;  
            } 
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h3>Alfa-System: internet, telewizja, telefon, monitoring</h3>
                    {assign var=item value="|"|explode:$document.contract}
                    <h4>Wypowiedzenie umowy nr {if $item[0] neq ''}{$item[0]}{else}...................{/if} zawartej w dniu {if $item[1] neq ''}{$item[1]}{else}...................{/if}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Pomiędzy OPERATOREM</strong></p>
                    <p>Alfa-System M. Piwowarski, A. Widera spółka jawna<br/>ul. Lotników 6<br/>44-196 Knurów</p>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>a ABONENTEM</strong></p>                                  
                    {if $customerinfo.type==1}
                    <p>
                        {$customerinfo.customername}<br/>
                        {$customerinfo.address}<br/>
                        {$customerinfo.zip} {$customerinfo.city}<br/>
                        {$customerinfo.ten}
                    </p>
                    {else}
                    <p>
                        {$customerinfo.customername}<br/>
                        {$customerinfo.address}<br/>
                        {$customerinfo.zip} {$customerinfo.city}
                        {trans("PESEL:")} {$customerinfo.ssn}
                    </p>
                    {/if}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Oświadczenie:</strong></p>                                  
                    <p>Abonent oświadcza, że nie ma żadnych zobowiązań finansowych wobec firmy Alfa-System M.Piwowarski, A.Widera spółka jawna.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Rezygnacja z powodu:</strong> {if strlen($document.powod_rezygnacji_lista)>1}{$document.powod_rezygnacji_lista}{else}{$document.powod_rezygnacji}{/if}</p>                                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Usługa zostanie wyłączona z dniem {$document.contractendday}.{$document.contractendmonth}.{$document.contractendyear}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><br/><br/><br/><br/>
                    <table class="table table-striped">
                        <tr>
                            <td height="50"></td>
                            <td><br/>&nbsp;<br/></td>
                            <td></td>
                        </tr>  
                        <tr>
                            <td style="border-top: 1px solid #999;">Data i podpis Abonenta</td>
                            <td>&nbsp;</td>
                            <td style="border-top: 1px solid #999;">Data i podpis przedstawiciela Operatora ( {$layout.logname} )</td>
                        </tr>  
                    </table>  
                </div>
            </div>  
        </div>
    </body>
</html>
<!-- ANEKS wersja z dnia 21.11.2012 -->