{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!-- $Id$ -->
    <H1>{$layout.pagetitle} ({$listdata.total|default:"0"})</H1>
    <FORM class="form-inline" NAME="addbalance{$smarty.section.payments.index}" METHOD="POST" ACTION="?m=balanceadd">
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover table-striped">
                <thead class="thead-inverse">
                <th>
                    <B>{trans("Name:")}</B><BR>
                        {trans("Creditor:")}
                </th>
                <th>
                    {trans("ID:")}
                </th>
                <th>
                    {trans("Value:")}
                </th>
                <th>
                    {trans("Payment day:")}
                </th>
                <th>

                </th>
                </TR>
                </THEAD>
                <TBODY>
                    {section name=payments loop=$paymentlist}
                        <TR>
                            <TD onClick="return self.location.href = '?m=paymentinfo&id={$paymentlist[payments].id}';">
                                <B>{$paymentlist[payments].name}</B><BR>
                                    {$paymentlist[payments].creditor}
                            </TD>
                            <TD onClick="return self.location.href = '?m=paymentinfo&id={$paymentlist[payments].id}';">
                                ({$paymentlist[payments].id|string_format:"%04d"})
                            </TD>
                            <TD onClick="return self.location.href = '?m=paymentinfo&id={$paymentlist[payments].id}';" class="text-right nobr">
                                {$paymentlist[payments].value|money_format}
                            </TD>
                            <TD onClick="return self.location.href = '?m=paymentinfo&id={$paymentlist[payments].id}';" class="text-right nobr">
                                {$paymentlist[payments].payday}
                            </TD>
                            <TD>
                                <INPUT type="submit" class="hidden-xs-up">
                                <INPUT TYPE="HIDDEN" NAME="m" VALUE="balanceadd">
                                <INPUT TYPE="HIDDEN" NAME="addbalance[value]" VALUE="{math equation="x*-1" x=$paymentlist[payments].value}">
                                <INPUT TYPE="HIDDEN" NAME="addbalance[comment]" VALUE="{$paymentlist[payments].name} / {$paymentlist[payments].creditor}">
                                <A class="btn btn-sm btn-success" HREF="javascript:document.addbalance{$smarty.section.payments.index}.submit();" title="{trans("Account payment")}">{trans("Account payment")}</A>
                                <A class="btn btn-sm btn-danger" HREF="?m=paymentdel&id={$paymentlist[payments].id}" onClick="return confirmLink(this, '{trans("Are you sure, you want to delete that payment?")}');" title="{trans("Delete")}">{trans("Delete")}</A>
                                <A class="btn btn-sm btn-primary" HREF="?m=paymentedit&id={$paymentlist[payments].id}" title="{trans("Edit")}">{trans("Edit")}</A>
                            </TD>
                        </TR>
                    {sectionelse}
                        <TR>
                            <TD COLSPAN="5">
                                {trans("No such standing payments in database.")}
                            </TD>
                        </TR>
                    {/section}
                </TBODY>
            </TABLE>
        </div>
    </FORM>
{/block}
