<h1>Polecany</h1>
<TABLE cellpadding="3" WIDTH="100%">
    <TR class="light">
        <TD width="1%" class="fleftu">
            <IMG src="img/docum.gif" alt="">
        </TD>
        <TD width="1%" class="fbt" NOWRAP>
            <B>Imię i nazwisko</B>
        </TD>
        <TD width="98%" class="frightu" NOWRAP>
            <input name="document[polecany]" type="text" value="">
        </TD>
    </TR>      
    <TR class="light">
        <TD width="1%" class="fleftu">
            <IMG src="img/docum.gif" alt="">
        </TD>
        <TD width="1%" class="fbt" NOWRAP>
            <B>PESEL:</B>
        </TD>
        <TD width="98%" class="frightu" NOWRAP>
            <input name="document[pesel]" type="text" value="">
        </TD>
    </TR>   
</TABLE>