{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!-- $Id$ -->
    <H1>{$layout.pagetitle} <a class="btn btn-success" href="?m=daemoninstanceadd&amp;hostid={$hostid}"><i class="fa fa-fw fa-plus-circle"></i> {trans("Add instance")}</a></h1>


    <FORM class="form-inline" method="GET" action="?m=daemoninstancelist" name="filter">
        <INPUT type="submit" class="hiddenbtn">
        <INPUT type="HIDDEN" name="m" value="daemoninstancelist">
        <label>{trans("Host:")}</label>
        <SELECT class="form-control form-control-sm" name="id" OnChange="document.filter.submit();">
            <OPTION value="0"{if ! $hostid} SELECTED{/if}>{trans("- all hosts -")}</OPTION>
                {section name=hosts loop=$hosts}
                <OPTION value="{$hosts[hosts].id}"{if $hosts[hosts].id == $hostid} SELECTED{/if}>{$hosts[hosts].name}</OPTION>
                {/section}
        </SELECT>
    </FORM>

    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-inverse">
            <TR>
                <th>{trans("Name:")}</th>
                <th>{trans("Host:")}</th>
                <th>{trans("Priority:")}</th>
                <th>{trans("Module:")} / {trans("Crontab:")}</th>
                <th>{trans("Description:")}</th>
                <th></th>
            </TR>
        </THEAD>
        <TBODY>
            {foreach from=$instancelist item=instance}
                <TR class="{if $instance.disabled} text-muted{/if}"  >
                    <TD>
                        <a href="?m=daemoninstanceview&amp;id={$instance.id}">{$instance.name}</a>
                    </TD>
                    <TD>
                        {$instance.hostname}
                    </TD>
                    <TD>
                        {$instance.priority}
                    </TD>
                    <TD>
                        {$instance.module}<BR>{$instance.crontab}
                    </TD>
                    <TD>
                        {$instance.description}
                    </TD>
                    <TD>
                      {if $instance.disabled}
                            <A class="btn btn-sm btn-warning" href="?m=daemoninstanceedit&amp;id={$instance.id}&amp;statuschange=1" title="{trans("Enable")}"><i class="fa fa-fw fa-toggle-off"></i></A>
                        {else}
                            <A class="btn btn-sm btn-success" href="?m=daemoninstanceedit&amp;id={$instance.id}&amp;statuschange=1" title="{trans("Disable")}"><i class="fa fa-fw fa-toggle-on"></i></A>
                        {/if}
                        <A class="btn btn-sm btn-secondary" HREF="?m=daemoninstanceadd&amp;id={$instance.id}" title="{trans("Clone")}"><i class="fa fa-fw fa-clone"></i></A>
                        <A class="btn btn-sm btn-danger" HREF="?m=daemoninstancedel&amp;id={$instance.id}" OnClick="return confirmLink(this, '{t a=$instance.name}Are you sure, you want to remove instance \'$a\' and all assigned configuration?{/t}');" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                        <A class="btn btn-sm btn-primary" HREF="?m=daemoninstanceedit&amp;id={$instance.id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                    </TD>
                </TR>
            {foreachelse}
                <TR>
                    <TD colspan="6">
                        {trans("There are no instances configured.")}
                    </TD>
                </TR>
            {/foreach}
        </TBODY>
    </TABLE>
{/block}
