{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle} <A class="btn btn-sm btn-success" href="?m=eventadd&amp;day={$daylist[daylist]|date_format:"%d"}&amp;month={$daylist[daylist]|date_format:"%m"}&amp;year={$daylist[daylist]|date_format:"%Y"}"><i class="fa fa-fw fa-lg fa-plus"></i> {trans("Add Event")}</A></H1>

    <fieldset class="form-group">
        <FORM class="form-inline" method="POST" action="?m=eventlist" name="filter">
            <INPUT type="submit" class="hiddenbtn">
            <INPUT type="HIDDEN" name="m" value="eventlist">

            <SELECT class="form-control form-control-sm" name="a" OnChange="document.filter.submit();">
                <OPTION value="0"{if $listdata.userid == ""} SELECTED{/if}>{trans("All users")}</OPTION>
                    {section name=userlist loop=$userlist}
                    <OPTION value="{$userlist[userlist].id}"{if $userlist[userlist].id == $listdata.userid} SELECTED{/if}>{$userlist[userlist].name|truncate:40:"...":true}</OPTION>
                    {/section}
            </SELECT>

            {if $customers}
                <SELECT class="form-control form-control-sm" name="u" OnChange="document.filter.submit();">
                    <OPTION value="0"{if $listdata.customerid == ""} SELECTED{/if}>{trans("All customers")}</OPTION>
                        {foreach from=$customerlist item=customer}
                        <OPTION value="{$customer.id}"{if $customer.id == $listdata.customerid} SELECTED{/if}>{$customer.customername|truncate:40:"...":true}</OPTION>
                        {/foreach}
                </SELECT>
            {else}
                <INPUT class="form-control form-control-sm" type="number" min="1" name="u" value="{$listdata.customerid}" placeholder="{trans('Enter customer ID or leave empty for all customers')}">
                <a class="btn btn-sm btn-secondary" href="javascript:void(0);" onclick="return customerchoosewin(document.filter.u);" {tip text="Click to search customer"}>{trans("Search")}</a>
            {/if}

            {trans("Month:")}
            <SELECT class="form-control form-control-sm" name="month" onchange="document.filter.submit();">{assign var=temp_date value="2000-m-01"}
                {section name=month loop=13 start=1}
                    <OPTION value="{$smarty.section.month.index}"{if $smarty.section.month.index==$month} selected{/if}>{$temp_date|replace:"m":$smarty.section.month.index|date_format:"%B"}</OPTION>
                    {/section}
            </SELECT>

            {trans("Year:")}
            <SELECT class="form-control form-control-sm" name="year" onchange="document.filter.submit();">
                {assign var=start value=$period.fromdate|default:$date|date_format:"%Y"}
                {assign var=end value=$period.todate|default:$date|date_format:"%Y"}
                {math assign=end equation="max(x, y)" x=$end y=$smarty.now|date_format:"%Y"}
                {section name=year loop=$end+1 start=$start}
                    <OPTION value="{$smarty.section.year.index}"{if $smarty.section.year.index==$year} selected{/if}>{$smarty.section.year.index}</option>
                    {/section}
            </SELECT>

            <SELECT class="form-control form-control-sm" name="type" onchange="document.filter.submit();">
                <OPTION value=""{if $listdata.type == ""} selected{/if}>{trans("Type all")}</OPTION>
                    {foreach $_EVENTTYPES as $id => $label}
                    <OPTION value="{$id}"{if $listdata.type == $id} selected{/if}>{$label}</OPTION>
                    {/foreach}
            </SELECT>

            <SELECT class="form-control form-control-sm" name="closed" onchange="document.filter.submit();">
                <OPTION value=""{if $listdata.closed == ""} selected{/if}>{trans("All status")}</OPTION>
                <OPTION value="0"{if $listdata.closed == "0"} selected{/if}>{trans("opened<!plural:event>")}</OPTION>
                <OPTION value="1"{if $listdata.closed == "1"} selected{/if}>{trans("closed<!plural:event>")}</OPTION>
            </SELECT>

            <SELECT class="form-control form-control-sm" name="privacy" onchange="document.filter.submit();">
                <OPTION value="0"{if $listdata.privacy == "0"} selected{/if}>{trans("All privacies")}</OPTION>
                <OPTION value="1"{if $listdata.privacy == "1"} selected{/if}>{trans("public")}</OPTION>
                <OPTION value="2"{if $listdata.privacy == "2"} selected{/if}>{trans("private")}</OPTION>
            </SELECT>
        </FORM>
    </fieldset>


    <nav>
        <ul class="pagination pagination-sm">
            <li class="page-item">
                <a class="page-link" href="?m=eventlist&amp;day=1&amp;month={if $month==1}12{else}{math equation="x-1" x=$month}{/if}&amp;year={if $month==1}{math equation="x-1" x=$year}{else}{$year}{/if}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">{trans("Previous")}</span>
                </a>
                {section name=days loop=$days.day}
                <li class="page-item{if $days.sel[days]} active{/if}">
                    <a class="page-link{if !$days.dow[days]} font-weight-bold text-muted{/if}" href="?m=eventlist&amp;day={$days.day[days]}&amp;month={$month}&amp;year={$year}">{$days.day[days]|string_format:"%d"}</a>
                </li>
            {/section}
            <li class="page-item">
                <a class="page-link" href="?m=eventlist&amp;day=1&amp;month={if $month==12}1{else}{math equation="x+1" x=$month}{/if}&amp;year={if $month==12}{math equation="x+1" x=$year}{else}{$year}{/if}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">{trans("Next")}</span>
                </a>
            </li>
        </ul>
    </nav>


    {section name=daylist loop=$daylist}
        <h3>
            <i class="fa fa-fw fa-calendar"></i> {$daylist[daylist]|date_format:"%x"} ({$daylist[daylist]|date_format:"%A"})
            <A class="btn btn-sm btn-secondary pull-md-right" href="?m=eventprint&day={$daylist[daylist]}&u={$listdata.customerid}&a={$listdata.userid}&privacy={$listdata.privacy}" target="_BLANK"><i class="fa fa-fw fa-print"></i> {trans("Print")}</A>
                {if $getHolidays[$daylist[daylist]]}
                <p class="text-danger"><strong>{trans("Holiday")}:</strong> {$getHolidays[$daylist[daylist]]}</p>
            {/if}
        </h3>

        <div class="table-responsive">
            <TABLE class="table table-hover table-striped">
                {assign var=counter value=0}
                {section name=eventlist loop=$eventlist}
                    {if $eventlist[eventlist].date == $daylist[daylist]}
                        {math equation="x+1" x=$counter assign=counter}
                        <tr{if $eventlist[eventlist].closed} class="text-muted"{/if}>
                            <td{if isset($_EVENTSTYLES[$eventlist[eventlist].type])} style="{$_EVENTSTYLES[$eventlist[eventlist].type]}"{/if}>

                            </td>
                            <td>
                                <i class="fa fa-fw fa-clock-o"></i>
                                {math equation="floor(x/100)" x=$eventlist[eventlist].begintime format="%02d"}:{math equation="x % 100" x=$eventlist[eventlist].begintime format="%02d"}
                                {if $eventlist[eventlist].begintime != $eventlist[eventlist].endtime}
                                    - {math equation="floor(x/100)" x=$eventlist[eventlist].endtime format="%02d"}:{math equation="x % 100" x=$eventlist[eventlist].endtime format="%02d"}
                                {/if}

                                <span class="font-weight-bold{if $eventlist[eventlist].closed} text-muted{/if}" data-toggle="modal" data-target="#id{$eventlist[eventlist].id}{$eventlist[eventlist].date}">
                                    {$eventlist[eventlist].title}
                                    {if !$eventlist[eventlist].closed}
                                        {if $eventlist[eventlist].description || $eventlist[eventlist].note}<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{/if}
                                    {/if}
                                </span>

                                <div class="modal fade" id="id{$eventlist[eventlist].id}{$eventlist[eventlist].date}" tabindex="-1" role="dialog" aria-labelledby="myModalLabelid{$eventlist[eventlist].id}{$eventlist[eventlist].date}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <strong>{trans("Where")}: </strong>
                                                {if $eventlist[eventlist].customername}
                                                    <A href="?m=customerinfo&amp;id={$eventlist[eventlist].customerid}">
                                                        {$eventlist[eventlist].customername|truncate:"30":"...":true}
                                                    </A>
                                                    {if isset($eventlist[eventlist].location)}
                                                        , <a href="?m=nodeinfo&amp;id={$eventlist[eventlist].nodeid}">{$eventlist[eventlist].location}</a>
                                                    {else}
                                                        , {$eventlist[eventlist].customerlocation}
                                                    {/if}
                                                {else}
                                                    <span class="text-danger">{trans("The location was not indicated")}.</span>
                                                {/if}
                                                <br>

                                                <strong>{trans("Assign to")}: </strong>
                                                {if $eventlist[eventlist].userlist}
                                                    {foreach $eventlist[eventlist].userlist as $user}
                                                    {if $layout.logid == $user.id}{/if}
                                                    {$user.name|truncate:"25":"...":true},
                                                {/foreach}
                                            {else}
                                                <span class="text-danger">{trans("The task has not been assigned to any person")}.</span>
                                            {/if}

                                            {if $eventlist[eventlist].description}
                                                <br>
                                                <strong>{trans("Description")}:</strong> {$eventlist[eventlist].description}
                                            {/if}

                                            {if $eventlist[eventlist].note}
                                                <br>
                                                <strong>{trans("Note")}:</strong> {$eventlist[eventlist].note}
                                            {/if}
                                        </div>

                                    </div>
                                </div>
                            </div>

                            {if $eventlist[eventlist].closed}
                                <span class="label label-default">{trans("Closed")}</span>
                            {/if}

                            <br>
                            <strong>{trans("Assign to")}: </strong>
                            {if $eventlist[eventlist].userlist}
                                {foreach $eventlist[eventlist].userlist as $user}
                                {if $layout.logid == $user.id}{/if}
                                {$user.name|truncate:"25":"...":true},
                            {/foreach}
                        {else}
                            <span class="text-danger">{trans("The task has not been assigned to any person")}.</span>
                        {/if}                            

                                         

                        <span class="pull-md-right">
                            {if ConfigHelper::checkPrivilege('timetable_management')}
                                <A class="btn btn-sm btn-info" href="?m=eventinfo&amp;id={$eventlist[eventlist].id}">
                                    <i class="fa fa-fw fa-info"></i>
                                </A>
                                {if $eventlist[eventlist].closed}
                                    <A class="btn btn-sm btn-secondary" href="?m=eventedit&amp;id={$eventlist[eventlist].id}&amp;action=open">
                                        <i class="fa fa-fw fa-folder-open-o"></i>
                                    </A>
                                {else}
                                    <A class="btn btn-sm btn-primary" href="?m=eventedit&amp;id={$eventlist[eventlist].id}">
                                        <i class="fa fa-fw fa-edit"></i>
                                    </A>
                                    <A class="btn btn-sm btn-success" href="?m=eventedit&amp;id={$eventlist[eventlist].id}&amp;action=close">
                                        <i class="fa fa-fw fa-folder-o"></i>
                                    </A>
                                {/if}
                                <A class="btn btn-sm btn-danger" href="?m=eventdel&amp;id={$eventlist[eventlist].id}" OnClick="return confirmLink(this, '{trans("Are you sure, you want to delete that event?")}')">
                                    <i class="fa fa-fw fa-trash-o"></i>
                                </A>
                            {/if}

                            {if $eventlist[eventlist].note == ''}
                                {foreach item=user from=$eventlist[eventlist].userlist}
                                    {if $layout.logid == $user.id}
                                        <A  class="btn btn-sm btn-warning" href="?m=eventnote&id={$eventlist[eventlist].id}"><i class="fa fa-fw fa-sticky-note"></i></A>
                                        {/if}
                                    {/foreach}
                                {/if}
                        </span>
                    </td>
                </tr>
            {/if}
        {/section}
    </TABLE>
</div>
<hr>
{/section}
{/block}
