{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <h1>{$layout.pagetitle}</h1>
    <div class="card">
        <div class="card-header">
            {trans("Title")}: <strong>{$event.title}</strong>
        </div>
        <div class="card-block">
            <ul>
                <li>
                    {trans("Begin time:")}
                    {$event.date|date_format:"%x (%A)"}
                    {math equation="floor(x/100)" x=$event.begintime format="%02d"}:{math equation="x % 100" x=$event.begintime format="%02d"}
                </li>
                {if $event.begintime != $event.endtime || $event.enddate > $event.date}
                    <li>
                        {trans("End time:")}
                        {if $event.enddate}
                            {$event.enddate|date_format:"%x (%A)"}
                        {else}
                            {$event.date|date_format:"%x (%A)"}
                        {/if}
                        {math equation="floor(x/100)" x=$event.endtime format="%02d"}:{math equation="x % 100" x=$event.endtime format="%02d"}
                    </li>
                {/if}
                <li>
                    {trans("Created by:")} <A href="?m=userinfo&id={$event.userid}">{$event.username}</A>
                </li>
                {if $event.creationdate != 0}
                    <li>
                        {trans("Creation time:")} {$event.creationdate|date_format:"%x (%X)"}
                    </li>
                {/if}
                {if $event.moduserid != 0}
                    <li>
                        {trans("Last modified by:")} <A href="?m=userinfo&id={$event.moduserid}">{$event.modusername}</A>
                    </li>
                {/if}
                {if $event.moddate != 0}
                    <li>
                        {trans("Last modification time:")}{$event.moddate|date_format:"%x (%X)"}
                    </li>
                {/if}
                {if $event.closeduserid != 0}
                    <li>
                        {trans("Closed by")}: <A href="?m=userinfo&id={$event.closeduserid}">{$event.closedusername}</A>
                    </li>
                {/if}
                {if $event.closeddate != 0}
                    <li>
                        {trans("Closed time")}: {$event.closeddate|date_format:"%x (%X)"}
                    </li>
                {/if}
                {if $event.description}
                    <li>
                        {trans("Description:")} {$event.description|replace:"\n":"<BR>"}
                    </li>
                {/if}
                <li>
                    {trans("Type:")} {$_EVENTTYPES[$event.type]}
                </li>
                <li>
                    {trans("Status:")}
                    {if $event.private}
                        {trans("private")}
                    {else}
                        {trans("public")}
                    {/if}
                </li>                
                <li>
                    {trans("Customer:")} <A href="?m=customerinfo&id={$event.customerid}">{$event.customername}</A>
                </li>
                <li>{trans("Location:")}
                    {if isset($event.location)}
                        {$event.location}
                    {else}
                        {$event.customerlocation}
                    {/if}
                </li>
                {if $event.note}
                    <li>
                        {trans("Note:")} {$event.note|replace:"\n":"<BR>"}
                    </li>
                {/if}
                {if $event.userlist}
                    <li>
                        {trans("Users:")}
                        {foreach $event.userlist as $user}
                            <A href="?m=userinfo&id={$user.id}">{$user.name}</A><BR>
                            {/foreach}
                    </li>
                {/if}
            </ul>

            <A class="btn btn-sm btn-primary" href="?m=eventedit&id={$event.id}">{trans("Edit")}</A>
                {if !$event.closed}
                <A class="btn btn-sm btn-danger" href="?m=eventedit&id={$event.id}&action=close">{trans("Close")}</A>
                {else}
                <A class="btn btn-sm btn-success"href="?m=eventedit&id={$event.id}&action=open">{trans("Open")}</A>
                {/if}
        </div>
    </div>

{/block}