{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <H1>{$layout.pagetitle}</H1>
        {include file="calendar_js.html"}
    <FORM class="form-inline" method="POST" action="?m=eventsearch" name="event" id="event">
        <INPUT type="submit" class="hiddenbtn">

        <div class="card">
            <div class="card-header">
                {trans("Find events matching the following search criteria:")}
            </div>
            <div class="card-block">

                {trans("Title")}
                <INPUT class="form-control form-control-sm" type="text" name="event[title]" value="{$event.title}" size="50" {tip text="Enter event title" trigger="title"}>

                <br>

                {trans("Date:")}
                {trans("From:")} <INPUT class="form-control form-control-sm" type="text" placeholder="{trans("yyyy/mm/dd")}" name="event[datefrom]" size="12" {tip class="calendar" text="Enter date in YYYY/MM/DD format or click to choose it from calendar"}>
                {trans("To:")} <INPUT class="form-control form-control-sm" type="text" placeholder="{trans("yyyy/mm/dd")}" name="event[dateto]" size="12" {tip class="calendar" text="Enter date in YYYY/MM/DD format or click to choose it from calendar"}>

                <br>

                {trans("Description")}
                <INPUT class="form-control form-control-sm" type="text" name="event[description]" size="50" {tip text="Enter additional information"}>

                <br>

                {trans("Note")}
                <INPUT class="form-control form-control-sm" type="text" name="event[note]" size="50" {tip text="Enter note"}>

                <br>

                {trans("Type")}
                <SELECT name="event[type]" class="form-control form-control-sm">
                    <OPTION value="0" SELECTED>{trans("- all -")}</OPTION>
                        {foreach from=$_EVENTTYPES key=key item=type}
                        <OPTION value="{$key}">{$type}</OPTION>
                        {/foreach}
                </SELECT>

                <br>

                {trans("Customer:")}
                {customerlist form="event" customers=$customerlist selected=$event.customerid selectname="event[customerid]" inputname="event[custid]" customOnChange="change_customer(this);"}

                <br>

                {trans("User:")}
                <SELECT class="form-control form-control-sm" name="event[userid][]" id="userid" multiple>
                    {section name=userlist loop=$userlist}
                        <OPTION value="{$userlist[userlist].id}">{$userlist[userlist].name}</OPTION>
                        {/section}
                </SELECT>


                <A class="btn btn-sm btn-danger" href="javascript:document.event.submit();" accesskey="s">{trans("Search")}</A>
                <A class="btn btn-sm btn-secondary" href="?m=eventlist">{trans("Cancel")}</A>
            </div>
        </div>

    </form>
    <SCRIPT type="text/javascript">
        <!--
    multiselect('event', 'userid', '{trans("- select user -")}');
        document.forms['event'].elements['event[title]'].focus();
        //-->
    </SCRIPT>
{/block}
