{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <h1>{$layout.pagetitle}</h1>
    <div class="card">
        <div class="card-header">
            {trans("Title")}: <strong>{$event.title}</strong> {if $event.closed==1}<label class="label label-danger">{trans("CLOSED")}</label>{/if}
        </div>
        <div class="card-block">
            {if $event.description}
                <p>
                    <strong>{trans("Description:")}</strong> {$event.description|replace:"\n":"<BR>"}
                </p>
            {/if}
            {if $event.note}
                <p>
                    <strong>{trans("Note:")}</strong> {$event.note|replace:"\n":"<BR>"}
                </p>
            {/if}

            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>{trans("Begin time:")}</strong>
                    {$event.date|date_format:"%x (%A)"}
                    {math equation="floor(x/100)" x=$event.begintime format="%02d"}:{math equation="x % 100" x=$event.begintime format="%02d"}
                </li>
                {if $event.begintime != $event.endtime || $event.enddate > $event.date}
                    <li class="list-inline-item">
                        <strong>{trans("End time:")}</strong>
                        {if $event.enddate}
                            {$event.enddate|date_format:"%x (%A)"}
                        {else}
                            {$event.date|date_format:"%x (%A)"}
                        {/if}
                        {math equation="floor(x/100)" x=$event.endtime format="%02d"}:{math equation="x % 100" x=$event.endtime format="%02d"}
                    </li>
                {/if}
            </ul>

            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>{trans("Type:")}</strong> {$_EVENTTYPES[$event.type]}
                </li>
                <li class="list-inline-item">
                    <strong>{trans("Status:")}</strong>
                    {if $event.private}
                        {trans("private")}
                    {else}
                        {trans("public")}
                    {/if}
                </li>
            </ul>

            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>{trans("Customer:")}</strong> <A href="?m=customerinfo&id={$event.customerid}">{$event.customername}</A>
                </li>
                <li class="list-inline-item">
                    <strong>{trans("Location:")}</strong>
                    {if isset($event.location)}
                        {$event.location}
                    {else}
                        {$event.customerlocation}
                    {/if}
                </li>
            </ul>

            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>{trans("Created by:")}</strong> <A href="?m=userinfo&id={$event.userid}">{$event.username}</A>
                </li>
                {if $event.creationdate != 0}
                    <li class="list-inline-item">
                        <strong>{trans("Creation time:")}</strong> {$event.creationdate|date_format:"%x (%X)"}
                    </li>
                {/if}
            </ul>

            <ul class="list-inline">
                {if $event.moduserid != 0}
                    <li class="list-inline-item">
                        <strong>{trans("Last modified by:")}</strong> <A href="?m=userinfo&id={$event.moduserid}">{$event.modusername}</A>
                    </li>
                {/if}
                {if $event.moddate != 0}
                    <li class="list-inline-item">
                        <strong>{trans("Last modification time:")}</strong> {$event.moddate|date_format:"%x (%X)"}
                    </li>
                {/if}
            </ul>

            <ul class="list-inline">
                {if $event.closeduserid != 0}
                    <li class="list-inline-item">
                        <strong>{trans("Closed by")}:</strong> <A href="?m=userinfo&id={$event.closeduserid}">{$event.closedusername}</A>
                    </li>
                {/if}
                {if $event.closeddate != 0}
                    <li class="list-inline-item">
                        <strong>{trans("Closed time")}:</strong> {$event.closeddate|date_format:"%x (%X)"}
                    </li>
                {/if}
            </ul>

            <ul class="list-inline">
                {if $event.userlist}
                    <li class="list-inline-item">
                        <strong>{trans("Users:")}</strong>
                        {foreach $event.userlist as $user}
                            <A href="?m=userinfo&id={$user.id}">{$user.name}</A><BR>
                            {/foreach}
                    </li>
                {/if}
            </ul>

            <A class="btn btn-sm btn-primary" href="?m=eventedit&id={$event.id}">{trans("Edit")}</A>
                {if !$event.closed}
                <A class="btn btn-sm btn-danger" href="?m=eventedit&id={$event.id}&action=close">{trans("Close")}</A>
                {else}
                <A class="btn btn-sm btn-success"href="?m=eventedit&id={$event.id}&action=open">{trans("Open")}</A>
                {/if}
        </div>
    </div>

{/block}