{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle} <A class="btn btn-success" href="?m=configadd{if $listdata.section}&amp;section={$listdata.section}{/if}"><i class="fa fa-fw fa-plus-circle"></i>{trans("Add option")}</A></H1>
    <FORM class="form-inline" method="GET" action="?m=configlist" name="filter">
        <INPUT type="submit" class="hiddenbtn">
        <INPUT type="HIDDEN" name="m" value="configlist">
        <INPUT type="HIDDEN" name="page" value="1">

        {trans("Section:")}
        <SELECT class="form-control form-control-sm" name="s" OnChange="document.filter.submit();">
            <OPTION value=""{if !$listdata.section} SELECTED{/if}>{trans("- all -")}</OPTION>
                {foreach $sections as $section}
                <OPTION value="{$section}"{if $listdata.section == $section} selected{/if}>{$section}</OPTION>
                {/foreach}
        </SELECT>

        {trans("Option")}:
        <INPUT class="form-control form-control-sm" type="text" name="n" value="{$listdata.search}" size="15" {tip text="Enter option name"}>

        <A class="btn btn-sm btn-primary" href="javascript: document.filter.submit();">{trans("Search")}</A>
    </FORM>

    {if $listdata.total != 0}
        {include file="scroller.html" loop=$configlist}
    {/if}

    <TABLE class="table table-bordered table-striped table-hover">
        <THEAD class="thead-inverse">
            <TR>

                <TH>
                    <A href="?m=configlist&amp;o=var{if $listdata.direction == "asc" && $listdata.order == "var"},desc{/if}">
                        {trans("Name:")}
                    </A>
                    {if $listdata.order == "var"}
                        <IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">
                    {/if}
                    <BR>
                    <A href="?m=configlist&amp;o=section{if $listdata.direction == "asc" && $listdata.order == "section"},desc{/if}">
                        {trans("Section:")}
                    </A>
                    {if $listdata.order == "section"}
                        <IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">
                    {/if}
                    /

                </TH>

                <th></th>
            </TR>
        </THEAD>
        <TBODY>
            {section name=configlist loop=$configlist start=$start max=$pagelimit}
                <TR class="{if $configlist[configlist].disabled} blend{/if}">
                    <TD OnClick="return self.location.href = '?m=configedit&amp;id={$configlist[configlist].id}';">
                        <h5>
                            <span class="label label-default">{$configlist[configlist].section}</span>
                            {$configlist[configlist].var}
                            <i class="fa fa-fw fa-arrow-right"></i>
                            {if $configlist[configlist].value}
                                <span class="label label-primary">{$configlist[configlist].value|escape}</span>
                            {else}
                                <span class="label label-warning">{trans("undefined")}</span>
                            {/if}
                        </h5>

                        <blockquote class="blockquote">
                            <p class="m-b-0">{$configlist[configlist].description|truncate:400:"..."}</p>
                            {if $configlist[configlist].usercomment != ''}
                                <footer class="blockquote-footer">
                                    {$configlist[configlist].usercomment|truncate:1000:"..."}
                                </footer>
                            {/if}
                        </blockquote>
                    </TD>
                    <td>
                        <A class="btn btn-sm btn-{if $configlist[configlist].disabled}secondary{else}success{/if}" href="?m=configedit&amp;id={$configlist[configlist].id}&amp;statuschange=1" title="{if $configlist[configlist].disabled}{trans('Enable')}{else}{trans('Disable')}{/if}">
                            {if $configlist[configlist].disabled}
                                <i class="fa fa-fw fa-toggle-on"></i>
                            {else}
                                <i class="fa fa-fw fa-toggle-off"></i>
                            {/if}
                        </A>

                        <A class="btn btn-sm btn-danger" href="?m=configdel&amp;id={$configlist[configlist].id}" title="{trans('Delete')}" OnClick="return confirmLink(this, '{t a=$configlist[configlist].var}Are you sure, you want to delete option \'$a\' from database?{/t}');"><i class="fa fa-fw fa-trash-o"></i></A>
                    </td>
                </TR>
            {sectionelse}
                <TR>
                    <TD colspan="2">
                        {if $listdata.search}
                            {trans("No configuration options in database.")}
                        {else}
                            {trans("No configuration options in database.")} {t}Click <A href="?m=configload">here</A> to import them from lms.ini.{/t}
                            {/if}
                    </TD>
                </TR>
            {/section}
        </TBODY>
    </TABLE>

    {if $listdata.total != 0}
        {include file="scroller.html" loop=$configlist}
    {/if}

    <hr>

    <A href="?m=configadd{if $listdata.section}&amp;section={$listdata.section}{/if}">{trans("Add option")} <IMG src="img/save.gif" alt=""></A>

{/block}
