{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <script type="text/javascript" src="img/tinymce3/tiny_mce.js"></script>
    {include file="calendar_js.html"}
    <script>
        $(document).ready(function () {
            // init values
            if ($("input[name='customeradd[pin]']").val() == '')
                randomize();
            $("#firstName").prop("disabled", false);
            $("#ICN").prop("disabled", false);
            $("#SSN").prop("disabled", false);
            $("#TEN").prop("disabled", true);
            $("#REGON").prop("disabled", true);
            $("#RBE").prop("disabled", true);
            $("label[for='lastName_companyName']").text("{trans('Last name:')}");


            // change page profile depends on legal personality type
            $("#private").change(function () {
                $("#firstName").prop("disabled", false);
                $("#ICN").prop("disabled", false);
                $("#SSN").prop("disabled", false);
                $("#TEN").prop("disabled", true);
                $("#REGON").prop("disabled", true);
                $("#RBE").prop("disabled", true);

                $("#privateSwitch").toggleClass("btn-primary btn-secondary");
                $("#companySwitch").toggleClass("btn-primary btn-secondary");

                $("label[for='lastName_companyName']").text("{trans('Last name:')}");

            });

            $("#company").change(function () {
                $("#firstName").prop("disabled", true);
                $("#ICN").prop("disabled", true);
                $("#SSN").prop("disabled", true);
                $("#TEN").prop("disabled", false);
                $("#REGON").prop("disabled", false);
                $("#RBE").prop("disabled", false);

                $("label[for='lastName_companyName']").text("{trans('Company name:')}");
                $("#companySwitch").toggleClass("btn-primary btn-secondary");
                $("#privateSwitch").toggleClass("btn-primary btn-secondary");
            });
        });

        function randomize()
        {
            var r = 0;
            do
                r = Math.floor(Math.random() * 1000000 - 1);
            while (r < 1000);
            $("#PIN").val(r);
        }

        function newcontact()
        {
            var contactscountelem = document.getElementById('contactscount');
            var nr = contactscountelem.value;
            var lastcontactelem = document.getElementById('contact' + (nr - 1));
            var newrow = lastcontactelem.parentNode.insertRow(lastcontactelem.rowIndex + 1);
            newrow.id = 'contact' + nr;
            var newcell = newrow.insertCell(0);
            newcell.style.whiteSpace = 'nowrap';
            newcell.innerHTML = '<hr>{trans("Enter contact phone")}<INPUT type="text" size="16" value="" name="customeradd[contacts][' + nr + '][phone    ]"'
                    + ' onmouseover="popup(\'{trans("Enter contact phone")}\')" onmouseout="pophide()"    >'
                    + '<label><INPUT type="checkbox" value="{$smarty.const.CONTACT_MOBILE    }"'
                    + ' name="customeradd[contacts][' + nr + '][type][]"> {$_CONTACTTYPES[$smarty.const.CONTACT_MOBILE]}</label    >'
                    + '<label><INPUT type="checkbox" value="{$smarty.const.CONTACT_FAX    }"'
                    + ' name="customeradd[contacts][' + nr + '][type][]"> {$_CONTACTTYPES[$smarty.const.CONTACT_FAX]}</label    >'
                    + '<label onmouseover="popup(\'{trans("Check if send notification")}\')" onmouseout="pophide()    ">'
                    + '<INPUT type="checkbox" value="{$smarty.const.CONTACT_NOTIFICATIONS    }"'
                    + ' name="customeradd[contacts][' + nr + '][type][]"> {$_CONTACTTYPES[$smarty.const.CONTACT_NOTIFICATIONS]}</label    >'
                    + '<label onmouseover="popup(\'{trans("Not visible by the customer in electronic Customer Service Representative")}\')" onmouseout="pophide()    ">'
                    + '<INPUT type="checkbox" value="{$smarty.const.CONTACT_DISABLED    }"'
                    + ' name="customeradd[contacts][' + nr + '][type][]"> {$_CONTACTTYPES[$smarty.const.CONTACT_DISABLED]}</label>'
                    + '<BR>{trans("Enter contact name/description (optional)")} <INPUT type="text" size="68" value="" name="customeradd[contacts][' + nr + '][name    ]"'
                    + ' onmouseover="popup(\'{trans("Enter contact name/description (optional)")}\')" onmouseout="pophide()">';
            contactscountelem.value = parseInt(nr) + 1;
        }

        function newemail() {
            var emailscountelem = document.getElementById('emailscount');
            var nr = emailscountelem.value;
            var lastemailelem = document.getElementById('email' + (nr - 1));
            var newrow = lastemailelem.parentNode.insertRow(lastemailelem.rowIndex + 1);
            newrow.className = 'light';
            newrow.id = 'email' + nr;
            var newcell = newrow.insertCell(0);
            newcell.style.whiteSpace = 'nowrap';
            newcell.innerHTML = '<HR><INPUT TYPE="text" size="23" value="" name="customeradd[emails][' + nr + '][email    ]"'
                    + ' onmouseover="popup(\'{trans("Enter e-mail address (optional)")}\')" onmouseout="pophide()"    >'
                    + '<label onmouseover="popup(\'{trans("Check if sent electronic invoices on this email")}\')" onmouseout="pophide()    ">'
                    + '<INPUT type="checkbox" value="{$smarty.const.CONTACT_INVOICES}" name="customeradd[emails][' + nr + '][type][]    ">'
                    + ' {$_CONTACTTYPES[$smarty.const.CONTACT_INVOICES]}</label    >'
                    + '<label onmouseover="popup(\'{trans("Check if send notification")}\')" onmouseout="pophide()    ">'
                    + '<INPUT type="checkbox" value="{$smarty.const.CONTACT_NOTIFICATIONS}" name="customeradd[emails][' + nr + '][type][]    ">'
                    + ' {$_CONTACTTYPES[$smarty.const.CONTACT_NOTIFICATIONS]}</label    >'
                    + '<label onmouseover="popup(\'{trans("Check if send tech notification")}\')" onmouseout="pophide()    ">'
                    + '<INPUT type="checkbox" value="{$smarty.const.CONTACT_TECHNICAL}" name="customeradd[emails][' + nr + '][type][]    ">'
                    + ' {$_CONTACTTYPES[$smarty.const.CONTACT_TECHNICAL]}</label    >'
                    + '<label onmouseover="popup(\'{trans("Not visible by the customer in electronic Customer Service Representative")}\')" onmouseout="pophide()    ">'
                    + '<INPUT type="checkbox" value="{$smarty.const.CONTACT_DISABLED}" name="customeradd[emails][' + nr + '][type][]    ">'
                    + ' {$_CONTACTTYPES[$smarty.const.CONTACT_DISABLED]}</label>'
                    + '<BR><INPUT TYPE="text" size="68" value="" name="customeradd[emails][' + nr + '][name    ]"'
                    + ' onmouseover="popup(\'{trans("Enter contact name/description (optional)")}\')" onmouseout="pophide()">';
            emailscountelem.value = parseInt(nr) + 1;
        }

        function newaccount() {
            var accountscountelem = document.getElementById('accountscount');
            var nr = accountscountelem.value;
            var lastaccountelem = document.getElementById('account' + (nr - 1));
            var newrow = lastaccountelem.parentNode.insertRow(lastaccountelem.rowIndex + 1);
            newrow.className = 'light';
            newrow.id = 'account' + nr;
            var newcell = newrow.insertCell(0);
            newcell.style.whiteSpace = 'nowrap';
            newcell.innerHTML = '<HR><INPUT TYPE="text" size="50" value="" name="customeradd[accounts][' + nr + '][account    ]"'
                    + ' onmouseover="popup(\'{trans("Enter bank account (optional)")}\')" onmouseout="pophide()"    >'
                    + '<label onmouseover="popup(\'{trans("Check if bank account should be visible on invoice")}\')" onmouseout="pophide()    ">'
                    + '<INPUT type="checkbox" value="{$smarty.const.CONTACT_INVOICES}" name="customeradd[accounts][' + nr + '][type][]    ">'
                    + ' {$_CONTACTTYPES[$smarty.const.CONTACT_INVOICES]}</label    >'
                    + '<label onmouseover="popup(\'{trans("Check if bank account should be disabled")}\')" onmouseout="pophide()    ">'
                    + '<INPUT type="checkbox" value="{$smarty.const.CONTACT_DISABLED}" name="customeradd[accounts][' + nr + '][type][]    ">'
                    + ' {$_CONTACTTYPES[$smarty.const.CONTACT_DISABLED]}</label>'
                    + '<BR><INPUT TYPE="text" size="68" value="" name="customeradd[accounts][' + nr + '][name    ]"'
                    + ' onmouseover="popup(\'{trans("Enter contact name/description (optional)")}\')" onmouseout="pophide()">';
            accountscountelem.value = parseInt(nr) + 1;
        }
    </script>
    <h1>{$layout.pagetitle}</h1>

    <form name="customeradd" id="customeradd" method="POST" action="?m=customeradd">
        <INPUT type="submit" class="hiddenbtn">

        <div class="row">
            <div class="col-md-6">
                {block name="customeradd-leftcolumn"}
                    <div class="card">
                        <div class="card-header lead">{trans("Basic data")}</div>
                        <div class="card-block">
                            {trans("Select legal personality type")}:
                            <div class="radio">
                                <label class="btn btn-sm btn-primary" id="privateSwitch">
                                    &nbsp;<input type="radio" name="customeradd[type]" value="0" id="private" {tip trigger="type"}{if $customeradd.type == $smarty.const.CTYPES_PRIVATE} CHECKED{/if}>
                                    {assign var='type' value=$smarty.const.CTYPES_PRIVATE}{$_CTYPES.$type}
                                </label>
                                <label class="btn btn-sm btn-secondary" id="companySwitch">
                                    &nbsp;<input type="radio" name="customeradd[type]" value="1" id="company" {tip trigger="type"}{if $customeradd.type == $smarty.const.CTYPES_COMPANY} CHECKED{/if}>
                                    {assign var='type' value=$smarty.const.CTYPES_COMPANY}{$_CTYPES.$type}
                                </label>
                            </div>

                            <hr>

                            <div class="form-group">
                                <label for="firstName">{trans("First name:")}</label>
                                <input type="text" class="form-control form-control-sm" id="firstName" name="customeradd[name]" value="{$customeradd.name}" required placeholder="{trans('Enter customer name')}">
                            </div>

                            <div class="form-group">
                                <label for="lastName_companyName">{trans("Last name:")}</label>
                                <input type="text" class="form-control form-control-sm" id="lastName_companyName" name="customeradd[lastname]" value="{$customeradd.lastname}" required placeholder="{trans('Enter customer last name or company name')}">
                            </div>

                            <hr>

                            <div class="form-group">
                                {trans("ICN")}:
                                <INPUT id="ICN" class="form-control form-control-sm" type="text" value="{$customeradd.icn}" name="customeradd[icn]" placeholder="{trans('Enter Identity Card Number (optional)')}">
                            </div>

                            <div class="form-group">
                                {trans("SSN")}:
                                <INPUT id="SSN" class="form-control form-control-sm" type="text" value="{$customeradd.ssn}" name="customeradd[ssn]" placeholder="{trans('Enter customer Social Security Number (optional)')}">
                                {if $customeradd.ssnwarning}
                                    <INPUT type="hidden" name="customeradd[ssnwarning]" value="1">
                                {/if}
                            </div>

                            <hr>

                            <div class="form-group">
                                {trans("TEN")}:
                                <INPUT id="TEN" class="form-control form-control-sm" type="text" value="{$customeradd.ten}" name="customeradd[ten]" placeholder="{trans('Enter customer Tax Exempt Number (optional)')}">
                                {if $customeradd.tenwarning}
                                    <INPUT id="TEN" type="hidden" name="customeradd[tenwarning]" value="1">
                                {/if}
                            </div>

                            <div class="form-group">
                                {trans("REGON")}:
                                <INPUT id="REGON" class="form-control form-control-sm" type="text" value="{$customeradd.regon}" name="customeradd[regon]" placeholder="{trans('Enter Business Registration Number (optional)')}">
                            </div>

                            <div class="form-group">
                                {trans("RBE")}:
                                <INPUT id="RBE" class="form-control form-control-sm" type="text" value="{$customeradd.rbe}" name="customeradd[rbe]" placeholder="{trans('Enter National Court Register / Register of Business Entities Number (optional)')}">
                            </div>
                        </div>
                    </div>

                    <div class="card ">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="exampleInputName2">{trans("PIN")}: </label>
                                <div class="input-group">
                                    <input id="PIN" type="number" class="form-control form-control-sm" pattern="{literal}.{4,6}{/literal}" required value="{if $customeradd.pin}{$customeradd.pin}{/if}" name="customeradd[pin]" placeholder="{trans("Enter 4 to 6 digits PIN number (optional)")}">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" onClick="randomize();">{trans("Generate new PIN!")}</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">{trans("External system identifier")}:</label>
                                <input type="text" class="form-control form-control-sm" id="exampleInputName2" maxlength="20" name="customeradd[extid]" value="{$customeradd.extid}" placeholder="{trans('Enter customer identifier in external system (optional)')}">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">{trans("Select customer state")}:</label>
                                <SELECT class="form-control form-control-sm" name="customeradd[status]" {tip text="Select customer state" trigger="status"}>
                                    {foreach $_CSTATUSES as $statusidx => $status}
                                        <OPTION value="{$statusidx}"{if $customeradd.status == $statusidx} selected{/if}>{$status.singularlabel}</OPTION>
                                        {/foreach}
                                </SELECT>
                            </div>
                            <div class="form-group">
                                {if $divisions}
                                    <label for="exampleInputName2">{trans("Select division")}:</label>
                                    <SELECT class="form-control form-control-sm" name="customeradd[divisionid]" {tip text="Select division" trigger="divisionid"}>
                                        {foreach from=$divisions item=item}{if !$item.status}
                                                <OPTION value="{$item.id}"{if $customeradd.divisionid == $item.id} SELECTED{/if}>{$item.shortname}</OPTION>
                                            {/if}{/foreach}
                                    </SELECT>
                                {/if}
                            </div>
                            <div class="form-group">
                                {if $groups}
                                    <label for="exampleInputName2">{trans("Select group to assign to customer")}:</label>
                                    <SELECT class="form-control form-control-sm" NAME="customeradd[group]" {tip text="Select group to assign to customer" trigger="group"}>
                                        <OPTION VALUE="0">{trans("... select group ...")}</OPTION>
                                            {foreach $groups as $group}
                                            <OPTION VALUE="{$group.id}" {if $customeradd.group == $group.id}SELECTED{/if}>{$group.name} ({$group.id|string_format:"%04d"})</OPTION>
                                            {/foreach}
                                    </SELECT>
                                {/if}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header lead">{trans("Addresses")}</div>
                        <div class="card-block">
                            <div class="card-title"><strong>{trans("Adres zameldowania/firmy")}</strong></div>
                            <div class="form-group">
                                {trans("Street:")}
                                <INPUT class="form-control form-control-sm" type="text" value="{$customeradd.street}" name="customeradd[street]" id="street" required placeholder="{trans('Enter street')}">
                            </div>
                            <div class="form-group">
                                {trans("Building:")}
                                <INPUT class="form-control form-control-sm" size="1" type="text" value="{$customeradd.building}" name="customeradd[building]" id="building" placeholder="{trans('Enter building number')}">
                            </div>
                            <div class="form-group">
                                {trans("Apartment:")}
                                <INPUT class="form-control form-control-sm" size="1" type="text" value="{$customeradd.apartment}" name="customeradd[apartment]" id="apartment" placeholder="{trans('Enter apartment number')}">
                            </div>
                            <div class="form-group">
                                {trans("City:")}
                                <INPUT class="form-control form-control-sm" size="5" type="text" value="{$customeradd.city}" name="customeradd[city]" id="city" placeholder="{trans('Enter city')}">
                            </div>
                            <div class="form-group">
                                {trans("Zip:")}
                                <INPUT class="form-control form-control-sm" size="3" type="text" value="{$customeradd.zip}" name="customeradd[zip]" id="zip" placeholder="{trans('Enter zip code')}">
                            </div>
                            {if $customeradd.zipwarning}
                                <INPUT type="hidden" name="customeradd[zipwarning]" value="1">
                            {/if}

                            {if $cstateslist}
                                <div class="form-group">
                                    {trans("State:")}
                                    <SELECT class="form-control form-control-sm" name="customeradd[stateid]" {tip text="Select country state (optional)" trigger="stateid"}>
                                        <OPTION value="0"></OPTION>
                                            {foreach from=$cstateslist item=item key=key}
                                            <OPTION value="{$key}"{if $key==$customeradd.stateid} SELECTED{/if}>{$item.name}</OPTION>
                                            {/foreach}
                                    </SELECT>
                                </div>
                            {/if}

                            {if $countrieslist}
                                <div class="form-group">
                                    {trans("Country:")}
                                    <SELECT class="form-control form-control-sm" name="customeradd[countryid]" {tip text="Select country (optional)" trigger="countryid"}>
                                        <OPTION value="0"></OPTION>
                                            {foreach from=$countrieslist item=item key=key}
                                            <OPTION value="{$key}"{if $key==$customeradd.countryid} SELECTED{/if}>{t}{$item.name}{/t}</OPTION>
                                            {/foreach}
                                    </SELECT>
                                </div>
                            {/if}
                            <script type="text/javascript">
                                <!--
                                    new AutoSuggest(document.getElementById('customeradd'), document.getElementById('street'), '?m=customeradd&ajax=1&mode=street&what=', 0);
                                new AutoSuggest(document.getElementById('customeradd'), document.getElementById('zip'), '?m=customeradd&ajax=1&mode=zip&what=', 0);
                                new AutoSuggest(document.getElementById('customeradd'), document.getElementById('city'), '?m=customeradd&ajax=1&mode=city&what=', 0);
                                //-->
                            </script>


                        </div>

                        <div class="card-block">
                            <div class="card-title">
                                <strong>{trans("Postal address")}</strong>
                                <div class="form-group">
                                    <INPUT class="form-control form-control-sm" type="text" value="{$customeradd.post_name}" placeholder="{trans('Enter name (optional)')}" name="customeradd[post_name]" id="post_name">
                                </div>
                            </div>
                            <div class="form-group">
                                {trans("Street:")}
                                <INPUT class="form-control form-control-sm" type="text" value="{$customeradd.post_street}" name="customeradd[post_street]" id="post_street" placeholder="{trans('Enter street name (optional)')}">
                            </div>
                            <div class="form-group">
                                {trans("Building:")}
                                <INPUT class="form-control form-control-sm" type="text" value="{$customeradd.post_building}" name="customeradd[post_building]" id="post_builing" placeholder="{trans('Enter building number (optional)')}">
                            </div>
                            <div class="form-group">
                                {trans("Apartment:")}
                                <INPUT class="form-control form-control-sm" type="text" alue="{$customeradd.post_apartment}" name="customeradd[post_apartment]" id="post_apartment" placeholder="{trans('Enter apartment number (optional)')}">
                            </div>
                            <div class="form-group">
                                {trans("City:")}
                                <INPUT class="form-control form-control-sm" type="text" value="{$customeradd.post_city}" name="customeradd[post_city]" id="post_city" placeholder="{trans('Enter city (optional)')}">
                            </div>
                            <div class="form-group">
                                {trans("Zip:")}
                                <INPUT class="form-control form-control-sm" type="text" value="{$customeradd.post_zip}" name="customeradd[post_zip]" id="post_zip" placeholder="{trans('Enter zip code (optional)')}">
                            </div>
                            {if $customeradd.post_zipwarning}
                                <INPUT class="form-control form-control-sm" type="hidden" name="customeradd[post_zipwarning]" value="1">
                            {/if}

                            {if $cstateslist}
                                <div class="form-group">
                                    {trans("State:")}
                                    <SELECT class="form-control form-control-sm" name="customeradd[post_stateid]" {tip text="Select country state (optional)" trigger="post_stateid"}>
                                        <OPTION value="0"></OPTION>
                                            {foreach from=$cstateslist item=item key=key}
                                            <OPTION value="{$key}"{if $key==$customeradd.post_stateid} SELECTED{/if}>{$item.name}</OPTION>
                                            {/foreach}
                                    </SELECT>
                                </div>
                            {/if}
                            {if $countrieslist}
                                <div class="form-group">
                                    {trans("Country:")}
                                    <SELECT class="form-control form-control-sm" name="customeradd[post_countryid]" {tip text="Select country (optional)" trigger="post_countryid"}>
                                        <OPTION value="0"></OPTION>
                                            {foreach from=$countrieslist item=item key=key}
                                            <OPTION value="{$key}"{if $key==$customeradd.post_countryid} SELECTED{/if}>{t}{$item.name}{/t}</OPTION>
                                            {/foreach}
                                    </SELECT>
                                </div>
                            {/if}

                            <script type="text/javascript">
                                <!--
                                    new AutoSuggest(document.getElementById('customeradd'), document.getElementById('post_street'), '?m=customeradd&ajax=1&mode=street&what=', 0);
                                new AutoSuggest(document.getElementById('customeradd'), document.getElementById('post_zip'), '?m=customeradd&ajax=1&mode=zip&what=', 0);
                                new AutoSuggest(document.getElementById('customeradd'), document.getElementById('post_city'), '?m=customeradd&ajax=1&mode=city&what=', 0);
                                //-->
                            </script>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header lead">{trans("Contact phones")} <a class="btn btn-sm btn-primary" href="javascript:newcontact()">{trans("Add contact field")}</a></div>
                        <div class="card-block">
                            <table class="table table-sm table-striped table-hover">
                                {foreach $customeradd.contacts as $key => $item}
                                    <tr id="contact{$key}">
                                        <td>
                                            {if !$item@first}<hr>{/if}
                                            {trans("Enter contact phone")}: <INPUT class="form-control form-control-sm" type="tel" size="9" value="{$item.phone}" name="customeradd[contacts][{$key}][phone]">
                                            {trans("Enter contact name/description (optional)")}:
                                            <INPUT class="form-control form-control-sm" type="text" value="{$item.name}" name="customeradd[contacts][{$key}][name]">
                                            <hr>
                                            {trans("Use number for")}:
                                            <div class="btn-group">
                                                <label class="btn btn-sm btn-secondary">
                                                    <input type="checkbox" autocomplete="off" value="{$smarty.const.CONTACT_MOBILE}" name="customeradd[contacts][{$key}][type][]"{if ($item.type & $smarty.const.CONTACT_MOBILE)} checked{/if}> {$_CONTACTTYPES[$smarty.const.CONTACT_MOBILE]}
                                                </label>
                                                <label class="btn btn-sm btn-secondary">
                                                    <input type="checkbox" autocomplete="off" value="{$smarty.const.CONTACT_FAX}" name="customeradd[contacts][{$key}][type][]"{if ($item.type & $smarty.const.CONTACT_FAX)} checked{/if}> {$_CONTACTTYPES[$smarty.const.CONTACT_FAX]}
                                                </label>
                                                <label class="btn btn-sm btn-secondary" {tip text="Check if send notification" trigger="chknotification"}>
                                                    <input type="checkbox" autocomplete="off" value="{$smarty.const.CONTACT_NOTIFICATIONS}" name="customeradd[contacts][{$key}][type][]"{if ($email.type & $smarty.const.CONTACT_NOTIFICATIONS)} checked{/if}> {$_CONTACTTYPES[$smarty.const.CONTACT_NOTIFICATIONS]}
                                                </label>
                                                <label class="btn btn-sm btn-secondary" {tip text="Not visible by the customer in electronic Customer Service Representative" trigger="edisabled"}>
                                                    <input type="checkbox" autocomplete="off" value="{$smarty.const.CONTACT_DISABLED}" name="customeradd[contacts][{$key}][type][]"{if ($email.type & $smarty.const.CONTACT_DISABLED)} checked{/if}> {$_CONTACTTYPES[$smarty.const.CONTACT_DISABLED]}
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                {/foreach}
                            </table>
                            <INPUT type="hidden" id="contactscount" value="{count($customeradd.contacts)}">
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header lead">{trans("Email addresses")} <A class="btn btn-sm btn-primary" href="javascript:newemail()">{trans("Add contact field")}</A></div>
                        <div class="card-block">
                            <table class="table table-sm table-striped table-hover">
                                {foreach $customeradd.emails as $key => $item}
                                    <TR id="email{$key}">
                                        <TD class="nobr">
                                            {if !$item@first}<HR>{/if}
                                            {trans("Enter e-mail address (optional)")}:
                                            <INPUT class="form-control form-control-sm" type="email" value="{$item.email}" name="customeradd[emails][{$key}][email]">

                                            {trans("Enter contact name/description (optional)")}:
                                            <INPUT type="text" value="{$item.name}" name="customeradd[emails][{$key}][name]">
                                            <hr>
                                            <div class="form-group">
                                                {trans("Use e-mail for")}:
                                                <div class="btn-group">
                                                    <label class="btn btn-sm btn-secondary" {tip text="Check if sent electronic invoices on this email"}>
                                                        <input type="checkbox" autocomplete="off" value="{$smarty.const.CONTACT_INVOICES}" name="customeradd[emails][{$key}][type][]"{if ($item.type & $smarty.const.CONTACT_INVOICES)} checked{/if}> {$_CONTACTTYPES[$smarty.const.CONTACT_INVOICES]}
                                                    </label>
                                                    <label class="btn btn-sm btn-secondary" {tip text="Check if send notification" trigger="chknotification"}>
                                                        <input type="checkbox" autocomplete="off" value="{$smarty.const.CONTACT_NOTIFICATIONS}" name="customeradd[emails][{$key}][type][]"{if ($item.type & $smarty.const.CONTACT_NOTIFICATIONS)} checked{/if}> {$_CONTACTTYPES[$smarty.const.CONTACT_NOTIFICATIONS]}
                                                    </label>
                                                    <label class="btn btn-sm btn-secondary" {tip text="Check if send tech notification" trigger="chknotification"}>
                                                        <input type="checkbox" autocomplete="off" value="{$smarty.const.CONTACT_TECHNICAL}" name="customeradd[emails][{$key}][type][]"{if ($item.type & $smarty.const.CONTACT_TECHNICAL)} checked{/if}> {$_CONTACTTYPES[$smarty.const.CONTACT_TECHNICAL]}
                                                    </label>
                                                    <label class="btn btn-sm btn-secondary" {tip text="Not visible by the customer in electronic Customer Service Representative" trigger="edisabled"}>
                                                        <input type="checkbox" autocomplete="off" value="{$smarty.const.CONTACT_DISABLED}" name="customeradd[emails][{$key}][type][]"{if ($item.type & $smarty.const.CONTACT_DISABLED)} checked{/if}> {$_CONTACTTYPES[$smarty.const.CONTACT_DISABLED]}
                                                    </label>
                                                </div>
                                            </div>
                                        </TD>
                                    </TR>
                                {/foreach}
                            </table>
                            <INPUT type="hidden" id="emailscount" value="{count($customeradd.emails)}">

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header lead">{trans("Alternative bank accounts")} <A class="btn btn-sm btn-primary" href="javascript:newaccount()">{trans("Add contact field")}</A></div>
                        <div class="card-block">
                            <table class="table table-sm table-striped table-hover">
                                {foreach $customeradd.accounts as $key => $item}
                                    <TR id="account{$key}">
                                        <TD>
                                            {if !$item@first}<HR>{/if}
                                            {trans("Enter bank account (optional)")}
                                            <INPUT class="form-control form-control-sm" type="text" value="{$item.account}" name="customeradd[accounts][{$key}][account]">
                                            {trans("Enter contact name/description (optional)")}
                                            <INPUT class="form-control form-control-sm" type="text" value="{$item.name}" name="customeradd[accounts][{$key}][name]">
                                            <hr>
                                            <div class="form-group">
                                                {trans("Use bank account for")}:
                                                <div class="btn-group">
                                                    <label class="btn btn-sm btn-secondary" {tip text="Check if bank account should be visible on invoice"}>
                                                        <input type="checkbox" autocomplete="off" value="{$smarty.const.CONTACT_INVOICES}" name="customeradd[accounts][{$key}][type][]"{if ($item.type & $smarty.const.CONTACT_INVOICES)} checked{/if}> {$_CONTACTTYPES[$smarty.const.CONTACT_INVOICES]}
                                                    </label>
                                                    <label class="btn btn-sm btn-secondary" {tip text="Check if bank account should be disabled" trigger="edisabled"}>
                                                        <input type="checkbox" autocomplete="off" TYPE="checkbox" value="{$smarty.const.CONTACT_DISABLED}" name="customeradd[accounts][{$key}][type][]"{if ($item.type & $smarty.const.CONTACT_DISABLED)} checked{/if}> {$_CONTACTTYPES[$smarty.const.CONTACT_DISABLED]}
                                                    </label>
                                                </div>
                                            </div>
                                        </TD>
                                    </TR>
                                {/foreach}
                            </table>
                            <INPUT type="hidden" id="accountscount" value="{count($customeradd.accounts)}">
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header lead">{trans("IM")}</div>
                        <div class="card-block">
                            <div class="form-group">
                                {assign var=gg value=$smarty.const.IM_GG}{trans("Gadu-Gadu")}
                                <INPUT class="form-control form-control-sm" type="text" name="customeradd[uid][{$gg}]" value="{if $customeradd.uid.$gg}{$customeradd.uid.$gg}{/if}" {tip text="Enter Gadu-Gadu ID (optional)" trigger="gg"}>
                            </div>
                            <div class="form-group">
                                {assign var=yahoo value=$smarty.const.IM_YAHOO}{trans("Yahoo")}
                                <INPUT class="form-control form-control-sm" type="text" name="customeradd[uid][{$yahoo}]" value="{if $customeradd.uid.$yahoo}{$customeradd.uid.$yahoo}{/if}" {tip text="Enter Yahoo Messenger ID (optional)" trigger="yahoo"}>
                            </div>
                            <div class="form-group">
                                {assign var=skype value=$smarty.const.IM_SKYPE}{trans("Skype")}
                                <INPUT class="form-control form-control-sm" type="text" name="customeradd[uid][{$skype}]" value="{if $customeradd.uid.$skype}{$customeradd.uid.$skype}{/if}" {tip text="Enter Skype ID (optional)" trigger="skype"}>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header lead">{trans("Finances")}</div>
                        <div class="card-block">
                            <div class="form-group">
                                {trans("Deadline:")}
                                <SELECT class="form-control form-control-sm" name="customeradd[paytime]" {tip text="Select default deadline in days" trigger="paytime"}>
                                    <OPTION value="-1"{if !isset($customeradd.paytime) || $customeradd.paytime==-1} selected{/if}>- {trans("default")} -</OPTION>
                                    <OPTION value="0"{if isset($customeradd.paytime) && $customeradd.paytime==0} selected{/if}>0</OPTION>
                                    <OPTION value="7"{if $customeradd.paytime==7} selected{/if}>7</OPTION>
                                    <OPTION value="10"{if $customeradd.paytime==10} selected{/if}>10</OPTION>
                                    <OPTION value="14"{if $customeradd.paytime==14} selected{/if}>14</OPTION>
                                    <OPTION value="21"{if $customeradd.paytime==21} selected{/if}>21</OPTION>
                                    <OPTION value="30"{if $customeradd.paytime==30} selected{/if}>30</OPTION>
                                </SELECT>
                            </div>
                            <div class="form-group">
                                {trans("Payment type:")}
                                <SELECT class="form-control form-control-sm" name="customeradd[paytype]" {tip text="Select default invoices payment type" trigger="paytype"}>
                                    <OPTION value=""{if !$customeradd.paytype} selected{/if}>- {trans("default")} -</OPTION>
                                        {foreach from=$_PAYTYPES item=item key=key}
                                        <OPTION value="{$key}"{if $customeradd.paytype==$key} selected{/if}>{$item}</OPTION>
                                        {/foreach}
                                </SELECT>
                            </div>
                            <div class="form-group">
                                {trans("Cutoff suspending:")}
                                <div class="input-group">
                                    <INPUT class="form-control form-control-sm" type="text" name="customeradd[cutoffstop]" id="cutoffstop" {if $customerinfo.cutoffstop}value="{$customerinfo.cutoffstop}"{/if} placeholder="{trans('Select date of cutoff suspending (optional)')}" {tip class="calendar"  trigger="cutoffstop"}>
                                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw fa"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header lead">{trans("Agrements")}</div>
                        <div class="card-block">
                            {block name="customeradd-options"}
                                <div class="checkbox">
                                    <label for="chkconsent">
                                        <INPUT type="checkbox" name="customeradd[consentdate]" value="{$smarty.now}" id="chkconsent"{if $customeradd.consentdate} checked{/if}>
                                        &nbsp;{trans("Consent to personal data processing:")}
                                    </label>
                                    <label for="chkeinvoice">
                                        <INPUT type="checkbox" name="customeradd[einvoice]" value="1" id="chkeinvoice"{if $customeradd.einvoice} checked{/if}>
                                        &nbsp;{trans("Cancellation of a traditional invoice (agreement on an electronic invoice):")}
                                    </label>
                                    <label for="chkinvoicenotice" {tip text="Consent to invoices delivery via e-mail:" trigger="invoicenotice"}>
                                        <INPUT type="checkbox" name="customeradd[invoicenotice]" value="1" id="chkinvoicenotice"{if $customeradd.invoicenotice} checked{/if}>
                                        &nbsp;{trans("Consent to invoices delivery via e-mail:")}
                                    </label>
                                    <label for="chkmailingnotice">
                                        <INPUT type="checkbox" name="customeradd[mailingnotice]" value="1" id="chkmailingnotice"{if $customeradd.mailingnotice} checked{/if}>
                                        &nbsp;{trans("Consent to messages delivery via e-mail or sms:")}
                                    </label>
                                </div>
                            {/block}
                        </div>
                    </div>

                {/block}
            </div>
            <div class="col-md-6">
                {block name="customeradd-rightcolumn"}
                    <div class="card">
                        <div class="card-header">
                            {trans("Enter additional information (optional)")}
                            <label for="info_label" class="btn btn-sm btn-secondary">{trans("visual editor")}
                                <input type="checkbox" id="info_label" onclick="javascript:toggle_visual_editor('info');"{if ConfigHelper::getConfig('phpui.default_editor') == 'wysiwyg'} checked{/if}>
                            </label>
                        </div>
                        <div class="card-block">
                            <textarea class="form-control" rows="5" cols="60" name="customeradd[info]" id="info">{$customeradd.info|escape}</textarea>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header">
                            {trans("Enter notice contents (optional)")}
                            <label for="message_label" class="btn btn-sm btn-secondary">{trans("visual editor")}
                                <input type="checkbox" id="message_label" onclick="javascript:toggle_visual_editor('message');"{if ConfigHelper::getConfig('phpui.default_editor') == 'wysiwyg'} checked{/if}>
                            </label>
                        </div>
                        <div class="card-block">
                            <textarea class="form-control" rows="5" cols="60" name="customeradd[message]" id="message">{$customeradd.message|escape}</textarea>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header">
                            {trans("Enter notes (optional)")}
                            <label for="notes_label" class="btn btn-sm btn-secondary">{trans("visual editor")}
                                <input type="checkbox" id="notes_label" onclick="javascript:toggle_visual_editor('notes');"{if ConfigHelper::getConfig('phpui.default_editor') == 'wysiwyg'} checked{/if}>
                            </label>
                        </div>
                        <div class="card-block">
                            <textarea class="form-control" rows="5" cols="60" name="customeradd[notes]" id="notes">{$customeradd.notes|escape}</textarea>
                        </div>
                    </div>

                {/block}
            </div>
        </div>
        <hr>
        <A class="btn btn-danger" href="javascript:document.customeradd.submit();" accesskey="S">{trans("Submit")}</A>
        <A class="btn btn-secondary" href="?m=customerlist">{trans("Cancel")}</A>
        <label for="customeradd_reuse" class="btn btn-info pull-md-right">{trans("Display this form again, when this customer is saved")} <INPUT  type="checkbox" name="customeradd[reuse]" id="customeradd_reuse" value="ON" {if $customeradd.reuse}checked{/if}></label>
    </form>



    <SCRIPT type="text/javascript">
        <!--
                                                                                                                                            tinymce_init('{$_ui_language}');
        {if ConfigHelper::getConfig('phpui.default_editor') == 'wysiwyg'}
        toggle_visual_editor('info');
        toggle_visual_editor('message');
        toggle_visual_editor('notes');
        {/if}
        //-->
    </SCRIPT>
{/block}
