<div class="card">
    <div class="card-header">
        {trans("Customer Messages")}
        {if $limit}
            ({t a=$limit}last $a messages{/t})
        {/if}
        <A href="?m=messageadd&amp;customerid={$customerinfo.id}">{trans("New Message")} &raquo;</A>
        <A href="?m=messagelist&amp;cid={$customerinfo.id}">{trans("All Messages")} &raquo;</A>&nbsp;
    </div>
    <div class="card-block">

        <TABLE class="table table-bordered table-striped table-hover">
            <THEAD class="thead-inverse">
                <TR>
                    <th>
                        {trans("Date:")}
                    </th>
                    <th>
                        {trans("Subject:")}
                    </th>
                    <th>
                        {trans("Destination:")}
                        </TD>
                    <th>
                        {trans("Last read on:")}
                    </th>
                    <th>
                        {trans("Was confirm on:")} ({trans("only userpanel message")})
                    </th>
                    <th></th>
                </TR>
            </THEAD>
            <TBODY>
                {foreach from=$messagelist item=item}
                    <TR class="{if $item.status==$smarty.const.MSG_ERROR} alert{elseif $item.status==$smarty.const.MSG_SENT} blend{elseif $item.status==$smarty.const.MSG_DELIVERED} green{/if}">
                        <TD onClick="return self.location.href = '?m=messageinfo&amp;id={$item.id}'">
                            {$item.cdate|date_format:"%Y/%m/%d"}
                        </TD>
                        <TD onClick="return self.location.href = '?m=messageinfo&amp;id={$item.id}'">
                            {if $item.type == $smarty.const.MSG_MAIL}
                                <img src="img/email.gif" alt="email">
                            {elseif $item.type == $smarty.const.MSG_WWW}
                                <img src="img/network.gif" alt="www">
                            {elseif $item.type == $smarty.const.MSG_USERPANEL || $item.type == $smarty.const.MSG_USERPANEL_URGENT}
                                <img src="img/cms.gif" alt="userpanel">
                            {else}
                                <img src="img/sms.gif" alt="sms">
                            {/if}
                            {$item.subject}
                        </TD>
                        <TD onClick="return self.location.href = '?m=messageinfo&amp;id={$item.id}'">
                            {$item.destination}
                        </TD>
                        <TD onClick="return self.location.href = '?m=messageinfo&amp;id={$item.id}'">
                        {if $item.lastreaddate}{$item.lastreaddate|date_format:"%Y/%m/%d %H:%M"}{else} - {/if}
                    </TD>
                    <TD onClick="return self.location.href = '?m=messageinfo&amp;id={$item.id}'">
                    {if $item.status == $smarty.const.MSG_SENT  && ($item.type == $smarty.const.MSG_USERPANEL || $item.type == $smarty.const.MSG_USERPANEL_URGENT) && $item.lastdate}{$item.lastdate|date_format:"%Y/%m/%d %H:%M"}{else} - {/if}
                </TD>
                <TD>
                </TD>
            </TR>
        {foreachelse}
            <TR>
                <TD colspan="6">
                    {trans("There are no messages in database.")}
                </TD>
            </TR>
        {/foreach}
    </TBODY>
</TABLE>
</div>
</div>

