<div class="card">
    <div class="card-header">
        {trans("Actions:")}
    </div>
    <div class="card-block">

        <FORM class="form-inline" method="GET" name="cutoffstopaction" action="?m=customercutoffstop">
            <INPUT type="hidden" name="m" value="customercutoffstop">
            <INPUT type="hidden" name="customerid" value="{$customerinfo.id}">

            {trans("Cutoff suspending:")}
            <INPUT class="form-control" type="text" name="cutoffstop" id="cutoffstop" {if $customerinfo.cutoffstop}value="{$customerinfo.cutoffstop|date_format:"%Y/%m/%d"}"{/if}  placeholder="{trans('Select date of cutoff suspending (optional)')}" {tip class="calendar" text="Select date of cutoff suspending (optional)" trigger="cutoffstop"}>

            <A class="btn btn-sm btn-secondary" href="javascript:document.cutoffstopaction.submit()">{trans("Submit")} <img src="img/save.gif" alt=""></a>
        </FORM>

        <FORM class="form-inline" method="POST" name="warningaction" action="?m=customerwarn">
            <INPUT class="form-control" type="hidden" name="setwarnings[mcustomerid][{$customerinfo.id}]" value="{$customerinfo.id}">
            {trans("Notice content:")}
            <textarea class="form-control" name="setwarnings[message]" cols="60" rows="5" placeholder="{trans('Enter notice contents')}">
                {$customerinfo.message|escape}
            </textarea>
            <label for="warnon">{trans("Enable")}</label
            <INPUT class="form-control" TYPE="checkbox" NAME="setwarnings[warnon]" ID="warnon" onchange="switchbox('warnon');">

            <label for="warnoff">{trans("Disable")}</label>
            <INPUT class="form-control" TYPE="checkbox" NAME="setwarnings[warnoff]" ID="warnoff" onchange="switchbox('warnoff');">

            <A class="btn btn-sm btn-secondary" href="javascript:document.warningaction.submit()">{trans("Submit")}</a>
        </FORM>
    </div>
</div>

<SCRIPT type="text/javascript">
<!--
    function switchbox(id) {
        var elem = document.getElementById(id);
        if ((elem.name == 'setwarnings[warnon]') && elem.checked)
            document.warningaction.elements['setwarnings[warnoff]'].checked = false;
        if ((elem.name == 'setwarnings[warnoff]') && elem.checked)
            document.warningaction.elements['setwarnings[warnon]'].checked = false;
    }
//-->
</SCRIPT>
