{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle}</H1>
    <FORM class="form-inline" method="post" name="customergroupadd" action="?m=customergroupadd">
        <INPUT type="submit" class="hiddenbtn">

        <div class="card">
            <div class="card-header">
                {trans("Name:")}
                <INPUT class="form-control form-control-sm" type="text" name="customergroupadd[name]" value="{$customergroupadd.name}" size="50" required {tip trigger="name" bold=1}>
            </div>
            <div class="card-block">
                {trans("Description:")}<br>
                <TEXTAREA class="form-control form-control-sm" name="customergroupadd[description]" cols="50" rows="5" {tip text="Enter additional information (optional)"}>{$customergroupadd.description}</TEXTAREA>
                <hr>
			<A class="btn btn-sm btn-danger" href="javascript:document.customergroupadd.submit();" accesskey="s">{trans("Submit")}</A>
			<A class="btn btn-sm btn-secondary" href="?m=customergrouplist">{trans("Cancel")}</A>
            </div>
        </div>

</FORM>
<SCRIPT type="text/javascript">
    <!--
        document.forms['customergroupadd'].elements['customergroupadd[name]'].focus();
    //-->
    </SCRIPT>
{/block}
