<div class="card">
    <div class="card-header">
        {t a=$customernetworks|@count|default:"0"}Customer Networks ($a):{/t}
        {if $customerinfo.status != $smarty.const.CSTATUS_INTERESTED && !$customerinfo.deleted}<A href="?m=netadd&amp;ownerid={$customerinfo.id}">{trans("New Network")} &raquo;</A>&nbsp;{/if}
    </div>
    <div class="card-block">

        <TABLE class="table table-striped table-hover table-bordered">
            <THEAD class="thead-inverse">
                <TR>
                    <th>{trans("Name:")}</th>
                    <th>{trans("ID:")}</th>
                    <th>{trans("Address:")}</th>
                    <th>{trans("Host:")}</th>
                    <th>&nbsp;</th>
                </TR>
            </THEAD>
            <TBODY>
                {foreach from=$customernetworks item=network}
                    <TR class="{if $network.disabled} text-muted{/if}"  >
                        <TD onClick="return self.location.href = '?m=netinfo&amp;id={$network.id}';">
                            <span class="bold">{$network.name}</span>
                            {if $network.location}<BR>
                                <span class="nobr">{$network.location|truncate:60:"...":true}</span>
                            {/if}
                        </TD>
                        <TD onClick="return self.location.href = '?m=netinfo&amp;id={$network.id}';" class="text-right">
                            ({$network.id|string_format:"%04d"})
                        </TD>
                        <TD onClick="return self.location.href = '?m=netinfo&amp;id={$network.id}';" class="text-right nobr">
                            {$network.ip}
                        </TD>
                        <TD onClick="return self.location.href = '?m=netinfo&amp;id={$network.id}';" class="text-right nobr">
                            {$network.hostname}
                        </TD>
                        <TD class="nobr">
                            <A href="?m=netedit&networkset&amp;id={$network.id}"><IMG src="img/{if $network.disabled}no{/if}access.gif" alt="[ {if $network.disabled}{trans("Connect")}{else}{trans("Disconnect")}{/if} ]" title="[ {if $network.disabled}{trans("Connect")}{else}{trans("Disconnect")}{/if} ]"></A>

                            <A href="?m=netdel&amp;id={$network.id}" onClick="return confirmLink(this, '{t a=$network.name}Are you sure, you want to remove network \'$a\' from database?{/t}')"><IMG src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></A>
                            <A href="?m=netedit&amp;id={$network.id}"><IMG src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></A>
                            <A href="?m=netinfo&amp;id={$network.id}"><IMG src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></A>&nbsp;
                        </TD>
                    </TR>
                {foreachelse}
                    <TR>
                        <TD colspan="5">
                        {if $customerinfo.deleted}<span class="red">{trans("That customer has been deleted.")}</span>{else}{trans("That customer hasn't got any network.")}{/if}
                    </TD>
                </TR>
            {/foreach}
        </TBODY>
    </TABLE>

</div>
</div>

