<!--// $Id$ //-->
<SCRIPT type="text/javascript">
<!--
    function setstatus(access)
    {
        if (access)
            document.custnodeslist.action = '?m=nodeset&access=1';
        else
            document.custnodeslist.action = '?m=nodeset';

        document.custnodeslist.submit();
    }

    function setwarning(warning)
    {
        if (warning)
            document.custnodeslist.action = '?m=nodewarn&warning=1';
        else
            document.custnodeslist.action = '?m=nodewarn';

        document.custnodeslist.submit();
    }

    function setgroup(act)
    {
        document.custnodeslist.action = '?m=nodegroup&action=' + act + '&groupid=' + document.getElementById('groupselect').value;
        document.custnodeslist.submit();
    }
//-->
</SCRIPT>
{$lastonline_limit=ConfigHelper::getConfig('phpui.lastonline_limit')}
{if ConfigHelper::checkConfig('phpui.ewx_support')}
    {assign var=ewx value=1}
{else}
    {assign var=ewx value=0}
{/if}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" onclick="showOrHide('nodespanel-{$layout.module}');">
                {t a=$customernodes|@count|default:"0"}Customer Nodes ($a):{/t}
                {if $customerinfo.status != $smarty.const.CSTATUS_INTERESTED && ! $customerinfo.deleted}
                    <A class="btn btn-sm btn-success" href="?m=nodeadd&amp;ownerid={$customerinfo.id}">{trans("New Node")}</A>
                    {/if}
            </div>
            <div class="card-block" id="nodespanel-{$layout.module}" style="display:none;">

                <FORM class="form-inline" method="post" action="" name="custnodeslist">
                    <TABLE class="table table-striped table-hover table-bordered">
                        <THEAD class="thead-inverse">
                            <TR>
                                <th>{trans("Name:")} / {trans("ID:")}</th>
                                    {if $ewx}
                                    <th >{trans("Channel:")}</th>
                                    {/if}
                                <th>{trans("Address:")}</th>
                                <th>{trans("MAC:")}</th>
                                <th>{trans("Groups:")}</th>
                                <th>{trans("Network:")}</th>
                                <th>&nbsp;</th>
                            </TR>
                        </THEAD>
                        <TBODY>
                            {section name=customernodes loop=$customernodes}
                                <TR class="{if ! $customernodes[customernodes].access} text-muted{/if}"  >
                                    <TD>
                                        <a href="?m=nodeinfo&amp;id={$customernodes[customernodes].id}">{$customernodes[customernodes].name}</a> ({$customernodes[customernodes].id|string_format:"%04d"})
                                        {if $customernodes[customernodes].location}<BR>
                                            {$customernodes[customernodes].location|truncate:60:"...":true}
                                        {/if}
                                        {if $customernodes[customernodes].info}<BR>
                                            {$customernodes[customernodes].info|truncate:60:"...":true}
                                        {/if}
                                        
                                        <br>
                                        {if $customernodes[customernodes].lastonline}
                                            {if ($smarty.now-$customernodes[customernodes].lastonline) > $lastonline_limit}
                                                {trans("Last online")}: {$customernodes[customernodes].lastonlinedate}
                                            {else}
                                                {trans("Is online")}
                                            {/if}
                                        {/if}
                                    </TD>
                                    {if $ewx}
                                        <TD>
                                            {if $customernodes[customernodes].channelname}
                                                <a href="?m=ewxchinfo&amp;id={$customernodes[customernodes].channelid}">{$customernodes[customernodes].channelname|truncate:30:"...":true}</a>
                                            {elseif $customernodes[customernodes].channelid}
                                                {if !$customernodes[customernodes].cid}
                                                    <a href="?m=ewxchinfo&amp;id=0">[{trans("default")}]</a>
                                                {else}
                                                    [{$customernodes[customernodes].channelid|string_format:"%04d"}]
                                                {/if}
                                            {/if}
                                            {if $customernodes[customernodes].downceil}({$customernodes[customernodes].downceil}/{$customernodes[customernodes].upceil|default:0} kbit/s){/if}
                                        </TD>
                                    {/if}
                                    <TD>
                                        {$customernodes[customernodes].ip} {if $customernodes[customernodes].ip_pub != "0.0.0.0"} ({$customernodes[customernodes].ip_pub}){/if}
                                    </TD>
                                    <TD>
                                        {$customernodes[customernodes].mac|replace:",":"<BR>"}
                                    </TD>
                                    <TD>
                                        {if $customernodes[customernodes].gcount}
                                            <img src="img/nodegroup.gif" alt="" {tip a=$customernodes[customernodes].id dynpopup='?m=nodeinfo&amp;id=$a&amp;nodegroups=1' sticky=1}>
                                        {/if}
                                    </TD>
                                    <TD>
                                        <A class="btn btn-sm btn-secondary" href="?m=netinfo&amp;id={$customernodes[customernodes].netid}">{$customernodes[customernodes].netname|truncate:"20":"...":true}</A> {if $customernodes[customernodes].network_pub} (<A href="?m=netinfo&amp;id={$customernodes[customernodes].network_pub.id}">{$customernodes[customernodes].network_pub.name|truncate:"20":"...":true}</A>){/if}
                                    </TD>
                                    <TD>
                                        <A class="btn btn-sm btn-secondary" href="?m=nodeset&amp;id={$customernodes[customernodes].id}"><IMG src="img/{if ! $customernodes[customernodes].access}no{/if}access.gif" alt="[ {if ! $customernodes[customernodes].access}{trans("Connect")}{else}{trans("Disconnect")}{/if} ]" title="[ {if ! $customernodes[customernodes].access}{trans("Connect")}{else}{trans("Disconnect")}{/if} ]"></A>
                                        <A class="btn btn-sm btn-secondary" href="?m=nodewarn&amp;id={$customernodes[customernodes].id}"><IMG src="img/warning{if ! $customernodes[customernodes].warning}off{else}on{/if}.gif" alt="[ {if ! $customernodes[customernodes].warning}{trans("Enable notice")}{else}{trans("Disable notice")}{/if} ]" title="[ {if ! $customernodes[customernodes].warning}{trans("Enable notice")}{else}{trans("Disable notice")}{/if} ]"></A>
                                        <A class="btn btn-sm btn-secondary" href="?m=nodedel&amp;id={$customernodes[customernodes].id}" onClick="return confirmLink(this, '{t a=$customernodes[customernodes].name}Are you sure, you want to remove node \'$a\' from database?{/t}')"><IMG src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></A>
                                        <A class="btn btn-sm btn-secondary" href="?m=nodeedit&amp;id={$customernodes[customernodes].id}"><IMG src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></A>
                                        <A class="btn btn-sm btn-secondary" href="?m=nodeinfo&amp;id={$customernodes[customernodes].id}"><IMG src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></A>&nbsp;
                                        <INPUT class="form-control" type="checkbox" name="marks[{$customernodes[customernodes].id}]" value="{$customernodes[customernodes].id}" checked>
                                    </TD>
                                </TR>
                            {sectionelse}
                                <TR>
                                    <TD colspan="{math equation="x+y" x=7 y=$ewx}">
                                        <P>{if $customerinfo.deleted}<span class="red">{trans("That customer has been deleted.")}</span>{else}{trans("That customer hasn't got any node.")}{/if}</P>
                                    </TD>
                                </TR>
                            {/section}
                            <TR>
                                <TD colspan="{math equation="x+y" x=4 y=$ewx}">
                                    <IMG src="img/access.gif" alt="">
                                    <A class="btn btn-sm btn-secondary" href="javascript:setstatus(1)"> {trans("Connect")}</A>/<A class="btn btn-sm btn-secondary" href="javascript:setstatus(0)">{trans("Disconnect")}</A>
                                    <IMG src="img/warningon.gif" alt="">
                                    <A class="btn btn-sm btn-secondary" href="javascript:setwarning(1)"> {trans("Enable")}</A>/<A class="btn btn-sm btn-secondary" href="javascript:setwarning(0)">{trans("Disable")}</A>
                                        {if $allnodegroups}
                                        <IMG src="img/nodegroup.gif" alt="">
                                        <A class="btn btn-sm btn-secondary" href="javascript:setgroup('setgroup')"> {trans("Add")}</A>/<A class="btn btn-sm btn-secondary" href="javascript:setgroup('unsetgroup')">{trans("Remove Group")}</A>:
                                        <SELECT class="form-control" id="groupselect">
                                            {foreach from=$allnodegroups item=nodegroup}
                                                <OPTION value="{$nodegroup.id}" {if $listdata.nodegroup == $nodegroup.id} SELECTED {/if}>{$nodegroup.name|truncate:30:"...":true}</OPTION>
                                                {/foreach}
                                        </SELECT>
                                    {/if}
                                </TD>
                                <TD colspan="3">
                                    <label for="allbox">{trans("Check All")}</label><INPUT type="checkbox" name="allbox" id="allbox" onchange="CheckAll('custnodeslist', this)" value="1" checked>
                                </TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </FORM>

            </div>
        </div>
    </div>
</div>
<SCRIPT type="text/javascript">
<!--
    if (getCookie('nodespanel-{$layout.module}') == '1')
    {
        document.getElementById('nodespanel-{$layout.module}').style.display = '';
    }
//-->
</SCRIPT>
