<!DOCTYPE html>
<html lang="{$_ui_language}">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta http-equiv="refresh" content="{get_conf('phpui.timeout')+5}">
    <title>{trans("Virtual Customer Service")}</title>
    <!-- TWITTER BOOTSTRAP RESPONSIVE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TWITTER BOOTSTRAP CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- OWN CSS -->
    <link href="assets/alfa-system/alfa.css" rel="stylesheet">    
</head>
<body>
       <div class="container">
{body}
