{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle} <a class="btn btn-success" href="?m=numberplanadd"><i class="fa fa-fw fa-plus-circle"></i> {trans("Add plan")}</a></h1>
        {if $listdata.total != 0}
            {include file="scroller.html" loop=$numberplanlist}
        {/if}

    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-inverse">
            <TR>
                <th>{trans("Template:")}</th>
                <th>{trans("ID:")}</th>
                <th>{trans("Example (next) number:")}</th>
                <th>{trans("No. of issued documents:")}</th>
                <th>{trans("Document type:")}</th>
                <th>{trans("Period:")}</th>
                <th>{trans("Default:")}</th>
                <th></th>
            </TR>
        </THEAD>
        <TBODY>
            {section name=numberplanlist loop=$numberplanlist}
                <TR class="{if ($numberplanlist[numberplanlist].validfrom !=0 && $numberplanlist[numberplanlist].validfrom > $smarty.now) || ($numberplanlist[numberplanlist].validto !=0 && $numberplanlist[numberplanlist].validto < $smarty.now)} blend{/if}"  >
                    <TD>
                        <a href="?m=numberplanedit&amp;id={$numberplanlist[numberplanlist].id}">{$numberplanlist[numberplanlist].template}</a>
                    </TD>
                    <TD>
                        ({$numberplanlist[numberplanlist].id|string_format:"%04d"})
                    </TD>
                    <TD>
                        {number number=$numberplanlist[numberplanlist].next template=$numberplanlist[numberplanlist].template time=$smarty.now}
                    </TD>
                    <TD>
                        {$numberplanlist[numberplanlist].issued|default:"0"}
                    </TD>
                    <TD>
                        {assign var="doctype" value=$numberplanlist[numberplanlist].doctype}
                        {$_DOCTYPES.$doctype}
                    </TD>
                    <TD>
                        {assign var="period" value=$numberplanlist[numberplanlist].period}
                        {$_NUM_PERIODS.$period}
                    </TD>
                    <TD>
                    {if $numberplanlist[numberplanlist].isdefault}{trans("yes")}{/if}
                </TD>
                <TD>
                    <A class="btn btn-sm btn-danger" href="?m=numberplandel&amp;id={$numberplanlist[numberplanlist].id}" OnClick="return confirmLink(this, '{t a=$numberplanlist[numberplanlist].template}Are you sure, you want to delete numberplan \'$a\'?{/t}')" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                    <A class="btn btn-sm btn-primary" href="?m=numberplanedit&amp;id={$numberplanlist[numberplanlist].id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                </TD>
            </TR>
        {sectionelse}
            <TR>
                <TD colspan="8">
                    {trans("No such numbering plans in database.")}
                </TD>
            </TR>
        {/section}
    </TBODY>
</TABLE>
{if $listdata.total != 0}
    {include file="scroller.html" loop=$numberplanlist}
{/if}
{/block}
