<!DOCTYPE html>
<html>
    <head>
        <title>Cennik ogólny do umowy abonenckiej</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!-- TWITTER BOOTSTRAP RESPONSIVE -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- TWITTER BOOTSTRAP CSS -->
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen,print">
        <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen,print">
        <style>
            body {
                padding: 1em;
                margin: 1em;
                font-size: 10px;
            }
            ol li {
                line-height:10px
            }
            @page  
            { 
                size: auto;   /* auto is the initial value */ 
                /* this affects the margin in the printer settings */ 
                margin-left: 5mm;  
                margin-right: 5mm;  
                margin-top: 10mm;  
                margin-bottom: 10mm;  
            } 
            .table td,th {
                text-align: center;   
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h3>Alfa-System: internet, telefon</h3>
                    <h4>Cennik ogólny z dnia 7.12.2015r.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Jednorazowe opłaty instalacyjne</strong></p>                                  
                    <table class="table table-condensed table-bordered">
                        <thead>                            
                            <tr>
                                <th colspan="2">OKRES OBOWIĄZYWANIA UMOWY</th>
                                <th>BEZTERMINOWA</th>
                                <th>6 MC</th>
                                <th>12 MC</th>
                                <th>24 MC</th>
                            </tr>
                        </thead>
                        <tr>
                            <td rowspan="2">podłączenie kablowe</td>
                            <td>przyznany rabat</td>
                            <td>0,00 zł</td>
                            <td>2214,00 zł</td>
                            <td>2337,00 zł</td>
                            <td>2398,50 zł</td>
                        </tr>
                        <tr>

                            <td>cena</td>
                            <td>2460,00 zł</td>
                            <td>246,00 zł</td>
                            <td>123,00 zł</td>
                            <td>61,50 zł</td>
                        </tr>                        
                        <tr>
                            <td rowspan="2">podłączenie radiowe</td>
                            <td>przyznany rabat</td>
                            <td>0,00 zł</td>
                            <td>1968,00 zł</td>
                            <td>2091,00 zł</td>
                            <td>2214,00 zł</td>
                        </tr>  
                        <tr>

                            <td>cena</td>
                            <td>2460,00 zł</td>
                            <td>492,00 zł</td>
                            <td>369,00 zł</td>
                            <td>246,00 zł</td>
                        </tr>   
                    </table>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Miesięczne opłaty abonamentowe</strong></p>                                  
                    <table class="table table-condensed table-bordered">
                        <thead>                            
                            <tr>
                                <th>TARYFA</th>
                                <th>CENA</th>
                                <th>PRĘDKOŚĆ<br/>POBIERANIA</th>
                                <th>PRĘDKOŚĆ<br/>WYSYŁANIA</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>VoIP</td>
                            <td>5,04 zł</td>
                            <td>256 kb/s</td>
                            <td>256 kb/s</td>
                        </tr>
                        <tr>
                            <td>RADIO 5GHz</td>
                            <td>59,22 zł</td>
                            <td>10 Mb/s</td>
                            <td>1 Mb/s</td>
                        </tr>                        
                        <tr>
                            <td>STANDARD</td>
                            <td>59,22 zł</td>
                            <td>100 Mb/s</td>
                            <td>10 Mb/s</td>
                        </tr>   
                        <tr>
                            <td>MEGA</td>
                            <td>71,52 zł</td>
                            <td>250 Mb/s</td>
                            <td>15 Mb/s</td>
                        </tr>  
                        <tr>
                            <td>TURBO</td>
                            <td>99,90 zł</td>
                            <td>400 Mb/s</td>
                            <td>25 Mb/s</td>
                        </tr>                           
                    </table>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Inne dodatkowe opłaty</strong></p>                                  
                    <table class="table table-condensed table-bordered">
                        <thead>                            
                            <tr>
                                <th>NAZWA</th>
                                <th>CENA</th>
                                <th>NAZWA</th>
                                <th>CENA</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>bramka VoIP</td>
                            <td>150,00 zł</td>
                            <td>kara umowna za udostępnianie usługi poza lokal</td>
                            <td>1000,00 zł</td>
                        </tr>
                        <tr>
                            <td>router WiFi Netis 2419</td>
                            <td>100,00 zł</td>
                            <td>opłata postojowa - czasowe zawieszenie usługi</td>
                            <td>15,00 zł/m-c</td>
                        </tr>                        
                        <tr>
                            <td>router WiFi Fibrain FSR-RG1</td>
                            <td>250,00 zł</td>
                            <td>udostępnienie usług po karnym wstrzymaniu</td>
                            <td>50,00 zł</td>
                        </tr>                           
                        <tr>
                            <td>router WiFi Routerboard RB951 2HND</td>
                            <td>350,00 zł</td>
                            <td>zmiana miejsca świadczenie usługi</td>
                            <td>50,00 zł</td>
                        </tr>                           
                        <tr>
                            <td>konfiguracja urządzenia (router, bramka VoIP, telewizor) do pracy w sieci</td>
                            <td>20,00 zł</td>                            
                            <td>przygotowanie i wysłanie upomnienia zapłaty</td>
                            <td>10,00 zł</td>
                        </tr> 
                        <tr>
                            <td>podłączenie gniazdka RJ11/45</td>
                            <td>30,00 zł</td>
                            <td>opłata za dostarczenie papierowej kopii faktury</td>
                            <td>5,00 zł</td>
                        </tr>   
                        <tr>
                            <td>zarobienie końcówki RJ11/45</td>
                            <td>10,00 zł</td>
                            <td>nieuzasadnione wezwanie technika</td>
                            <td>20,00 zł</td>
                        </tr>                          
                        <tr>
                            <td>kabel skrętka UTP</td>
                            <td>2,00 zł/m</td>
                            <td>inne niewymienione usługi serwisowe</td>
                            <td>50,00 zł/h</td>
                        </tr>   
                        <tr>
                            <td>nielegalne korzystanie z usług</td>
                            <td colspan="3">rekompensata strat za 24 miesiące</td>
                        </tr>                          

                    </table>
                </div>
            </div>              
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p>Koszty usług niewymienionych w cenniku ustalane są indywidualnie. Oferta ograniczona terytorialnie i uzależniona od możliwości technicznych dostawcy. Podane wartości oznaczają prędkości maksymalne. Podano ceny brutto.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12"><br/><br/>
                    <table class="table table-striped">
                        <tr>
                            <td height="50"></td>
                            <td><br/>&nbsp;<br/></td>
                            <td></td>
                        </tr>  
                        <tr>
                            <td style="border-top: 1px solid #999;">Data i podpis Abonenta</td>
                            <td>&nbsp;</td>
                            <td style="border-top: 1px solid #999;">Data i podpis przedstawiciela Operatora ( {$layout.logname} )</td>
                        </tr>  
                    </table>  
                </div>
            </div>
<div class="pull-right"><p class="text-muted">ID:{$sha1}</p></div>
        </div>
    </body>
</html>