<!DOCTYPE html>
<html>
    <head>
        <title>Promocja Internet Rodzinna 3+</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen,print">
        <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen,print">
        <style>
            body {
                padding: 1em;
                margin: 1em;
                font-size: 10px;
            }
            @page  
            { 
                size: auto;   /* auto is the initial value */ 
                /* this affects the margin in the printer settings */ 
                margin-left: 5mm;  
                margin-right: 5mm;  
                margin-top: 5mm;  
                margin-bottom: 5mm;  
            } 
            ol { counter-reset: item;}
            li { display: block }
            li:before { content: counters(item, ".") ". "; counter-increment: item }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h4>Alfa-System: Regulamin promocji <strong>"Internet Rodzina 3+"</strong></h4>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Zasady ogólne</strong></p>                
                    <ol>
                        <li>Organizatorem promocji "Internet Rodzina 3+" jest ALFA-SYSTEM M. Piwowarski, A. Widera spółka jawna, ul. Lotników 6 z siedzibą w Knurowie, dalej zwaną ALFA-SYSTEM.
                        <li>Przedmiotem niniejszej promocji jest:
                            <ol>
                                <li>Obniżenie opłaty instalacyjnej do kwoty 1,23 zł z VAT (dotyczy nowych abonentów).</li>
                                <li>Obniżenie opłaty abonamentowej dla taryfy STANDARD z routerem WiFi do kwoty 29,61 zł z VAT przez cały okres trwania umowy terminowej.</li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Warunki promocji</strong></p>                
                    <ol>
                        <li>Promocja "Internet Rodzina 3+" skierowana jest do nowych klientów ALFA-SYSTEM oraz dla obecnych, którym zakończyły się umowy terminowe.</li>
                        <li>Promocja jest ważna od 4.02.2014r. do odwołania.</li>
                        <li>Promocja dotyczy tylko umów zawartych na czas określony tj. 24 okresy rozliczeniowe.</li>
                        <li>Warunkiem niezbędnym do skorzystania z promocji jest posiadanie ważnej karty "Rodzina 3+" wydanej przez UM w Knurowie. Maksymalnie może skorzystać do trzech członków rodziny objętej programem "Rodzina 3+".</li>
                        <li>Promocja jest ograniczona terytorialnie.</li>
                        <li>Promocje organizowane przez ALFA-SYSTEM nie sumują się chyba, że warunki innych promocji pozwalają na taką ewentualność.</li>
                        <li>W sprawach nieuregulowanych niniejszym regulaminem zastosowanie mają przepisy Kodeksu Cywilnego.</li>
                        <li>ALFA-SYSTEM zastrzega sobie prawo zmiany oferty promocyjnej w trakcie trwania okresu promocji.</li>
                    </ol>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Udzielone upusty do niniejszej promocji</strong></p>
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <td>Nazwa</td>
                            <td>Cena w promocji</td>
                            <td>Cena bez promocji</td>
                            <td>Ilość</td>
                            <td>Upust</td>
                            <td>Wartość upustów</td>
                        </tr>  
                        <tr>
                            <td>Opłata instalacyjna</td>
                            <td>1,23 zł</td>
                            <td>2460,00 zł</td>
                            <td>1</td> 
                            <td>2459,00 zł</td>   
                            <td>2459,00 zł</td>  
                        </tr>  
                        <tr>
                            <td>Abonament miesięczny w taryfie Standard</td>
                            <td>29,61 zł</td>
                            <td>59,22 zł</td>
                            <td>24</td>
                            <td>29,61 zł</td>
                            <td>710,64 zł</td>
                        </tr>  
                        <tr>
                            <td>Urządzenie dostępowe</td>
                            <td>0 zł</td>
                            <td>150,00 zł</td>
                            <td>1</td>
                            <td>150,00 zł</td>
                            <td>150,00 zł</td>
                        </tr>                          
                    </table>
                </div>
            </div>                 
            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Oświadczam, że zapoznałem się z warunkami niniejszej promocji oraz je w pełni akceptuję.</strong></p>                                  
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Oświadczam, iż zapoznałem się z protokołem oraz warunkami użytkowania.</strong></p>                
                    <table class="table table-striped">
                        <tr>
                            <td height="60"></td>
                            <td><br/>&nbsp;<br/></td>
                            <td></td>
                        </tr>  
                        <tr>
                            <td style="border-top: 1px solid #999;">Data i podpis Abonenta</td>
                            <td>&nbsp;</td>
                            <td style="border-top: 1px solid #999;">Data i podpis przedstawiciela Operatora ( {$layout.logname} )</td>
                        </tr>  
                    </table>  
                </div>
            </div>   
            <div class="pull-right"><p class="text-muted">ID:{$sha1}</p></div>

        </div>
    </body>
</html>