<!--// $Id$ //-->
<TABLE class="table table-bordered table-hover table-striped table-sm">
    <thead class="thead-inverse">
        <TR>
            <th colspan="2">
                {t a=$resource.name b=$resource.id|string_format:"%04d" c=$resource.date|date_format:"Y.m.d H:i:s"}$a ($b): status of $c{/t}
            </th>
        </TR>
    </THEAD>
    <TBODY>
        {foreach $resource.properties as $key => $value}
            <TR>
                <TD>
                    {$key}:
                </TD>
                <TD>
                    <strong>{$value}</strong>
                </TD>
            </TR>
        {foreachelse}
            <TR>
                <TD colspan="2">
                    {trans("There are not any properties for this resource in archive.")}
                </TD>
            {/foreach}
    </TBODY>
</TABLE>
