{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle}</H1>
        {if $listdata.total != 0}
            {include file="scroller.html" loop=$typelist}
        {/if}
    <table class="table table-sm table-striped table-bordered table-hover">
        <thead class="thead-inverse">
            <TR>
                <th>{trans("Name:")}</TD>
            </TR>

        </THEAD>
        <TBODY>
            {foreach from=$typelist key=key item=item}
                <TR>
                    <TD onClick="return self.location.href = '?m=documenttypeedit&amp;id={$key}';">
                        <a href="?m=documenttypeedit&amp;id={$key}">{$item}</a>
                    </TD>
                </TR>
            {foreachelse}
                <TR>
                    <TD>
                        {trans("There are no types in database.")}
                    </TD>
                </TR>
            {/foreach}
        </TBODY>
    </TABLE>
    {if $listdata.total != 0}
        {include file="scroller.html" loop=$typelist}
    {/if}
{/block}
