{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <SCRIPT type="text/javascript">
        <!--
            function set_all_rights(user_id, all_checkbox) {

            var document_rights_form = document.forms['typeedit'];
            var rights_values = new Array('1', '2', '4', '8', '16', 'all');

            for (i = 0; i < rights_values.length; i++) {
                var checkbox_name = 'rights[' + user_id + '][' + rights_values[i] + ']';
                document_rights_form.elements[checkbox_name].checked = all_checkbox.checked;
            }

        }
        //-->
    </script>
    <h1>{$layout.pagetitle}</h1>
    <form class="form-inline" method="post" action="?m=documenttypeedit&id={$documenttype.id}" name="typeedit">
        <input type="submit" class="hiddenbtn">

        <table class="table table-sm table-striped table-bordered table-hover">
            <thead class="thead-inverse">
                <TR>
                    <th>{trans("User permissions")}</th>
                    <th>{trans("Viewing")}</th>
                    <th>{trans("Creating")}</th>
                    <th>{trans("Confirming")}</th>
                    <th>{trans("Editing")}</th>
                    <th>{trans("Deleting")}</th>
                    <th>{trans("All rights")}</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$documenttype.rights item=right key=key}
                    <tr>
                        <td>
                            <a href="?m=userinfo&id={$key}">{$right.name}</a>
                        </td>
                        <td>
                            <input class="from-control form-control-sm" type="checkbox" name="rights[{$key}][1]" value="1" {if ($right.rights & 1)==1}checked{/if}>
                        </td>
                        <td>
                            <input class="from-control form-control-sm" type="checkbox" name="rights[{$key}][2]" value="2" {if ($right.rights & 2)==2}checked{/if}>
                        </td>
                        <td>
                            <input class="from-control form-control-sm" type="checkbox" name="rights[{$key}][4]" value="4" {if ($right.rights & 4)==4}checked{/if}>
                        </td>
                        <td>
                            <input class="from-control form-control-sm" type="checkbox" name="rights[{$key}][8]" value="8" {if ($right.rights & 8)==8}checked{/if}>
                        </td>
                        <td>
                            <input class="from-control form-control-sm" type="checkbox" name="rights[{$key}][16]" value="16" {if ($right.rights & 16)==16}checked{/if}>
                        </td>
                        <td>
                            <input class="from-control form-control-sm" type="checkbox" name="rights[{$key}][all]" value="all"  onclick='set_all_rights({$key}, this)' {if $right.rights == 31}checked{/if}>
                        </td>
                    </tr>
                {/foreach}
            </tbody>
        </table>

        <A class="btn btn-sm btn-danger" href="javascript:document.typeedit.submit();" accesskey="s">{trans("Submit")}</A>
        <A class="btn btn-sm btn-secondary" href="?m=documenttypes">{trans("Cancel")}</A>
        {/block}
