{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!-- $Id$ -->
    <H1>{$layout.pagetitle} <a class="btn btn-success" href="?m=invprojectadd"><i class="fa fa-fw fa-plus-circle"></i> {trans("Add investment project")}</a></h1>

    {if $listdata.total != 0}
        {include file="scroller.html" loop=$invprojectlist}
    {/if}

    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-inverse">
            <TR>
                <th>{trans("ID:")}</th>
                    {if $divisions}
                    <th><img src="img/division.gif" alt=""></th>
                    <th>{trans("Division:")}</th>
                    {/if}
                <th>{trans("Name:")}</th>
                <th>{trans("Nodes")}</th>
                <th>{trans("Network Device Nodes")}</th>
                <th></th>
            </TR>
        </THEAD>
        <TBODY>
            {foreach from=$invprojectlist item=invproject}
                <TR>
                    <TD>
                        ({$invproject.id|string_format:"%04d"})
                    </TD>
                    {if $divisions}
                        <TD>
                            {foreach from=$divisions item=division}
                                {if $division.id==$invproject.divisionid}
                                    <a href="?m=invprojectedit&id={$invproject.id}">{$division.shortname}</a>
                                {/if}
                            {/foreach}
                        </TD>
                    {/if}
                    <TD>
                        <a href="?m=invprojectedit&id={$invproject.id}">{$division.name}</a>
                    </TD>
                    <TD>
                        {$invproject.nodes}
                    </TD>
                    <TD>
                        {$invproject.netnodes}
                    </TD>
                    <TD>
                        <A class="btn btn-sm btn-danger" HREF="?m=invprojectdel&id={$invproject.id}" OnClick="return confirmLink(this, '{t a=$invproject.name}Are you sure, you want to remove investment project \'$a\' ?{/t}');" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                        <A class="btn btn-sm btn-primary" HREF="?m=invprojectedit&id={$invproject.id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                    </TD>
                </TR>
            {foreachelse}
                <TR>
                    <TD {if $divisions}colspan="7"{else}colspan="5"{/if}>
                        {trans("There are no investment project.")}
                    </TD>
                </TR>
            {/foreach}
        </TBODY>
    </TABLE>
{/block}
