{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!-- $Id$ -->
    <H1>{$layout.pagetitle} <a class="btn btn-success" href="?m=hostadd"><i class="fa fa-fw fa-plus-circle"></i> {trans("Add host")}</a></h1>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-inverse">
            <TR>
                <th>{trans("Name:")}</th>
                <th>{trans("ID:")}</th>
                <th>{trans("Last Reload:")}</th>
                <th>{trans("Description:")}</th>
                <th></th>
            </TR>
        </THEAD>
        <TBODY>
            {foreach from=$hostlist item=host}
                <TR>
                    <TD>
                        <a href="?m=hostedit&amp;id={$host.id}">{$host.name}</a>
                    </TD>
                    <TD>
                        ({$host.id|string_format:"%04d"})
                    </TD>
                    <TD>
                    {if $host.lastreload}{$host.lastreload|date_format:"%Y/%m/%d %H:%M:%S"}{else}-{/if}
                </TD>
                <TD>
                    {$host.description}
                </TD>
                <TD>
                    <A class="btn btn-sm btn-danger" HREF="?m=hostdel&amp;id={$host.id}" OnClick="return confirmLink(this, '{t a=$host.name}Are you sure, you want to remove host \'$a\' and all assigned configuration?{/t}');" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                    <A class="btn btn-sm btn-primary" HREF="?m=hostedit&amp;id={$host.id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                </TD>
            </TR>
        {foreachelse}
            <TR>
                <TD colspan="5">
                    {trans("There are no hosts configured.")}
                </TD>
            </TR>
        {/foreach}
    </TBODY>
</TABLE>
{/block}
