{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{trans("LMS version")} {$layout.lmsv} ({$layout.lmsvr})</H1>
    <P>Copyright &copy; 2001-{$smarty.now|date_format:'%Y'} LMS Developers</P>

    <blockquote class="blockquote">
        <P>{trans("This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License Version 2 as published by the Free Software Foundation.")}</P>
        <P>{trans("This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.")}</p>
        <P>{trans("You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.")}</p>
    </blockquote>



        <a href="http://www.opensource.org/docs/definition.php"><img src="img/opensource-110x95.gif" width="110" height="95" alt=""></a>
        <p class="font-weight-bold">{trans("LMS include elements of other software:")}</P>
        <ul>
            <li><A href="http://www.phpmyadmin.net/">phpMyAdmin</A></li>
            <li><a href="http://phpsysinfo.sourceforge.net/">phpsysinfo</a></li>
            <li><a href="http://adodb.sourceforge.net/">ADOdb</a></li>
            <li><a href="http://www.openlayers.org/">OpenLayers</a></li>
            <li><a href="http://florian-amrhein.de/newsportal/index-english.php3">NewsPortal</A></li>
            <li><a href="http://www.bosrup.com/web/overlib/">overLIB</A></li>
            <li><a href="http://www.ros.co.nz/pdf/">ezpdf</A></li>
            <li><a href="http://www.xajaxproject.org/">xajax</A></li>
            <li><a href="http://www.softcomplex.com/products/tigra_calendar/">Tigra Calendar</A></li>
            <li><a href="http://gosu.pl/dhtml/mygosumenu.html">Cezary Tomczak's mygosuMenu published under revised BSD license</a></li>
            <li><a href="http://github.com/phine/lib-observer">phine/lib-observer</a></li>
            <li>{t}Piotr Kleban's number-to-words conversion procedures<BR>and code examples from <a href="http://www.php.net/manual">PHP Manual</A>{/t}</li>
        </ul>

    <h5>{trans("LMS developers (in alphabetical order):")}</h5>
    <table class="table table-striped table-hover table-bordered">    
        {foreach from=$authors item=author name=authors key=nick}
            <tr>
                <td> 
                    <IMG src="img/{$nick|lower}.icon.gif" alt="">
                </TD>
                <TD>
                    <span class="bold">{$nick}</span><BR>
                    {$author.realname}<BR>
                    {if $author.www}
                        <A href="http://{$author.www}" rel="external">{$author.www}</A>
                    {/if}&nbsp;<BR>
                    {$author.info}
            </tr>
        {/foreach}
    </table>
    <h5>{trans("The rest of group:")}</h5>
    <ul>
        {foreach from=$others item=other name=others key=nick}
            <li>{if $other.www}<A href="http://{$other.www}" rel="external">{/if}
                    {$other.realname} [{$nick}]
                    {if $other.www}</A>{/if}
                - {$other.info}</li>
            {/foreach}
    </ul>
    <P><a href="http://www.smarty.net/">{trans("LMS uses Smarty Template Engine - http://www.smarty.net/")}</A></P>
    <P><a href="http://www.smarty.net/"><img src="img/smarty_icon.gif" alt="Smarty"></A></p>
        {/block}
