<div class="alert alert-danger" role="alert">
    <h3>{trans("Database errors occurred!")}</h3>
    {foreach from=$layout.dberrors item=dberror}
        {if $layout.dbdebug}
            <p class="lead"><strong>({math equation="x*1000" x=$dberror.time format="%.4f"} ms):</strong> {$dberror.query}</p>
        {else}
            <p class="lead"><strong>{trans("Query:")}</strong> {$dberror.query}</p>
            <p class="lead"><strong>{trans("Error:")}</strong> {$dberror.error}</p>
                {/if}
            {/foreach}
</div>






