{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <H1>{$layout.pagetitle}</H1>
        {include file="calendar_js.html"}
    <FORM class="form-inline" method="post" name="invoicereport" id="invoicereport" action="?m=export&amp;type=invoices">
        <INPUT type="submit" class="hiddenbtn">
        <div class="card">
            <div class="card-header">
                {trans("Sale Registry")}
            </div>
            <div class="card-block">
                {trans("Period")}
                {trans("from")} <INPUT class="form-control form-control-sm" TYPE="text" NAME="from" maxlength="10" placeholder="{trans("yyyy/mm/dd")}" {tip class="calendar" text="Enter date in 'yyyy/mm/dd' format (empty field means current date) or click to choose it from calendar"}>
                {trans("to")} <INPUT class="form-control form-control-sm" TYPE="text" NAME="to" maxlength="10" placeholder="{trans("yyyy/mm/dd")}" {tip class="calendar" text="Enter date in 'yyyy/mm/dd' format (empty field means current date) or click to choose it from calendar"}>
                <A class="btn btn-sm btn-danger" href="javascript:document.invoicereport.submit();">{trans("Save")}</A>
            </div>
        </div>
    </FORM>
    <FORM class="form-inline" method="post" name="receiptlist" id="receiptlist" action="?m=export&amp;type=cash">
        <INPUT type="submit" class="hiddenbtn">
        <div class="card">
            <div class="card-header">
                {trans("Cash Report")}
            </div>
            <div class="card-block">
                {trans("Registry:")}
                <SELECT class="form-control form-control-sm" NAME="registry" {tip text="Select cash registry"}>
                    <OPTION VALUE="0">{trans("- select registry -")}</OPTION>
                        {foreach from=$cashreglist item=c}
                        <OPTION VALUE="{$c.id}">{$c.name|truncate:40:"...":true} ({$c.id|string_format:"%04d"})</OPTION>
                        {/foreach}
                </SELECT>

                {trans("Period:")}
                {trans("From")}&nbsp;<INPUT class="form-control form-control-sm" TYPE="text" NAME="from" SIZE="10" maxlength="10" placeholder="{trans("yyyy/mm/dd")}" {tip class="calendar" text="Enter date in 'yyyy/mm/dd' format (empty field means current date) or click to choose it from calendar"}>
                {trans("To")}&nbsp;<INPUT class="form-control form-control-sm" TYPE="text" NAME="to" SIZE="10" maxlength="10" placeholder="{trans("yyyy/mm/dd")}" {tip class="calendar" text="Enter date in 'yyyy/mm/dd' format (empty field means current date) or click to choose it from calendar"}>

                {trans("User:")}
                <SELECT class="form-control form-control-sm"name="user" {tip text="You can select user to limit results"}>
                    <OPTION value="">{trans("- all users -")}</OPTION>
                        {section name="users" loop=$users}
                        <OPTION value="{$users[users].id}">{$users[users].name|truncate:40:"...":true}</OPTION>
                        {/section}
                </SELECT>


                <A class="btn btn-sm btn-danger" href="javascript:document.receiptlist.submit();">{trans("Save")}</A>
            </div>
        </div>
    </FORM>
{/block}
