<nav>
    <ul class="pagination">
        {if $pagination->getPage() > 1}
            <li class="page-item">
                <a class="page-link" href="?m={$layout.module}&amp;page={$pagination->getPreviousPage()}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {/if}

        {section name=pagination loop=$pagination->getPages()+1 step=1 start=1}
            {if $pagination->getPage() == $smarty.section.pagination.index}
                <li class="page-item active">
                    <a class="page-link" href="#">{$smarty.section.pagination.index} <span class="sr-only">(current)</span></a>
                </li>
            {else}
                {if $pagination->displayLink($smarty.section.pagination.index)}
                    <li class="page-item">
                        <a class="page-link" href="?m={$layout.module}&amp;page={$smarty.section.pagination.index}">{$smarty.section.pagination.index}</a>
                    </li>
                {/if}
                {if !$pagination->displayLink($smarty.section.pagination.index) && $pagination->displayLink($smarty.section.pagination.index + 1)}
                    <li class="page-item disabled">
                        <a class="page-link" href="#"> &hellip; <span class="sr-only">(hellip)</span></a>
                    </li>
                {/if}
            {/if}
        {/section}

        {if $pagination->getPage() < $pagination->getPages()}
            <li class="page-item">
                <a class="page-link" href="?m={$layout.module}&amp;page={$pagination->getNextPage()}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        {/if}
    </ul>
</nav>
