{extends file="layout.html"}
{block name="module_content"}
    <!--// $Id$ //-->
    <script type="text/javascript">
    <!--
        function togglePlugin(name, enable) {
            document.forms['plugins'].elements['plugins[name]'].value = name;
            document.forms['plugins'].elements['plugins[toggle]'].value = (enable ? 1 : 0);
            document.plugins.submit();
        }
    //-->
    </script>
    <H1>{$layout.pagetitle}</H1>
    <FORM name="plugins" method="post" action="?m=pluginlist">
        <INPUT type="submit" class="hiddenbtn">
        <INPUT type="hidden" name="plugins[name]" value="">
        <INPUT type="hidden" name="plugins[toggle]" value="">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-inverse">
                <TR>
                    <th>
                        {trans("Plugin Name:")}<br>
                        {trans("Description:")}
                    </th>
                    <th>{trans("Author:")}</th>
                    <th>{trans("Modern:")}</th>
                    <th>
                        {trans("Current DB Schema Version:")}<br>
                        {trans("DB Schema Version:")}
                    </th>
                    <th>{trans("Priority:")}</th>
                    <th>{trans("Enabled:")}</th>
                </TR>
            </THEAD>
            <TBODY>
                {foreach $plugins as $name => $plugin}
                    <TR class="{if !$plugin.enabled} text-muted{/if}">
                        <TD>
                            <a href="#" onClick="javascript:togglePlugin('{$name}', {if $plugin.enabled}false{else}true{/if});"">{if $plugin.fullname}{$plugin.fullname}{else}{$name}{/if}</a><br>
                            {$plugin.description}
                        </TD>
                        <TD>
                            {$plugin.author}
                        </TD>
                        <TD>
                    {if $plugin.new_style}{trans("yes")}{else}{trans("no")}{/if}
                </TD>
                <TD>
            {if $plugin.dbcurrschversion}{$plugin.dbcurrschversion}{else}{if $plugin.new_style}-{/if}{/if}<br>
    {if $plugin.dbschversion}{$plugin.dbschversion}{else}{if $plugin.new_style}-{/if}{/if}
</TD>
<TD>
{if $plugin.priority == LMSPluginManager::LAST_PRIORITY}{trans("minimal")}{else}{$plugin.priority}{/if}
</TD>
<TD>
    {if $plugin.enabled}
        <a class="btn btn-sm btn-success" onclick="javascript:togglePlugin('{$name}', false);">{trans("Disable")}</a>
    {else}
        <a class="btn btn-sm btn-secondary" onclick="javascript:togglePlugin('{$name}', true);">{trans("Enable")}</a>
    {/if}
</TD>
</TR>
{/foreach}
</TBODY>
</TABLE>
</FORM>
{/block}
