<div class="p-t-1 p-b-1">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-sm btn-secondary" href="?m=welcome" title="{trans('Basic system information')}"><i class="fa fa-home fa-lg"></i></a>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-sm btn-success" href="?m=messageadd" title="{trans('Allows you to send messages to customers')}"><i class="fa fa-envelope-o fa-lg"></i></a>
        <a class="btn btn-sm btn-primary" href="?m=rtqueuelist" title="{trans('Requests Tracking')}"><i class="fa fa-ticket fa-lg"></i></a>
        <a class="btn btn-sm btn-success" href="?m=documentadd" title="{trans('Allows you to add new document')}"><i class="fa fa-file-o fa-lg"></i></a>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-sm btn-primary" href="?m=customerlist" title="{trans('List of Customers')}"><i class="fa fa-users fa-lg"></i></a>
        <a class="btn btn-sm btn-success" href="?m=customeradd" title="{trans('Allows you to add new customer')}"><i class="fa fa-plus fa-lg"></i></a>
        <a class="btn btn-sm btn-warning" href="?m=customerwarn" title="{trans('Allows you to send notices to customers')}"><i class="fa fa-exclamation fa-lg"></i></a>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-sm btn-primary" href="?m=nodelist" title="{trans('List of nodes')}"><i class="fa fa-laptop fa-lg"></i></a>
        <a class="btn btn-sm btn-success" href="?m=nodeadd" title="{trans('Allows you to add new node')}"><i class="fa fa-plus fa-lg"></i></a>
        <a class="btn btn-sm btn-warning" href="?m=nodewarn" title="{trans('Allows you to send notices to customers')}"><i class="fa fa-exclamation fa-lg"></i></a>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-sm btn-primary" href="?m=eventlist" title="{trans('Timetable')}"><i class="fa fa-calendar fa-lg"></i></a>
        <a class="btn btn-sm btn-success" href="?m=eventlist" title="{trans('New Event Addition')}"><i class="fa fa-plus fa-lg"></i></a>
        <a class="btn btn-sm btn-secondary" href="?m=traffic&amp;bar=day" title="{trans('Last day stats for all networks')}"><i class="fa fa-bar-chart-o fa-lg"></i></a>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-sm btn-success" href="?m=balancenew" title="{trans('Add new financial operation')}"><i class="fa fa-money fa-lg"></i></a>
        <a class="btn btn-sm btn-success" href="?m=receiptadd" title="{trans('Generate cash receipt')}"><i class="fa fa-sticky-note-o fa-lg"></i></a>
        <a class="btn btn-sm btn-success" href="?m=invoicenew" title="{trans('Generate invoice')}"><i class="fa fa-list-alt fa-lg"></i></a>
    </div>

    <div class="btn-group pull-xs-right" role="group" aria-label="Basic example">
        <a class="btn btn-sm btn-secondary" href="?m=invoicenew" title="{trans('Reload')}"><i class="fa fa-refresh fa-lg"></i></a>
        <a class="btn btn-sm btn-danger" href="?m=logout&amp;is_sure=1" title="{trans('Allows you to logout')}"><i class="fa fa-sign-out fa-lg"></i></a>
    </div>
</div>