<!--// $Id$ //-->
{*$xajax*}
<FORM name="search" method="post" action="?m=archiveview">
    <INPUT type="submit" class="hiddenbtn">
    <INPUT type="hidden" name="search[resourcetype]" value="{$resourcetype}">
    <INPUT type="hidden" name="search[resourceid]" value="{$resourceid}">
    <INPUT type="hidden" name="search[userid]" value="{$userid}">

    <div class="card">
        <div class="card-header">
            <A class="btn btn-sm btn-primary" name="transactions">{trans("Show")}&nbsp;{t a=20}last $a transactions{/t}</A>
            <A class="btn btn-sm btn-secondary" href="javascript:document.search.submit();">{trans("Show more transactions")}</A>
        </div>
        <div class="card-block">
            {if $transactions}
                <TABLE class="table table-bordered table-hover table-striped" id="transactiontable">
                    <THEAD class="thead-inverse">
                        <TR>
                            <th>{trans("Date")}</th>
                            <th>{trans("User")}</th>
                            <th>{trans("Module")}</th>
                            <th>{trans("Operations")}</th>
                        </TR>
                    </THEAD>
                    <TBODY>
                        {foreach $transactions as $tr}
                            <TR>
                                <TD>
                                    {$tr.time|date_format:"Y.m.d H:i:s"}
                                </TD>
                                <TD>
                                    <a href="?m=userinfo&amp;id={$tr.userid}">{$tr.login}</a>
                                </TD>
                                <TD>
                                    {$tr.module}
                                </TD>
                                <TD>
                                    {if $tr.messages}
                                        {if count($tr.messages) > 10}{$start = 9 - count($tr.messages)}...<br>
                                        {else}
                                            {$start=-1}
                                        {/if}
                                        {section name=messages loop=$tr.messages start=$start step=-1}
                                            {$message = $tr.messages[messages]}
                                            <strong>{$_SYSLOG_RESOURCES[$message.resource]}: {$_SYSLOG_OPERATIONS[$message.operation]}</strong>
                                            {foreach $message.keys as $key => $msgkey}
                                                {$key}:
                                                {if $msgkey.value}
                                                    <a href="?m=archiveinfo&amp;type={$msgkey.type}&amp;id={$msgkey.value}&amp;date={$tr.time}">
                                                    {/if}
                                                    {$msgkey.value}
                                                    {if $msgkey.value}
                                                    </a>
                                                {/if}
                                                {if !$msgkey@last}
                                                    ,
                                                {/if}
                                            {/foreach}
                                            {foreach $message.data as $key => $value}
                                                {$key}: {$value}
                                                {if !$value@last}
                                                    ,
                                                {/if}
                                            {/foreach}
                                            {if !$messages@last}
                                                <br>
                                            {/if}
                                        {/section}
                                    {/if}
                                </TD>
                            </TR>
                        {/foreach}
                    </TBODY>
                </TABLE>
            {else}
                {trans("No such transactions in database.")}
            {/if}
        </div>
    </div>
</FORM>

