{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <H1>{$layout.pagetitle}</H1>
        {if $invoice.invoice}
        <SCRIPT type="text/javascript">
            <!--
            window.open('?m=invoice&amp;id={$invoice.invoice}&amp;original={$invoice.original}&copy={$invoice.copy}&duplicate={$invoice.duplicate}');
            //-->
        </SCRIPT>
    {/if}
    <SCRIPT type="text/javascript">
        <!--
        function pays()
        {
            if (!confirm('{trans("Are you sure, you want to check/uncheck selected invoices as accounted?")}'))
                return;
            document.page.action = "?m=invoicepaid";
            document.page.target = "";
            document.page.submit();
        }

        function prints()
        {
            var add = "";
            if (document.page.original.checked)
                add = "&amp;original=1";
            if (document.page.copy.checked)
                add += "&copy=1";
            if (document.page.duplicate.checked)
                add += "&duplicate=1";

            document.page.action = "?m=invoice&print=cached" + add;
            document.page.target = "_blank";
            document.page.submit();
        }

        function send_invoices() {
            document.page.action = "?m=invoicesend&marks=invoice";
            document.page.target = "_blank";
            document.page.submit();
        }

        function filter()
        {
            document.page.action = "?m=invoicelist";
            document.page.target = "";
            document.page.submit();
        }

        {if ConfigHelper::checkConfig('phpui.short_pagescroller')}
        function pagechange1()
        {
            document.page.action = "?m=invoicelist&page=" + document.forms['page'].elements['page1'].value;
            document.page.target = "";
            document.page.submit();
        }
        function pagechange2()
        {
            document.page.action = "?m=invoicelist&page=" + document.forms['page'].elements['page2'].value;
            document.page.target = "";
            document.page.submit();
        }
        {/if}
        //-->
    </SCRIPT>
    {$default_printpage = ConfigHelper::getConfig('invoices.default_printpage')}
    <FORM class="form-inline" METHOD="POST" NAME="page">
        <INPUT type="submit" class="hiddenbtn">
        <TR>
        <INPUT class="form-control form-control-sm" type="text" name="search" value="{$listdata.search}" placeholder="{trans('Enter value of searching data and select category')}">
        <SELECT class="form-control form-control-sm" name="cat">
            <OPTION value=""{if $listdata.cat == ""} SELECTED{/if}>{trans("- select filter category -")}</OPTION>
            <OPTION value="cdate"{if $listdata.cat == "cdate"} SELECTED{/if}>{trans("day (YYYY/MM/DD)")}</OPTION>
            <OPTION value="month"{if $listdata.cat == "month"} SELECTED{/if}>{trans("month (YYYY/MM)")}</OPTION>
            <OPTION value="number"{if $listdata.cat == "number"} SELECTED{/if}>{trans("number")}</OPTION>
            <OPTION value="value"{if $listdata.cat == "value"} SELECTED{/if}>{trans("value")}</OPTION>
            <OPTION value="name"{if $listdata.cat == "name"} SELECTED{/if}>{trans("customer name")}</OPTION>
            <OPTION value="customerid"{if $listdata.cat == "customerid"} SELECTED{/if}>{trans("customer ID")}</OPTION>
            <OPTION value="ten"{if $listdata.cat == "ten"} SELECTED{/if}>{trans("TEN")}</OPTION>
            <OPTION value="address"{if $listdata.cat == "address"} SELECTED{/if}>{trans("address")}</OPTION>
            <OPTION value="cnotes"{if $listdata.cat == "cnotes"} SELECTED{/if}>{trans("show only credit notes")}</OPTION>
        </SELECT>

        {trans("Group:")}
        <SELECT class="form-control form-control-sm" name="group">
            <OPTION value="0"{if !$listdata.group} SELECTED{/if}>{trans("- all groups -")}</OPTION>
                {section name="grouplist" loop=$grouplist}
                <OPTION value="{$grouplist[grouplist].id}"{if $listdata.group == $grouplist[grouplist].id} SELECTED{/if}>{$grouplist[grouplist].name|truncate:30:"...":true}</OPTION>
                {/section}
        </SELECT>
        <INPUT class="form-control form-control-sm" type="checkbox" name="groupexclude" id="groupexclude"{if $listdata.groupexclude} CHECKED{/if}><label for="groupexclude">{trans("exclude group")}</label>
        <INPUT class="form-control form-control-sm" type="checkbox" name="hideclosed" id="hideclosed"{if $listdata.hideclosed} CHECKED{/if}><label for="hideclosed">{trans("hide accounted<!plural>")}</label>
        <A class="btn btn-sm btn-primary" href="javascript:filter();">{trans("Search")}</A>
    </form>

    {if $listdata.total != 0}
        {include file="scroller.html" loop=$invoicelist scrollerno=1}
    {/if}

    <TABLE class="table table-bordered table-striped table-hover">
        <THEAD class="thead-inverse">
            <TR>
                <th>
                    <A href="?m=invoicelist&amp;o=id{if $listdata.direction == "asc" && $listdata.order == "id"},desc{/if}">{trans("ID:")}</A> {if $listdata.order == "id"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                </th>
                <th>
                    <A href="?m=invoicelist&amp;o=cdate{if $listdata.direction == "asc" && $listdata.order == "cdate"},desc{/if}">{trans("Date:")}</A> {if $listdata.order == "cdate"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                </th>
                <th>
                    <A href="?m=invoicelist&amp;o=number{if $listdata.direction == "asc" && $listdata.order == "number"},desc{/if}">{trans("Number:")}</A> {if $listdata.order == "number"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                </th>
                <th>
                    <A href="?m=invoicelist&amp;o=value{if $listdata.direction == "asc" && $listdata.order == "value"},desc{/if}">{trans("Value:")}</A> {if $listdata.order == "value"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                </th>
                <th>
                    <A href="?m=invoicelist&amp;o=count{if $listdata.direction == "asc" && $listdata.order == "count"},desc{/if}">{trans("Items:")}</A> {if $listdata.order == "count"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                </th>
                <th>
                    <A href="?m=invoicelist&amp;o=name{if $listdata.direction == "asc" && $listdata.order == "name"},desc{/if}">{trans("For:")}</A> {if $listdata.order == "name"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
                </th>
                <th>
                    &nbsp;
                </th>
            </TR>
        </thead>
        <TBODY>
            {section name=invoicelist loop=$invoicelist start=$start max=$pagelimit}
                {assign var=invoice value=$invoicelist[invoicelist]}
                {assign var=invoiceid value=$invoice.id}
                <TR class="{if $invoice.closed} text-success{elseif $invoice.cancelled} text-muted{/if}">
                    <TD>
                        {$invoice.id|string_format:"%06d"}
                    </TD>
                    <TD>
                        {$invoice.cdate|date_format:"%Y/%m/%d %H:%M"}
                    </TD>
                    <TD>
                        {number number=$invoice.number template=$invoice.template time=$invoice.cdate assign=number}{$number}
                    </TD>
                    <TD>
                        {$invoice.value|money_format}
                    </TD>
                    <TD>
                        {$invoice.count}
                    </TD>
                    <TD>
                        <A HREF="?m=customerinfo&amp;id={$invoice.customerid}"{if $invoice.closed} class="text-success"{/if}>
                            {$invoice.name}
                        </A><br>{$invoice.address}, {$invoice.zip} {$invoice.city}{if $invoice.country != ""}, {t}{$invoice.country}{/t}{/if}
                    </TD>
                    <TD>
                        {foreach $invoice.customlinks as $link}
                            <A class="btn btn-sm btn-secondary" href="{$link.url}" rel="external"{if isset($link.onclick)} onclick="{$link.onclick}"{/if}>
                            {if isset($link.icon)}<IMG src="{$link.icon}" alt="[ {$link.label} ]" {$link.tip}>{else}{$link.label}{/if}</A>
                        {/foreach}

                    {if $invoice.sendinvoices && ($invoice.type == $smarty.const.DOC_INVOICE || $invoice.type == $smarty.const.DOC_CNOTE)}
                        <A class="btn btn-sm btn-secondary" href="?m=invoicesend&id={$invoice.id}" target="_blank" OnClick="return confirmLink(this, '{t a=$invoice.name|escape:"javascript"|escape:"html"}Are you sure, you want to send invoice to customer \'$a\'?{/t}');" title="[ {trans("Send invoice")} ]"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></A>
                        {/if}

                    {if $invoice.type == $smarty.const.DOC_INVOICE}
                        <A class="btn btn-sm btn-warning" HREF="?m=invoicenote&amp;id={$invoice.id}&amp;action=init" title="{trans("Revise")}"><i class="fa fa-fw fa-wrench"></i></A>
                            {if ! $invoice.closed}
                            <A class="btn btn-sm btn-danger" onClick="return confirmLink(this, '{t a=$number}Are you sure, you want to remove invoice \'$a\' from database?{/t}')" HREF="?m=invoicedel&amp;id={$invoice.id}" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                            {/if}
                        {/if}

                    {if !$invoice.closed}
                        {if $invoice.type == $smarty.const.DOC_CNOTE}
                            <A class="btn btn-sm btn-danger" onClick="return confirmLink(this, '{t a=$number}Are you sure, you want to remove credit note \'$a\' from database?{/t}')" HREF="?m=invoicedel&amp;id={$invoice.id}" title="{trans("Delete")}"><i class="fa fa-fw fa-trash"></i></A>
                            {/if}

                        {if $invoice.type == $smarty.const.DOC_INVOICE}
                            <A class="btn btn-sm btn-primary" HREF="?m=invoiceedit&amp;id={$invoice.id}&amp;action=edit" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                            {elseif $invoice.type == $smarty.const.DOC_CNOTE}
                            <A class="btn btn-sm btn-primary" HREF="?m=invoicenoteedit&amp;id={$invoice.id}&amp;action=edit" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></A>
                            {/if}
                        {/if}

                    {if !$invoice.cancelled}
                        <a class="btn btn-sm btn-success" onClick="return confirmLink(this, '{t a=$number}Are you sure, you want to cancel invoice \'$a\' from database?{/t}')" href="?m=invoicecancel&amp;id={$invoice.id}" title="{trans("Cancel")}"><i class="fa fa-fw fa-toggle-off"></i></A>
                        {elseif $invoice.cancelled}
                        <a class="btn btn-sm btn-secondary" onClick="return confirmLink(this, '{t a=$number}Are you sure, you want to recover cancelled invoice \'$a\' from database?{/t}')" href="?m=invoicecancel&amp;id={$invoice.id}&recover=1" title="{trans("Recover")}"><i class="fa fa-fw fa-toggle-on"></i></A>
                        {/if}

                    {if $invoice.type == $smarty.const.DOC_INVOICE}
                        <A class="btn btn-sm btn-secondary" HREF="?m=invoice&amp;id={$invoice.id}" TARGET="_blank" title="{trans("Print")}"><i class="fa fa-fw fa-print"></i></A>
                        {/if}

                    {if $invoice.type == $smarty.const.DOC_CNOTE}
                        <A class="btn btn-sm btn-secondary" HREF="?m=invoice&amp;id={$invoice.id}" TARGET="_blank" title="{trans("Print")}"><i class="fa fa-fw fa-print"></i></A>
                        {/if}
                    <INPUT class="btn btn-secondary" TYPE="checkbox" NAME="marks[{$invoice.id}]" VALUE="{$invoice.id}"{if $marks.$invoiceid}CHECKED{/if}>
                </TD>
            </TR>
        {sectionelse}
            <TR>
                <TD COLSPAN="7">
                    {trans("No such invoices in database.")}
                </TD>
            </TR>
        {/section}
    </TBODY>
</table>
{if $listdata.total != 0}
    {include file="scroller.html" loop=$invoicelist scrollerno=2}
{/if}
<hr>
<A class="btn btn-sm btn-primary" HREF="javascript:pays();">{trans("Check/Uncheck as accounted")}</A>

<A class="btn btn-sm btn-warning" HREF="javascript:send_invoices();" OnClick="return confirm('{t}Are you sure, you want to send invoices to customers?{/t}');">{trans("Send invoices")}</A>

<label class="btn btn-sm btn-secondary pull-xs-right" for="allbox">{trans("Check All")}
    <INPUT TYPE="checkbox" NAME="allbox" id="allbox" onchange="CheckAll('page', this, ['original', 'duplicate', 'copy', 'groupexclude', 'hideclosed'])" VALUE="1">
</label>

<hr>

<div class="btn-group" role="group" aria-label="prints">
    <A class="btn btn-sm btn-secondary" HREF="javascript:prints();">{trans("Print")}</A>

    <label class="btn btn-sm btn-secondary" for="original">{trans("original")}
        <INPUT type="checkbox" name="original" id="original"{if preg_match('/original/i', $default_printpage)} checked{/if}>
    </label>

    <label class="btn btn-sm btn-secondary" for="copy">{trans("copy")}
        <INPUT type="checkbox" name="copy" id="copy"{if preg_match('/copy/i', $default_printpage)} checked{/if}>
    </label>

    <label class="btn btn-sm btn-secondary" for="duplicate">{trans("duplicate")}
        <INPUT type="checkbox" name="duplicate" id="duplicate"{if preg_match('/duplicate/i', $default_printpage)} checked{/if}>
    </label>
</div>

{/block}
