{if !ConfigHelper::checkPrivilege('hide_sysinfo')}
    <div class="card">
        <div class="card-header" onclick="showOrHide('welcome_sysinfo_about_lms-{$layout.module}');" >
            <img src="img/logo-ico.gif" alt=""> {trans("About LMS")}
        </div>
        <div class="card-block" id="welcome_sysinfo_about_lms-{$layout.module}" style="display:none;">
            <ul>
                <li><a href="http://www.lms.org.pl" rel="external">{trans("LMS version:")}</a> {$layout.lmsv}{if $layout.lmsvr} ({$layout.lmsvr}){/if}</li>
                <li><a href="http://www.lms.org.pl" rel="external">{trans("LMSDB version:")}</a> {$layout.lmsdbv}</li>
                <li>
                    {if $layout.dbtype == "mysql" || $layout.dbtype == "mysqli"}
                        <a href="http://www.mysql.com" rel="external">{trans("MySQL version:")}</a>
                    {elseif $layout.dbtype == "postgres"}
                        <a href="http://www.postgresql.org" rel="external">{trans("PostgreSQL version:")}</a>
                    {/if}
                    {$layout.dbversion}
                </li>
                <li><a href="http://www.php.net/" rel="external">{trans("PHP version:")}</a> {$sysinfo.phpversion}</li>
                <li><a href="http://www.smarty.net" rel="external">{trans("Smarty version:")}</a> {$layout.smarty_version}</li>
            </ul>

            <ul>
                {foreach $layout.plugins as $plugin_name => $plugin}
                    {if $plugin.enabled}
                        <li>
                            {$plugin_name}DB: {if $plugin.dbschversion}{$plugin.dbschversion}{else}-{/if}
                        </li>
                    {/if}
                {/foreach}
            </ul>
        </div>
    </div>

    <script type="text/javascript">
    if (getCookie('welcome_sysinfo_about_lms-{$layout.module}') == '1') {
        document.getElementById('welcome_sysinfo_about_lms-{$layout.module}').style.display = '';
    }
    </script>
{/if}
