{if !ConfigHelper::checkPrivilege('hide_summaries')}
    <div class="card">
        <div class="card-header">
            <i class="fa fa-users" aria-hidden="true"></i> {trans("Customers")}
        </div>
        <div class="card-block">
            <ul class="list-group">
                {foreach $_CSTATUSES as $statusidx => $status}
                    <li class="list-group-item">
                        <a href="?m=customerlist&amp;s={$statusidx}">{$status.summarylabel}</a> <strong>{$alias=$status.alias} {$customerstats.$alias}</strong>
                    </li>
                {/foreach}
                <li class="list-group-item">
                    <a href="?m=customerlist&amp;s=0">{trans("Total:")}</a> <strong>{$customerstats.total}</strong>
                    {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_finances')}
                        <a href="?m=customerlist&amp;s=52">{trans("Total Dues:")}</a> <strong>{$customerstats.debt} ({trans("amount")} {$customerstats.debtvalue|money_format})</strong>
                    {/if}
                </li>
                {if $customerschanges}
                    <li class="list-group-item">
                        <a href="?m=userpanel&module=info&f=changes">{trans("Changes of customers waiting for approval:")}</a> <strong>{$customerschanges}</strong>
                    </li>
                {/if}
            </ul>
        </div>
    </div>
{/if}
