{if !ConfigHelper::checkPrivilege('hide_sysinfo')}
    <div class="card">
        <div class="card-header" onclick="showOrHide('welcome_sysinfo_about_system-{$layout.module}');" >
            <i class="fa fa-info-circle" aria-hidden="true"></i> {trans("About system")}
        </div>
        <div class="card-block" id="welcome_sysinfo_about_system-{$layout.module}" style="display:none;">
            <ul>
                <li>
                    {trans("Hostname:")} <strong>{$sysinfo.hostname}</strong>
                </li>
                <li>
                    {trans("System version:")} <strong>{$sysinfo.kernel}</strong>
                </li>
                <li>
                    {trans("Uptime:")} <strong>{$sysinfo.uptime}</strong>
                </li>
                <li>
                    {trans("Users logged in:")} <strong>{$sysinfo.users}</strong>
                </li>
                <li>
                    {trans("Load:")} <strong>{$sysinfo.loadavg.0} {$sysinfo.loadavg.1} {$sysinfo.loadavg.2}</strong>
                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        if (getCookie('welcome_sysinfo_about_system-{$layout.module}') == '1') {
            document.getElementById('welcome_sysinfo_about_system-{$layout.module}').style.display = '';
        }
    </script>
{/if}
