{if $rtstats}
    {foreach from=$rtstats item=rtcategorystats}
        <div class="card">
            <div class="card-header">
                <i class="fa fa-ticket" aria-hidden="true"></i> <a href="?m=rtticketadd&amp;catid={$rtcategorystats.id}" {tip text="Add new ticket" trigger="newticket"}>{trans("Add new ticket")}</a>&nbsp;{trans("Helpdesk:")}&nbsp;<a href="?m=rtqueueview&amp;catid={$rtcategorystats.id}">{$rtcategorystats.name}</a>
            </div>
            <div class="card-block">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="?m=rtqueueview&amp;catid={$rtcategorystats.id}&amp;s=0&amp;o=lastmodified,desc">{trans("New:")}</a> <strong>{$rtcategorystats.new|default:"0"}</strong>
                    </li>
                    <li class="list-inline-item">
                        <a href="?m=rtqueueview&amp;catid={$rtcategorystats.id}&amp;s=1&amp;o=lastmodified,desc">{trans("Opened:")}</a> <strong>{$rtcategorystats.opened|default:"0"}</strong>
                    </li>
                    <li class="list-inline-item">
                        <a href="?m=rtqueueview&amp;catid={$rtcategorystats.id}&amp;s=3&amp;o=lastmodified,desc">{trans("Dead:")}</a> <strong>{$rtcategorystats.dead|default:"0"}</strong>
                    </li>
                    <li class="list-inline-item">
                        <a href="?m=rtqueueview&amp;catid={$rtcategorystats.id}&amp;s=-1&amp;o=lastmodified,desc">{trans("Unresolved:")}</a> <strong>{$rtcategorystats.unresolved|default:"0"}</strong>
                    </li>
                    <li class="list-inline-item">
                        <a href="?m=rtqueueview&amp;catid={$rtcategorystats.id}&amp;s=2&amp;o=lastmodified,desc">{trans("Resolved:")}</a> <strong>{$rtcategorystats.resolved|default:"0"}</strong>
                    </li>
                    <li class="list-inline-item">
                        <a href="?m=rtqueuelist">{trans("Total:")}</a> <strong>{math equation="a+b+c+d" a=$rtcategorystats.opened b=$rtcategorystats.new c=$rtcategorystats.dead d=$rtcategorystats.resolved}</strong>
                    </li>
                </ul>
            </div>
        </div>
    {/foreach}
{/if}
