{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}



    {if $sysinfo.loadavg.0 > 1}
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-triangle fa-lg fa-fw"></i> {trans("CPU load")}: <strong>{$sysinfo.loadavg.0}</strong>
        </div>
    {elseif ($sysinfo.loadavg.0 >= 0.5 and $sysinfo.loadavg.0 <= 1)}
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-exclamation-triangle fa-lg fa-fw"></i> {trans("CPU load")}: <strong>{$sysinfo.loadavg.0}</strong>
        </div>
    {else}
    {/if}



    {if $customerschanges>0}
        <div class="alert alert-info" role="alert">
            <i class="fa fa-info-circle fa-lg fa-fw"></i> <a class="alert-link" href="?m=userpanel&module=info&f=changes">{trans("Changes of customers waiting for approval:")} <strong>{$customerschanges}</strong></a>
        </div>
    {/if}

    <div class="row m-b-1">
        <div class="col-sm-12">
            <a class="btn btn-sm btn-primary text-center" href="#"><h1>7</h1>{trans("New tasks for today!")}</a>
            <a class="btn btn-sm btn-primary text-center" href="#"><h1>3</h1>{trans("Documents not approved!")}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h3 class="card-header">
                    <i class="fa fa-users fa-fw" aria-hidden="true"></i> {trans("Customers")}
                </h3>
                <div class="card-block">
                    {foreach $_CSTATUSES as $statusidx => $status}
                        <a class="btn btn-sm btn-secondary text-center" href="?m=customerlist&amp;s={$statusidx}"><h4 class="font-weight-bold m-a-0 p-a-0">{$alias=$status.alias} {$customerstats.$alias}</h4><small>{$status.summarylabel}</small></a>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <h3 class="card-header">
                    <i class="fa fa-desktop fa-fw" aria-hidden="true"></i> {trans("Nodes")}
                </h3>
                <div class="card-block">
                    <a class="btn btn-sm btn-primary text-center" href="?m=nodelist&amp;s=3"><h4 class="font-weight-bold m-a-0 p-a-0">{$nodestats.online}</h4><small>{trans("Online")}</small></a>
                    <a class="btn btn-sm btn-success text-center" href="?m=nodelist&amp;s=1"><h4 class="font-weight-bold m-a-0 p-a-0">{$nodestats.connected}</h4><small>{trans("Connected<!nodes>")}</small></a>
                    <a class="btn btn-sm btn-warning text-center" href="?m=nodelist&amp;s=7"><h4 class="font-weight-bold m-a-0 p-a-0">{$nodestats.withwarning}</h4><small>{trans("With warning")}</small></a>                   
                    <a class="btn btn-sm btn-danger text-center" href="?m=nodelist&amp;s=2"><h4 class="font-weight-bold m-a-0 p-a-0">{$nodestats.disconnected}</h4><small>{trans("Disconnected")}</small></a>
                    <a class="btn btn-sm btn-secondary text-center" href="?m=nodelist&amp;s=5"><h4 class="font-weight-bold m-a-0 p-a-0">{$nodestats.withoutterryt}</h4><small>{trans("TERRIT not specified")}</small></a>
                    <a class="btn btn-sm btn-secondary text-center" href="?m=nodelist&amp;s=6"><h4 class="font-weight-bold m-a-0 p-a-0">{$nodestats.withoutnetdev}</h4><small>{trans("Net Device not specified")}</small></a>
                </div>
            </div>
        </div>                
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h3 class="card-header">
                    <i class="fa fa-ticket fa-fw" aria-hidden="true"></i> {trans("Tickets")}
                </h3>
                <div class="card-block">
                    {foreach from=$rtstats item=rtcategorystats}
                        <p>{trans("Category")}: <strong>{$rtcategorystats.name}</strong></p>
                        <a class="btn btn-sm btn-{if $rtcategorystats.new>0}danger{else}secondary{/if} text-center" href="?m=rtqueueview&amp;catid={$rtcategorystats.id}&amp;s=0&amp;o=lastmodified,desc"><h4 class="font-weight-bold m-a-0 p-a-0">{$rtcategorystats.new|default:"0"}</h4><small>{trans("New:")}</small></a>
                        <a class="btn btn-sm btn-{if $rtcategorystats.new>0}primary{else}secondary{/if} text-center" href="?m=rtqueueview&amp;catid={$rtcategorystats.id}&amp;s=1&amp;o=lastmodified,desc"><h4 class="font-weight-bold m-a-0 p-a-0">{$rtcategorystats.opened|default:"0"}</h4><small>{trans("Opened:")}</small></a>
                        <a class="btn btn-sm btn-{if $rtcategorystats.dead>0}danger{else}secondary{/if} text-center" href="?m=rtqueueview&amp;catid={$rtcategorystats.id}&amp;s=3&amp;o=lastmodified,desc"><h4 class="font-weight-bold m-a-0 p-a-0">{$rtcategorystats.dead|default:"0"}</h4><small>{trans("Dead:")}</small></a>
                        <a class="btn btn-sm btn-{if $rtcategorystats.unresolved>0}warning{else}secondary{/if} text-center" href="?m=rtqueueview&amp;catid={$rtcategorystats.id}&amp;s=-1&amp;o=lastmodified,desc"><h4 class="font-weight-bold m-a-0 p-a-0">{$rtcategorystats.unresolved|default:"0"}</h4><small>{trans("Unresolved:")}</small></a>
                        <hr>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <h3 class="card-header">
                    <i class="fa fa-line-chart fa-fw" aria-hidden="true"></i> {trans("Summaries")}
                </h3>
                <div class="card-block">
                    <a class="btn btn-sm btn-secondary text-center" href="?m=customerlist&amp;s=0"><h4 class="font-weight-bold m-a-0 p-a-0">{$customerstats.total}</h4><small>{trans("Total customers")}</small></a>
                            {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_finances')}
                        <a class="btn btn-sm btn-secondary text-center" href="?m=customerlist&amp;s=52" title="{trans("Total debt amount")}: -{$customerstats.debtvalue|money_format}"><h4 class="font-weight-bold m-a-0 p-a-0">{$customerstats.debt}</h4><small>{trans("Customers in debt")}</small></a>
                            {/if}
                    <a class="btn btn-sm btn-secondary text-center" href="?m=nodelist"><h4 class="font-weight-bold m-a-0 p-a-0">{$nodestats.total}</h4><small>{trans("Total nodes")}</small></a>
                </div>
            </div>
        </div>                
    </div>


    {block name="extra-panel"}
    {/block}
{/block}
