{if !ConfigHelper::checkPrivilege('hide_summaries')}
    <div class="card">
        <div class="card-header">
            <i class="fa fa-external-link" aria-hidden="true"></i> {trans("Nodes")}
        </div>
        <div class="card-block">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="?m=nodelist&amp;s=3">{trans("Online:")}</a> <strong>{$nodestats.online}</strong>
                </li>
                <li class="list-group-item">
                    <a href="?m=nodelist&amp;s=1">{trans("Connected<!nodes>:")}</a> <strong>{$nodestats.connected}</strong>
                </li>
                <li class="list-group-item">
                    <a href="?m=nodelist&amp;s=2">{trans("Disconnected:")}</a> <strong>{$nodestats.disconnected}</strong>
                </li>
                <li class="list-group-item">
                    <a href="?m=nodelist&amp;s=5">{trans("TERRIT not specified")}:</a> <strong>{$nodestats.withoutterryt}</strong>
                </li>
                <li class="list-group-item">
                    <a href="?m=nodelist&amp;s=6">{trans("Net Device not specified")}:</a> <strong>{$nodestats.withoutnetdev}</strong>
                </li>
                <li class="list-group-item">
                    <a href="?m=nodelist">{trans("Total:")}</a> <strong>{$nodestats.total}</strong>
                </li>
            </ul>
        </div>
    </div>
{/if}
