{if !ConfigHelper::checkPrivilege('hide_links')}
    <div class="card">
        <div class="card-header" onclick="showOrHide('welcome_links-{$layout.module}');" >
            <i class="fa fa-external-link" aria-hidden="true"></i> {trans("Useful Links")}
        </div>
        <div class="card-block" id="welcome_links-{$layout.module}" style="display:none;">
            <a href="http://www.lms.org.pl" rel="external">{trans("LMS Project Homepage")}</a><br>
            <a href="{$_dochref}" rel="external">{trans("Online Documentation")}</a><br>
            <a href="doc/ChangeLog" rel="external">{trans("ChangeLog")}</a><br>
            <a href="http://lists.lms.org.pl" rel="external">{trans("Mailing Lists archive")}</a><br>
            <a href="http://git.lms.org.pl" rel="external">{trans("GIT Repository")}</a><br>
            <a href="http://bts.lms.org.pl" rel="external">{trans("Bug Tracking System")}</a>
        </div>
    </div>

    <script type="text/javascript">
        if (getCookie('welcome_links-{$layout.module}') == '1') {
            document.getElementById('welcome_links-{$layout.module}').style.display = '';
        }
    </script>
{/if}
