<!DOCTYPE html>
<html>
    <head>
        <title>Cennik B2B GRYF TRANS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!-- TWITTER BOOTSTRAP RESPONSIVE -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- TWITTER BOOTSTRAP CSS -->
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen,print">
        <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen,print">
        <style>
            body {
                padding: 1em;
                margin: 1em;
                font-size: 10px;
            }
            ol li {
                line-height:10px
            }
            @page  
            { 
                size: auto;   /* auto is the initial value */ 
                /* this affects the margin in the printer settings */ 
                margin-left: 5mm;  
                margin-right: 5mm;  
                margin-top: 10mm;  
                margin-bottom: 10mm;  
            } 
            .table td,th {
                text-align: center;   
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h3>Alfa-System: internet, telewizja, telefon, monitoring</h3>
                    <h4>Załącznik nr 1 - cennik B2B</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Jednorazowe opłaty instalacyjne</strong></p>                                  
                    <table class="table table-condensed table-bordered">
                        <thead>                            
                            <tr>
                                <th>LOKALIZACJA</th>
				<th>OPŁATA</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Instalacja</td>
                            <td>984,00 zł</td>
                        </tr>   
                    </table>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Miesięczne opłaty abonamentowe</strong></p>                                  
                    <table class="table table-condensed table-bordered">
                        <thead>                            
                            <tr>
                                <th>TARYFA</th>
                                <th>CENA</th>
                                <th>PRĘDKOŚĆ<br/>POBIERANIA</th>
                                <th>PRĘDKOŚĆ<br/>WYSYŁANIA</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>B2B GRYF TRANS 50/50</td>
                            <td>123,00 zł</td>
                            <td>50 Mb/s</td>
                            <td>50 Mb/s</td>
                        </tr>
                    </table>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p>Koszty usług niewymienionych w cenniku ustalane są indywidualnie. Oferta ograniczona terytorialnie i uzależniona od możliwości technicznych dostawcy. Podane wartości oznaczają prędkości maksymalne. Podano ceny brutto.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12"><br/><br/>
                    <table class="table table-striped">
                        <tr>
                            <td height="50"></td>
                            <td><br/>&nbsp;<br/></td>
                            <td></td>
                        </tr>  
                        <tr>
                            <td style="border-top: 1px solid #999;">Data i podpis Abonenta</td>
                            <td>&nbsp;</td>
                            <td style="border-top: 1px solid #999;">Data i podpis przedstawiciela Operatora ( {$layout.logname} )</td>
                        </tr>  
                    </table>  
                </div>
            </div>
<div class="pull-right"><p class="text-muted">ID:{$sha1}</p></div>
        </div>
    </body>
</html>