<!DOCTYPE html>
<html>
    <head>
        <title>Promocja: Z rodziną taniej 2014</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!-- TWITTER BOOTSTRAP RESPONSIVE -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- TWITTER BOOTSTRAP CSS -->
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen,print">
        <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen,print">
        <style>
            body {
                padding: 1em;
                margin: 1em;
                font-size: 10px;
                line-height: 10px;
            }
            small {
                font-size: 10px
            }
            ol li {
                line-height:10px
            }
            @page  
            { 
                size: auto;   /* auto is the initial value */ 
                /* this affects the margin in the printer settings */ 
                margin-left: 5mm;  
                margin-right: 5mm;  
                margin-top: 5mm;  
                margin-bottom: 5mm;  
            } 
            ol { counter-reset: item;}
            li { display: block }
            li:before { content: counters(item, ".") ". "; counter-increment: item }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h1>Alfa-System: <small>internet, telewizja, telefon, monitoring</small></h1>
                    <h4>Załącznik nr 3: Regulamin promocji <strong>"Z rodziną taniej 2014"</strong></h4>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Zasady ogólne</strong></p>                
                    <ol>
                        <li>Organizatorem promocji "Z rodziną taniej 2014" jest ALFA-SYSTEM M. Piwowarski, A. Widera spółka jawna, ul. Lotników 6 z siedzibą w Knurowie, dalej zwaną ALFA-SYSTEM.</li>
                        <li>Przedmiotem niniejszej promocji jest:
                            <ol>
				<li>Podłączenie w drugiej i trzeciej lokalizacji usługi dostępu do Internetu.</li>
                                <li>Obniżenie miesięcznej opłaty abonamentowej o 25% dla drugiej i trzeciej lokalizacji tj.:
				    <ol>
					<li>taryfa RADIO za 44,41 zł z VAT,</li>
					<li>taryfa STANDARD za 44,41 zł z VAT,</li>
					<li>taryfa PLUS za 53,64 zł z VAT,</li>
				    </ol>
				</li>
                                <li>Obniżenie opłaty instalacyjnej:
				    <ol>
					<li>dla podłączeń kablowych 1,23 zł z VAT,</li>
					<li>dla podłączeń radiowych 246,00 zł z VAT.</li>
				    </ol>
				</li>
	                    </ol>
			</li>
			<li>Możliwość zakupu routera WiFi w promocyjnej cenie 50 zł z VAT  dla drugiej i trzeciej lokalizacji.</li>
                    </ol>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Warunki promocji</strong></p>                
                    <ol>
                        <li>Promocja "Z rodziną taniej 2014" skierowana jest do nowych klientów ALFA-SYSTEM oraz dla obecnych, którym zakończyły się umowy terminowe.</li>
                        <li>Promocja jest ważna od od 15.04.2014 do odwołania.</li>
			<li>Warunkiem niezbędnym do skorzystania z promocji jest posiadanie co najmniej jednej aktywnej umowy na usługi dostępu do Internetu.</li>
                        <li>Promocje organizowane przez ALFA-SYSTEM nie sumują się chyba, że warunki innych promocji pozwalają na taką ewentualność.</li>
                        <li>W sprawach nieuregulowanych niniejszym regulaminem zastosowanie mają przepisy Kodeksu Cywilnego.</li>
                        <li>ALFA-SYSTEM zastrzega sobie prawo zmiany oferty promocyjnej w trakcie trwania okresu promocji.</li>
                    </ol>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Oświadczam, że zapoznałem się z warunkami niniejszej promocji oraz je w pełni akceptuję.</strong></p>                                  
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-striped">
                        <tr>
                            <td height="50"></td>
                            <td><br/>&nbsp;<br/></td>
                            <td></td>
                        </tr>  
                        <tr>
                            <td style="border-top: 1px solid #999;">Data i podpis Abonenta</td>
                            <td>&nbsp;</td>
                            <td style="border-top: 1px solid #999;">Data i podpis przedstawiciela Operatora ( {$layout.logname} )</td>
                        </tr>  
                    </table>  
                </div>
            </div>
<div class="pull-right"><p class="text-muted">ID:{$sha1} {$random} ID2: {$smarty.now|md5}</p></div>

        </div>
    </body>
</html>