<!DOCTYPE html>
<html>
    <head>
        <title>Promocja "Internet z telewizją taniej 2015.06"</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!-- TWITTER BOOTSTRAP RESPONSIVE -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- TWITTER BOOTSTRAP CSS -->
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen,print">
        <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen,print">
        <style>
	    body {
		font-size: 11px; 
	    }
            small {
                font-size: 10px
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h1>Alfa-System: <small>internet, telewizja</small></h1>
                    <h4>Regulamin promocji <strong>"Internet z telewizją taniej 2015.06"</strong></h4>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Zasady ogólne</strong></p>                
                    <ol>
                        <li>Organizatorem promocji "Internet z telewizją taniej 2015.06" jest ALFA-SYSTEM M. Piwowarski, A. Widera spółka jawna, ul. Lotników 6 z siedzibą w Knurowie, dalej zwaną ALFA-SYSTEM.</li>
                        <li>Przedmiotem niniejszej promocji jest obniżenie opłaty abonamentowej przez cały okres trwania umowy.</li>
                        <li>W miesiącu, w którym ma miejsce uruchomienie usług jest miesiącem testowym dla usługi internetowej, za który nie jest pobierana opłata.</li>
		    </ol>

                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Warunki promocji</strong></p>                
                    <ol>
                        <li>Promocja "Internet z telewizją taniej 2015.06" skierowana jest do nowych klientów ALFA-SYSTEM oraz dla obecnych, którym zakończyły się umowy terminowe.</li>
                        <li>Promocja jest ważna od 1.06.2015 do odwołania.</li>
			<li>Promocja jest ograniczona terytorialnie.</li>
                        <li>Promocja dotyczy tylko umów zawartych na czas określony 24 okresy rozliczeniowe.</li>
                        <li>Promocje organizowane przez ALFA-SYSTEM nie sumują się chyba, że warunki innych promocji pozwalają na taką ewentualność.</li>
                        <li>W sprawach nieuregulowanych niniejszym regulaminem zastosowanie mają przepisy Kodeksu Cywilnego.</li>
                        <li>ALFA-SYSTEM zastrzega sobie prawo zmiany oferty promocyjnej w trakcie trwania okresu promocji.</li>
                    </ol>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Udzielone upusty do niniejszej umowy w ramach obowiązujących promocji</strong></p>
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <td>Nazwa taryfy</td>
                            <td>Cena bez promocji</td>
                            <td>Cena w promocji</td>
                            <td>Upust</td>
                            <td>Ilość</td>
                            <td>Wartość upustów</td>
                        </tr>  
                        <tr>
                            <td>STANDARD</td>
                            <td>59,22 zł</td>
                            <td>48,10 zł</td>
                            <td>11,12 zł</td>
                            <td>24</td>
                            <td>266,88 zł</td>
                        </tr>  
                        <tr>
                            <td>PLUS</td>
                            <td>71,52 zł</td>
                            <td>59,10 zł</td>
                            <td>12,42 zł</td>
                            <td>24</td>
                            <td>298,08 zł</td>
                        </tr>  
                        <tr>
                            <td>TURBO</td>
                            <td>99,90 zł</td>
                            <td>67,10 zł</td>
                            <td>32,08 zł</td>
                            <td>24</td>
                            <td>787,20 zł</td>
                        </tr>  
                    </table>
                </div>
            </div>                 


            <div class="row-fluid">
                <div class="span12">
                    <p style="margin-top:10px; border-bottom: 1px solid #000;"><strong>Urządzenie dostępowe wymagane w przypadku wyboru taryfy TURBO zalecane dla taryfy PLUS:</strong></p>
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <td>Nazwa urządzenia</td>
                            <td>Cena bez promocji</td>
                            <td>Cena w promocji</td>
                            <td>Upust</td>
                            <td>Ilość</td>
                            <td>Wartość upustów</td>
                        </tr>  
                        <tr>
                            <td>Fibrain FSR-RG1</td>
                            <td>250,00 zł</td>
                            <td>50,00 zł</td>
                            <td>200,00 zł</td>
                            <td>1</td>
                            <td>200,00 zł</td>
                        </tr>  
                        <tr>
                            <td>Routerboard RB951G 2HND</td>
                            <td>350,00 zł</td>
                            <td>150,00 zł</td>
                            <td>200,00 zł</td>
                            <td>1</td>
                            <td>200,00 zł</td>
                        </tr>  
                    </table>
                </div>
            </div>                 



            <div class="row-fluid">
                <div class="span12">
                    <strong>Oświadczam, że zapoznałem się z warunkami niniejszej promocji oraz je w pełni akceptuję.</strong>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-striped">
                        <tr>
                            <td height="50"></td>
                            <td><br/>&nbsp;<br/></td>
                            <td></td>
                        </tr>  
                        <tr>
                            <td style="border-top: 1px solid #999;">Data i podpis Abonenta</td>
                            <td>&nbsp;</td>
                            <td style="border-top: 1px solid #999;">Data i podpis przedstawiciela Operatora ( {$layout.logname} )</td>
                        </tr>  
                    </table>  
                </div>
            </div>
<div class="pull-right"><p class="text-muted">ID:{$sha1}</p></div>
   
        </div>
    </body>
</html>