{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <!--// $Id$ //-->
    <h1>{$layout.pagetitle}</h1>
    {block name="voipaccountlist-list-header-pagination"}
        {if $listdata.total != 0}
            {include file="scroller.html" loop=$voipaccountlist}
        {/if}
    {/block}

    {if !$voipaccountlist}
        {trans("No such voip accounts in database.")}
    {else}
        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-inverse">
                {block name="voipaccountlist-list-header"}
                    <tr {tip text="Click on column name to change sorting order"}>
                        <th>
                            <a href="?m=voipaccountlist&amp;o=login{if $listdata.direction == "asc" && $listdata.order == "login"},desc{/if}">{trans("Login:")}</a> 
                            {if $listdata.order == "login"}
                                <img src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">
                            {/if}
                            /
                            <a href="?m=voipaccountlist&amp;o=id{if $listdata.direction == "asc" && $listdata.order == "id"},desc{/if}">{trans("ID:")}</a> 
                            {if $listdata.order == "id"}
                                <img src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">
                            {/if}
                            / {trans("Location:")} / 
                            <a href="?m=voipaccountlist&amp;o=owner{if $listdata.direction == "asc" && $listdata.order == "owner"},desc{/if}">{trans("Customer:")}</a> 
                            {if $listdata.order == "owner"}
                                <img src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">
                            {/if}
                        </th>
                        <th>
                            <a href="?m=voipaccountlist&amp;o=phone{if $listdata.direction == "asc" && $listdata.order == "phone"},desc{/if}">{trans("Phone number:")}</a> 
                            {if $listdata.order == "phone"}
                                <img src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">
                            {/if}
                        </th>
                        <th>
                            <a href="?m=voipaccountlist&amp;o=passwd{if $listdata.direction == "asc" && $listdata.order == "passwd"},desc{/if}">{trans("Password:")}</a> 
                            {if $listdata.order == "passwd"}
                                <img src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">
                            {/if}
                        </th>
                        <th>
                            {t a=$listdata.total}Total: $a{/t}
                        </th>
                    </tr>
                {/block}
                {block name="voipaccountlist-list-filters"}
                    {*
                    <tr>
                    <th colspan="{$number_of_table_columns}">
                    <form method="get" action="?m={$layout.module}" name="choosefilter">
                    <input type="submit" class="hiddenbtn">
                    <input type="hidden" name="m" value="voipaccountlist">
                    <input type="hidden" name="page" value="1">
                    {trans("Filter:")} 
                    {trans("Customers Group:")}
                    <select size="1" name="g" onchange="document.choosefilter.submit();">
                    <option value="" {if !$listdata.customergroup} selected {/if}>{trans("- all groups -")}</option>
                    {section name=customergroups loop=$customergroups}
                    <option value="{$customergroups[customergroups].id}" {if $listdata.customergroup == $customergroups[customergroups].id} selected {/if}>
                    {$customergroups[customergroups].name|truncate:30:"...":true}
                    </option>
                    {/section}
                    </select>
                    </form>
                    </th>
                    </tr>
                    *}
                {/block}
            </thead>
            <tfoot>
                {block name="voipaccountlist-list-footer"}
                    <tr>
                        <td colspan="{$number_of_table_columns - 1}">
                            {trans("Total:")}
                        </td>
                        <td>
                        {if $listdata.total}{$listdata.total}{else}0{/if}
                    </td>				
                </tr>
            {/block}
        </tfoot>
        <tbody>
            {section name=voipaccountlist loop=$voipaccountlist start=$start max=$pagelimit}
                {block name="voipaccountlist-list-row"}
                    <tr>
                        <td>
                            <a href="?m=voipaccountinfo&amp;id={$voipaccountlist[voipaccountlist].id}">{$voipaccountlist[voipaccountlist].login}</a> ({$voipaccountlist[voipaccountlist].id|string_format:"%04d"})
                        {if $voipaccountlist[voipaccountlist].location} / {$voipaccountlist[voipaccountlist].location}{if $voipaccountlist[voipaccountlist].borough_name} ({$voipaccountlist[voipaccountlist].state_name} / {$voipaccountlist[voipaccountlist].district_name} / {$_BOROUGHTYPES[$voipaccountlist[voipaccountlist].borough_type]} {$voipaccountlist[voipaccountlist].borough_name}){/if}{/if}
                        <br>
                        <a href="?m=customerinfo&amp;id={$voipaccountlist[voipaccountlist].ownerid}" {tip a=$voipaccountlist[voipaccountlist].ownerid dynpopup='?m=customerinfoshort&amp;id=$a'}>
                            {$voipaccountlist[voipaccountlist].owner|truncate:40:"...":true|replace:" ":"&nbsp;"} ({$voipaccountlist[voipaccountlist].ownerid|string_format:"%04d"})
                        </a>
                    </td>
                    <td onClick="return self.location.href = '?m=voipaccountinfo&amp;id={$voipaccountlist[voipaccountlist].id}';" valign="top" nowrap>
                        <B>{$voipaccountlist[voipaccountlist].phone}</B>
                    </td>
                    <td onClick="return self.location.href = '?m=voipaccountinfo&amp;id={$voipaccountlist[voipaccountlist].id}';" valign="top" nowrap>
                {if ConfigHelper::checkPrivilege('hide_voip_passwords')}{'*'|str_repeat:8}{else}{$voipaccountlist[voipaccountlist].passwd}{/if}
            </td>
            <td>
                {if $voipaccountlist[voipaccountlist].access}
                    <a class="btn btn-sm btn-success" href="?m=voipaccountset&amp;id={$voipaccountlist[voipaccountlist].id}" title="{trans("Disconnect")}"><i class="fa fa-fw fa-toggle-off"></i></a>
                {else}
                    <a class="btn btn-sm btn-secondary" href="?m=voipaccountset&amp;id={$voipaccountlist[voipaccountlist].id}" title="{trans("Connect")}"><i class="fa fa-fw fa-toggle-off"></i></a>
                {/if}

                <a class="btn btn-sm btn-danger" onClick="return confirmLink(this, '{t a=$voipaccountlist[voipaccountlist].login}Are you sure, you want to remove voip account \'$a\' from database?{/t}')" href="?m=voipaccountdel&amp;id={$voipaccountlist[voipaccountlist].id}" title="[ {trans("Delete")} ]"><i class="fa fa-fw fa-trash"></i></a>
                <a class="btn btn-sm btn-primary" href="?m=voipaccountedit&amp;id={$voipaccountlist[voipaccountlist].id}" title="{trans("Edit")}"><i class="fa fa-fw fa-edit"></i></a>

            </td>
        </tr>
    {/block}
{/section}
</tbody>
</table>
{/if}

{block name="voipaccountlist-list-footer-pagination"}
    {if $listdata.total != 0}
        {include file="scroller.html" loop=$voipaccountlist}
    {/if}
{/block}
{/block}
{block name=extra_content}{/block}
